@mixin borderHover ($borderColor, $hoverColor) {
		text-decoration: none;
		position: relative;
		&::after {
			content: '';
			transition: 0.3s all;
			position: absolute;
			bottom: 2px;
			right: 0;
			width: 0;
			height: 1px;
			background-color: $borderColor;
			opacity: 0.5;
		}
		&:hover {
			color: $hoverColor;
			&::after {
				right: auto;
				left: 0;
				width: 100%;
			}
		}
}
@mixin fiftyBorderHover ($borderColor, $hoverColor) {
	a {
		text-decoration: none;
		position: relative;
		&::after {
			content: '';
			transition: 0.3s all;
			position: absolute;
			bottom: 2px;
			right: 0;
			width: 100%;
			height: 1px;
			background-color: $borderColor;
			opacity: 0.5;
		}
		&::before {
			content: '';
			transition: 0.3s all;
			position: absolute;
			bottom: 2px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $borderColor;
			opacity: 0.5;
		}
		&:hover {
			color: $hoverColor;
			&::after,
			&::before {
				width: 0;
			}
		}
	}
}
@mixin fiftyBorderHoverLink ($borderColor, $hoverColor) {
	text-decoration: none;
	position: relative;
	&::after {
		content: '';
		transition: 0.3s all;
		position: absolute;
		bottom: 2px;
		right: 0;
		width: 100%;
		height: 1px;
		background-color: $borderColor;
		opacity: 0.5;
	}
	&::before {
		content: '';
		transition: 0.3s all;
		position: absolute;
		bottom: 2px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $borderColor;
		opacity: 0.5;
	}
	&:hover {
		color: $hoverColor;
		&::after,
		&::before {
			width: 0;
		}
	}
}
@mixin borderButton($borderColor, $backgroundColor, $textColor, $textActiveColor, $activeBackgroundColor) {
	position: relative;
	transition: 0.3s all;
	z-index: 1;
	color: $textColor;
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		width: 0%;
		top: 0;
		background-color: $backgroundColor;
		height: 100%;
		z-index: -1;
		transition: 0.3s all;
	}
	&:hover,
	&:active  {
		color: $textActiveColor;
		border-color: $borderColor;
		&:after {
			left: 0;
			width: 100%;
		}
	}
	&:active {
		&:after {
			background-color: $activeBackgroundColor;
		}
	}
}
