/* FONT */
$SansProBlack: 'Sans Pro Black';
$SansProRegular: 'Sans Pro Regular';
$SansProSemiBold: 'Sans Pro SemiBold';
$SansProBold: 'Sans Pro Bold';
$SansProLight: 'Sans Pro Light';
$Rub: 'ALS Rubl';
$Icon1: 'Komus-font-1';
$Icon2: 'Komus-font-2';
$Icon3: 'Komus-font-3';
$primary-color: #d10910;
$second-color: #008b3b;