@import "global/_variables";
@import "_animation";
.four-h-four {
	padding-left: 10px;
	padding-top: 40px;

	h1 {
		padding-right: 100px;
		line-height: 30px;
		letter-spacing: 0.3px;
	}

	ul {
		margin-top: 4px;
	
		li {
			padding-left: 12px;
			line-height: 26px;
		}
	}

	.redButton {
		margin-top: 42px;
		max-width: 234px;
	}

	&__numbers {
		position: relative;
		padding-top: 70px;
		padding-bottom: 38px;
		text-align: center;
		margin-left: -10px;
		min-height: 265px;
	}

	&__number {
		font-family: $SansProBlack, sans-serif;
		font-size: 156px;
		line-height: 1;
		color: $second-color;
		display: inline-block;
		font-weight: 900;

		&--1 {
			// animation: fhf-letter-1 2s;
			transform: translateX(0);
		}

		&--2 {
			position: relative;
			color: $primary-color;
			// animation: fhf-letter-2 1s, fhf-letter-2-2 2s;
			bottom: 30px;
		}

		&--3 {
			// animation: fhf-letter-3 1.5s, fhf-letter-3-2 1s;
			transform: translateX(0);
		}
	}

	&__word {
		position: absolute;
		left: 50%;
		bottom: 50px;
		transform: translateX(-50%);
		font-family: $SansProSemiBold;
		font-size: 22px;
		color: #3b3b3b;
	}
}
@media screen and (min-width: 768px) {
	.four-h-four {
		padding-left: 0;
		padding-top: 78px;
	
		h1 {
			padding-right: 0;
			line-height: 30px;
			letter-spacing: 0.3px;
		}
	
		ul {
			margin-top: 4px;
		
			li {
				padding-left: 12px;
				line-height: 24px;
			}
		}
	
		.redButton {
			margin-top: 45px;
		}
	
		&__numbers {
			min-height: 463px;
			position: relative;
			padding-top: 70px;
			padding-bottom: 38px;
			padding-right: 118px;
			margin-left: 0;
		}
	
		&__number {
			font-size: 355px;
	
			&--1 {
				// animation: fhf-letter-1 2s;
				transform: translateX(0);
			}
	
			&--2 {
				position: relative;
				color: $primary-color;
				// animation: fhf-letter-2 1s, fhf-letter-2-2-768 2s;
				bottom: 70px;
			}
	
			&--3 {
				// animation: fhf-letter-3 1.5s, fhf-letter-3-2 1s;
				transform: translateX(0);
			}
		}
	
		&__word {
			bottom: 85px;
			transform: translateX(-87%);
			font-size: 48px
		}
	}
}
@media screen and (min-width: 1280px) {
	.four-h-four {
		padding-left: 0;
		padding-top: 69px;
		padding-bottom: 30px;

		.content {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	
		h1 {
			padding-right: 0;
			line-height: 30px;
			letter-spacing: 0.3px;
		}
	
		ul {
			margin-top: 4px;
		
			li {
				padding-left: 12px;
				line-height: 24px;
			}
		}
	
		.redButton {
			margin-top: 45px;
		}
	
		&__numbers {
			min-height: 463px;
			position: relative;
			padding-top: 50px;
			padding-bottom: 0;
			padding-right: 20px;
			margin-left: 0;
		}
	
		&__number {
			font-size: 355px;
	
			&--1 {
				animation: fhf-letter-1 2s;
				transform: translateX(0);
			}
	
			&--2 {
				position: relative;
				color: $primary-color;
				animation: fhf-letter-2 1s, fhf-letter-2-2-768 2s;
				bottom: 70px;
			}
	
			&--3 {
				animation: fhf-letter-3 1.5s, fhf-letter-3-2 1s;
				transform: translateX(0);
			}
		}
	
		&__word {
			bottom: 100px;
			transform: translateX(-50%);
			font-size: 48px
		}
	}	
}
@media screen and (min-width: 1920px) {
	.four-h-four {
		padding-top: 5px;
		padding-bottom: 0;
	
		.content {
			padding-right: 35%;
		}
	}
}