.fadeIn {
	animation: fadeIn 0.8s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fhf-letter-1 {
	0% {
		transform: translateX(-70px);
	}
	50% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes fhf-letter-2 {
	0% {
		transform: rotate(45deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fhf-letter-2-2 {
	0% {
		bottom: 400px;
	}
	50% {
		bottom: 10px;
	}
	100% {
		bottom: 30px;
	}
}

@keyframes fhf-letter-3 {
	0% {
		transform: translateX(20px);
	}
	50% {
		transform: translateX(-10px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes fhf-letter-3-2 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}


@keyframes fhf-letter-2-2-768 {
	0% {
		bottom: 400px;
	}
	50% {
		bottom: 30px;
	}
	100% {
		bottom: 70px;
	}
}

