.datepicker-btn{
	position: relative;
}
.datepicker-btn button{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: none;
	text-indent: -9999px;
	border: none;
	top: 0;
	left: 0;
	padding: 0;
	z-index: 1;
	margin: 0;
	color:transparent;
}
.ui-datepicker.ui-widget{
	z-index: 5 !important;
	padding-bottom:0;
	border-radius: 10px;
	background-color: #ffffff;
	width: 300px;
	font-size:13px;
	border: none;
	margin-left: -10px;
	.ui-datepicker-calendar{
		width:100%;
		border-top: 0;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		border: 1px solid #e8e8e8;
	}
	table thead th {
		color: #cdcdcd;
		font-size: 15px;
		line-height: 17.05px;
		font-family: $SansProRegular;
		text-transform: lowercase;
		background: none;
		border-radius: 0;
		padding: 0;
		padding-top: 16px;
		padding-bottom: 3px;
		span {
			width: 34px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	table thead th:last-of-type {
		padding-right: 16px;
	}
	table thead th:first-of-type {
		padding-left: 16px;
	}
	table td:last-of-type {
		padding-right: 16px;
	}
	table td:first-of-type {
		padding-left: 16px;
	}
	.ui-datepicker-header{
		background: none;
		border:none;
		padding: 0;
		position: relative;
		margin-bottom: -1px;
	}
	button.ui-datepicker-current {
		display: none;
	}
	td {
		border: 0;
		position: relative;
		text-align: center;
		overflow: hidden;
		padding: 0;
		padding-bottom: 3px;
		&.holiday {
			a {
				background-color: #f3f3f3;
				pointer-events: auto;
				transition: 0.24s all;
				&:hover {
					background-color: #008b3b;
					color: #ffffff;
					text-decoration: none;
				}
			}
		}
		a {
			width: 34px;
			height: 33px;
			border-radius: 16px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			color: #3b3b3b;
			font-family: $SansProSemiBold;
			transition: 0.24s all;
			pointer-events: none;
		}
	}
	tr:last-of-type td {
		padding-bottom: 18px;
	}
	.ui-datepicker-title{
		width: 100%;
		height: 64px;
		border-radius: 20px 20px 5px 5px;
		background-color: #d10910;
		color: #ffffff;
		font-size: 17px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.ui-datepicker-month {
		border-bottom: 1px solid #fff;
	}
	.ui-datepicker-prev,
	.ui-datepicker-next {
		font-size: 0;
		width: 27px;
		height: 27px;
		background-color: #ffffff;
		position: absolute;
		top: 18px;
		right: 17px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: 0.24s all;
		&:before {
			font-family: $Icon1;
			color: #008b3b;
			content: "\65";
			font-size: 10px;
			transition: 0.24s all;
		}
		&:hover {
			background-color: #008b3b;
			&:before {
				color: #fff;
			}
		}
	}
	.ui-datepicker-prev {
		left: 17px;
		right: auto;
		&:before {
			content: "\64";
		}
	}
}