.main-footer {
	margin-top: -1243px;
	overflow-x: hidden;

	.content {
		padding-left: 10px;
		padding-right: 10px;
	}

	&__top {
		padding-top: 33px;
		padding-bottom: 15px;

		.content {
			display: flex;
			flex-direction: column;
		}
	}

	&__bottom {
		padding: 30px 0;
		background-color: $second-color;
		color: #fff;

		a {
			color: #fff;
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin-bottom: 30px;
			width: 50%;
			height: 110px;

			.ic {
				display: inline-block;
				height: 40px;

				&::before {
					content: '';
					display: block;
					color: #fff;
					font-family: $Icon2;
					font-style: normal;
					font-size: 30px;
				}

				&-1::before {
					content: '\6f';
					font-size: 35px;
				}

				&-2::before {
					content: '\73';
					font-size: 39px;
				}

				&-3::before {
					content: '\77';
					font-size: 32px;
				}

				&-4::before {
					content: '\72';
					font-size: 36px;
				}

				&-5::before {
					content: '\70';
					font-size: 36px;
				}

				&-6::before {
					content: '\71';
					font-size: 35px;
				}

				&-7::before {
					content: '\75';
					font-size: 33px;
				}

				&-8::before {
					content: '\74';
				}
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			.text {
				a {
					position: relative;
					display: inline-block;
					font-size: 13px;
					margin-bottom: 10px;

					&::after {
						position: absolute;
						bottom: -3px;
						left: 0;
						content: '';
						width: 100%;
						height: 1px;
						background-color: #fff;
						transition: width 0.4s, left 0.4s;
					}

			
					&:hover {
						text-decoration: none;
			
						&::after {
							width: 0;
							left: 50%;
							transition: width 0.4s, left 0.4s;
						}
					}
				}

				p {
					font-size: 12px;
					line-height: 18px;
				}
			}
		}
	}

	&__logo {
		width: 100%;
		display: flex;
		padding-left: 5px;
		margin-bottom: 25px;

		a {
			display: inline-block;
			width: 130px;
			height: 55px;
		}

		svg {
			padding-top: 3px;
			width: 130px;
			height: 55px;
		}

		.copyright {
			width: 143px;
			font-size: 11px;
			font-weight: 400;
			line-height: 14px;
			color: #707070;
			padding-left: 22px;
		}
	}

	&__box {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		width: 130px;
		padding-top: 15px;
		padding-left: 5px;
	}

	&__email {
		@extend .main-header__email;
		font-size: 14px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;

		&::before {
			font-size: 29px;
			margin-right: 0;
			margin-bottom: 20px;
			line-height: 1;
		}
	}

	&__phone {
		@extend .main-header__phone;
		font-size: 16px;
		display: flex;
		flex-direction: column;
		align-items: center;

		&::before {
			font-size: 36px;
			margin-right: 0;
			margin-bottom: 15px;
			line-height: 1;
		}
	}

	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		
		a {
			color: #707070;
			border-bottom: 1px solid transparent;
			transition: border-color 0.4s;			

			&:hover {
				text-decoration: none;
				border-bottom: 1px solid #707070;
				transition: border-color 0.4s;
			}
		}

		&--1 {
			font-size: 16px;
			line-height: 33px;
			width: 115px;
			padding-left: 27px;
		}

		&--2 {
			position: relative;
			margin-top: 30px;
			padding-top: 22px;
			font-size: 14px;
			line-height: 37px;
			width: 100%;

			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 110%;
				height: 2px;
				background-color: $second-color;
				top: 0;
				left: -5%;
			}
		}
	}

	&__social {
		width: 100%;
		padding-top: 7px;

		&-title {
			display: inline-block;
			width: 100%;
			text-align: center;
			font-family: $SansProSemiBold;
			font-size: 18px;
			line-height: 24px;
			color: #3b3b3b;
		}

		&-list {
			display: flex;
			justify-content: space-between;
			list-style: none;
			padding: 0;
		}

		&-link {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 33px;
			height: 33px;
			line-height: 35px;
			border-radius: 50%;
			text-align: center;

			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				width: 35px;
				height: 35px;
				border-radius: 50%;
				font-style: normal;
				font-family: $Icon2;
				font-size: 36px;
			}

			&:hover {
				text-decoration: none;
			}
		}

		.icon-tw {
			&:before {
				content: '\65';
			}
		}

		.icon-yt {
			&:before {
				content: '\66';
			}
		}

		.icon-vk {
			&:before {
				content: '\67';
			}
		}

		.icon-gplus {
			&:before {
				content: '\68';
			}
		}

		.icon-fb {
			&:before {
				content: '\69';
			}
		}

		.icon-lj {
			&:before {
				content: '\6a';
			}
		}

		.icon-linkedin {
			&:before {
				content: '\6b';
			}
		}

	}

	&__col {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		max-height: 586px;
	}
}

@media screen and (min-width: 768px) {
	.main-footer {
		margin-top: -680px;

	.content {
		padding-left: 35px;
		padding-right: 35px;
	}

		&__top {
			padding-top: 40px;
			padding-bottom: 22px;
			padding-left: 10px;
			padding-right: 10px;
		}

	
		&__bottom {
			padding-top: 35px;
			padding-bottom: 32px;
	
			&-item {
				flex-direction: row;
				align-items: flex-start;
				text-align: left;
				margin-bottom: 10px;
				width: 33.3%;
				height: 70px;
				padding-left: 12px;
				padding-right: 12px;
	
				.ic {
					display: inline-block;
					height: 100%;
					padding-top: 10px;
					margin-right: 20px;
				}
	
				&:last-of-type {
					margin-bottom: 0;
				}
	
				.text {
					a {
						position: relative;
						display: inline-block;
						font-size: 13px;
						margin-bottom: 10px;
	
						&::after {
							position: absolute;
							bottom: -3px;
							left: 0;
							content: '';
							width: 100%;
							height: 1px;
							background-color: #fff;
							transition: width 0.4s, left 0.4s;
						}
	
				
						&:hover {
							text-decoration: none;
				
							&::after {
								width: 0;
								left: 50%;
								transition: width 0.4s, left 0.4s;
							}
						}
					}
	
					p {
						font-size: 12px;
						line-height: 18px;
					}
				}
			}
		}

		&__logo {
			flex-direction: column;
			width: 220px;
			padding-top: 8px;
			padding-left: 0;
			margin-bottom: 21px;

			a {
				width: 194px;
				height: 77px;
			}

			svg {
				padding-top: 0;
				width: 194px;
				height: 77px;
				margin-bottom: 13px;
			}

			.copyright {
				width: 100%;
				font-size: 12px;
				line-height: 18px;
			}
		}

		&__box {
			flex-direction: column;
			flex-wrap: wrap;
			height: 240px;
		}

		&__contacts {
			display: flex;
			flex-direction: column;
			width: 220px;
			padding-top: 0;
			padding-left: 0;
		}

		&__email {
			flex-direction: row;
			margin-bottom: 20px;
			font-size: 18px;
	
			&::before {
				font-size: 22px;
				margin-right: 20px;
				margin-bottom: 0;
				line-height: 1;
			}
		}
	
		&__phone {
			flex-direction: row;
			font-size: 22px;
	
			&::before {
				font-size: 25px;
				margin-right: 20px;
				margin-bottom: 0;
				line-height: 1;
			}
		}

		&__list {
			padding: 0;
			margin: 0;
			list-style: none;
			
			a {
				color: #707070;
			}

			&--1 {
				font-size: 16px;
				line-height: 38px;
				width: 200px;
				padding-left: 77px;
			}

			&--2 {
				position: relative;
				margin-top: 0;
				padding-top: 5px;
				padding-left: 35px;
				font-size: 16px;
				line-height: 24px;
				width: 255px;

				li {
					margin-bottom: 13px;

					&:last-of-type {
						margin-bottom: 0;
					}
				}

				&::before {
					display: none;
				}
			}
		}

		&__social {
			width: 100%;
			padding-top: 17px;
			display: flex;
			align-items: center;

			&-title {
				display: inline-block;
				width: 140px;
				text-align: left;
				font-family: $SansProSemiBold;
				font-size: 18px;
				line-height: 24px;
				color: #3b3b3b;
			}

			ul {
				display: flex;
				justify-content: space-between;
				list-style: none;
				padding: 0;
				width: 305px;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.main-footer {
		margin-top: -525px;
		.content {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			padding-left: 50px;
			padding-right: 50px;
		}

		&__top {
			padding-bottom: 50px;
		}
		&__box {
			width: 100%;
			max-width: 950px;
		}
		&__email {
			margin-bottom: 20px;
		}
		&__social {
			max-width: 170px;
			flex-wrap: wrap;
			padding-top: 6px;
			&-title {
				width: 100%;
			}
			ul {
				flex-wrap: wrap;
				justify-content: flex-start;
			}
			li {
				margin-right: 10px;
				margin-bottom: 10px;

				&:nth-of-type(4n) {
					margin-right: 0;
				}
			}
			a {
				&:hover {
					text-decoration: none;
					background-color: $primary-color;
					
					&::before {
						color: #fff;
						transition: color 0.3s, background-color 0.3s;					
					}
				}
			}
		}
		&__list--1 {
			padding-left: 60px;
			width: 180px;
		}
		&__list--2 {
			padding-left: 0;
			width: 350px;
		}

		&__bottom {
			padding-top: 35px;
			padding-bottom: 13px;
	
			&-item {
				width: 25%;
			}
		}
	}
}
@media screen and (min-width: 1910px) {
	.main-footer {
		margin-top: -405px;

	.content {
		padding-left: 55px;
		padding-right: 55px;
	}

		&__bottom {
			padding-top: 35px;
			padding-bottom: 75px;
	
			&-item {
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				width: 222px;

				.ic {
					margin-right: 0;
					margin-bottom: 20px;
				}

				.text {
					display: inline-flex;
					flex-direction: column;

					a {
						font-size: 16px;
					}

					p {
						display: inline;
						text-align: left;
						font-size: 12px;
					}
				}
			}
		}

		&__contacts {
			padding-left: 70px;
			padding-right: 70px;
			padding-top: 10px;
			box-sizing: content-box;
		}
		&__top {
			padding-bottom: 20px;
		}
		&__box {
			width: 100%;
			max-width: 1382px;
			height: 170px;
			flex-direction: row;
		}
		&__email {
			margin-bottom: 20px;
		}
		&__social {
			max-width: 170px;
			flex-wrap: wrap;
			padding-top: 6px;
			&-title {
				width: 100%;
			}
			ul {
				flex-wrap: wrap;
				justify-content: flex-start;
			}
			li {
				margin-right: 10px;
				margin-bottom: 10px;

				&:nth-of-type(4n) {
					margin-right: 0;
				}
			}
		}
		&__list {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			max-height: 151px;

			li {
				max-width: 160px;
			}
		}
		&__list--1 {
			padding-left: 0;
			width: 260px;
			margin-right: 60px;

			li {
				margin-right: 40px;
			}
		}
		&__list--2 {
			padding-left: 0;
			width: 390px;

			li {
				margin-right: 60px;
			}
		}

	}
}
