.main-header {
	.content {
		padding-left: 10px;
		padding-right: 10px;
	}

	&__top {
		.content {
			display: flex;
		}
	}

	&__logo {
		position: absolute;
		left: 10px;
		top: 18px;

		svg {
			width: 110px;
			height: 43px;
		}
	}

	&__links {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
	}

	&__contacts {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding-top: 10px;
		padding-bottom: 15px;
		padding-right: 10px;
	}

	&__email {
		display: block;
		font-size: 15px;
		font-weight: 400;
		color: #707070;
		margin-bottom: 5px;

		span {
			position: relative;
			display: inline-block;
		}

		&:hover {
			text-decoration: none;

			span::after {
				width: 0;
				left: 50%;
				transition: width 0.4s, left 0.4s;
			}
		}

		&::before {
			content: '\61';
			display: inline-block;
			vertical-align: middle;
			font-family: $Icon1;
			font-size: 17px;
			color: $second-color;
			margin-right: 8px;
		}
	}

	&__phone {
		display: block;
		font-family: $SansProBold;
		font-size: 16px;
		font-weight: 700;
		color: #3b3b3b;
		transition: 0.24s all;
		&:hover {
			text-decoration: none;
			color: #7d7d7d;
		}

		&::before {
			content: '\62';
			display: inline-block;
			vertical-align: middle;
			font-family: $Icon1;
			font-size: 19px;
			color: $second-color;
			margin-right: 10px;
		}
	}

	&__callback-btn.button {
		display: none;
	}

	&__basket {
		padding-left: 50%;
		padding-top: 23px;
		padding-bottom: 15px;
		width: 100%;
		min-height: 43px;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&:hover {
			text-decoration: none;
		}

		&-ic {
			position: relative;
			margin-right: 25px;

			svg {
				width: 30px;
				height: 25px;
			}
		}

		&-counter {
			position: absolute;
			right: -17px;
			bottom: -2px;
			width: 23px;
			height: 23px;
			border-radius: 50%;
			text-align: center;
			line-height: 23px;
			font-size: 12px;
			background-color: #f3f3f3;
			color: #707070;
		}

		&-summary {
			font-size: 18px;
			font-weight: 900;
			color: #3b3b3b;

			span {
				display: inline-block;
				line-height: 18px;
				vertical-align: top;
			}

			.rub {
				display: inline-block;
				vertical-align: top;
				font-size: 11px;
				line-height: 1;
				margin-left: -3px;
				padding-top: 5px;
				padding-left: 0;
			}
		}
	}

	&__buttons-mob {
		display: flex;
	}

	&__callback-mob {
		position: relative;
		height: 45px;
		width: 45px;
		border-radius: 50%;
		background-color: $primary-color;

		&::after {
			content: '\61';
			position: absolute;
			top: 50%;
			left: 50%;
			font-family: $Icon2;
			font-size: 16px;
			color: #fff;
			transform: translate(-50%, -50%);
		}
	}

	&__search-mob {
		position: relative;
		height: 45px;
		width: 45px;
		border-radius: 50%;
		background-color: #706f6f;
		margin-left: 15px;

		&::after {
			content: '\63';
			position: absolute;
			top: 50%;
			left: 50%;
			font-family: $Icon1;
			font-size: 16px;
			color: #fff;
			transform: translate(-50%, -50%);
		}
	}

	&__form {
		display: none;
		min-height: 70px;
		background-color: #f9f9f9;
	}

	&__menu {
		background-color: #f3f3f3;

		.content {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-list {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
		}

		&-item {
			position: relative;
			display: none;

			&:first-of-type {
				display: block;
			}

			&:last-of-type::after {
				display: none;
			}

			&::after {
				content: '';
				position: absolute;
				right: -1px;
				top: 50%;
				height: 10px;
				width: 2px;
				display: none;
				background: rgba(#707070, 0.25);
				transform: translateY(-50%);
			}
		}

		&-link {
			font-family: $SansProSemiBold;
			font-size: 18px;
			line-height: 1;
			text-transform: uppercase;
			color: #3b3b3b;
			padding: 25px 37px;
			display: inline-block;

			&:hover {
				text-decoration: none;
			}
		}

		&-btn {
			font-family: $SansProSemiBold;
			font-size: 18px;
			line-height: 1;
			text-transform: uppercase;
			color: #3b3b3b;
			padding: 25px 28px;

			&::before {
				content: '\76';
				display: inline-block;
				vertical-align: top;
				font-family: $Icon1;
				font-size: 16px;
				line-height: 18px;
				text-transform: none;
				color: rgba(#706f6f, 0.25);
				margin-right: 15px;
			}
		}
	}

	&__swim {
		position: fixed;
		display: flex;
		justify-content: center;
		flex-direction: column;
		top: -120%;
		width: 100%;
		background-color: #fefefe;
		box-shadow: 0 4px 6px rgba(0, 0, 1, 0.05);
		opacity: 0;
		transform: translateZ(0);
		transition: top 1s, opacity 0.2s;

		&.fixed {
			position: fixed;
			top: 0;
			z-index: 2000;
			opacity: 1;
			transform: translateZ(0);
			transition: top 1s, opacity 0.2s;

			.main-header__swim-search {
				display: inline-block;
				background-color: transparent;
				outline: none;
				border: none;
				padding-left: 20px;
			}
		}

		&-menu {
			display: none;
		}

		&-form {
			@extend .main-header__form;
			opacity: 0;
			min-height: 0;
			height: 0;
			transform: translateY(-100%);
			transition: all 0.6s;
			position: relative;
			z-index: -1;

			&.show {
				min-height: 70px;
				height: 70px;
				opacity: 1;
				z-index: 1;
				transform: translateY(0);
				transition: all 0.6s;
			}
		}

		&-search {
			display: none;

			span {
				display: inline-block;

				&::before {
					content: '\e92d';
					display: block;
					font-family: $Icon3;
					color: $second-color;
					font-size: 34px;
				}
			}
		}

		.searchButton {
			display: none;
		}

		.main-header__top {
			width: 100%;
			display: flex;
			height: 83px;
			align-items: center;
			justify-content: space-between;
			padding-left: 20px;
			padding-right: 20px;
		}

		.main-header__logo {
			display: none;
		}

		.main-header__links {
			width: 50%;
		}

		.main-header__menu-btn {
			display: block;
			width: 133px;
			border-radius: 25px;
			background-color: #f3f3f3;
			padding: 15px 10px;
			text-align: center;

			&:hover {
				text-decoration: none;
			}
		}

		.main-header__basket {
			padding: 0;

			&-summary {
				span {
					display: inline-block;
					line-height: 18px;
					vertical-align: top;
				}

				.rub {
					display: inline-block;
					vertical-align: top;
					font-size: 11px;
					line-height: 1;
					margin-left: -3px;
					padding-top: 5px;
					padding-left: 0;
				}
			}
		}

		.main-header__contacts {
			display: none;
		}
	}
}

.breadcrumb {
	.content {
		padding-left: 20px;
		padding-right: 20px;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		padding-top: 25px;
		margin: 0;
		list-style: none;
	}

	&__item {
		padding-right: 55px;
		font-size: 18px;
		line-height: 2;

		a {
			position: relative;
			color: #707070;
			border-bottom: 2px solid #706f6f;
			text-decoration: none;
			padding-bottom: 3px;
			transition: color 0.4s, border-color 0.4s;

			&::after {
				position: absolute;
				right: -35px;
				top: 0;
				content: '\75';
				font-family: $Icon1;
				font-size: 16px;
				color: $second-color;
			}

			&:hover {
				text-decoration: none;
				color: $second-color;
				border-color: $second-color;
				transition: color 0.4s, border-color 0.4s;
			}
		}

		span {
			color: #b4b4b4;
		}
	}
}

@media (min-width: 485px) {
	.main-header__menu-item {
		&:nth-of-type(2) {
			display: block;
		}
	}
}

@media (min-width: 645px) {
	.main-header__menu-item {
		&:last-of-type {
			display: block;
		}
	}
}

@media (min-width: 768px) {
	.main-header {
		.content {
			padding-left: 34px;
			padding-right: 34px;
		}

		&__top {
			padding: 10px 0;

			.content {
				align-items: center;
			}
		}

		&__logo {
			position: relative;
			left: auto;
			top: auto;

			svg {
				width: 150px;
				height: 59px;
			}
		}

		&__links {
			flex-direction: row;
			justify-content: space-between;
		}

		&__contacts {
			padding-top: 5px;
			padding-right: 0;
			padding-left: 10px;
			justify-content: center;
			width: 430px;

			&-links {
				padding-right: 15px;
			}
		}

		&__email {
			margin-bottom: 10px;
		}

		&__phone {
			font-size: 19px;
		}

		&__basket {
			padding: 0;
			padding-top: 15px;
			padding-bottom: 15px;
			width: 120px;
			height: 102px;
			border: 1px solid #e8e8e8;
			border-radius: 25px;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			&-ic {
				margin-right: 0;

				svg {
					width: 42px;
					height: 35px;
				}
			}

			&-counter {
				right: -10px;
			}
		}

		&__callback-btn.button {
			display: inline-block;
			width: 153px;
			font-size: 14px;
			padding-top: 8px;
			padding-bottom: 8px;
			margin-top: 5px;
		}

		&__menu {
			&-item {
				&::after {
					display: block;
				}
			}
		}

		&__form {
			display: block;

			form {
				display: flex;
				flex-direction: row;
				justify-content: center;
				padding-top: 15px;
				padding-bottom: 15px;
			}

			.formField {
				margin-bottom: 0;
				width: 110px;
				padding: 0 5px;
				box-sizing: content-box;

				&:first-of-type {
					width: 193px;
					padding-right: 25px;
				}

				&:nth-of-type(2) {
					width: 120px;
				}

				&:nth-of-type(3) input,
				&:last-of-type input {
					padding-left: 15px;
				}
			}

			.searchButton {
				width: 116px;
				margin-left: 20px;
				&:active,
				&:hover {
					&::before {
						display: none;
					}

					span {
						transform: translateY(0);
					}
				}
			}
		}

		&__buttons-mob {
			display: none;
		}

		&__swim {
			.main-header__top {
				height: 143px;
			}

			.main-header__logo {
				display: block;
			}

			.main-header__menu-btn {
				width: 103px;

				&::before {
					display: none;
				}
			}

			.main-header__links {
				width: 420px;
			}

			.main-header__contacts {
				display: flex;
				width: auto;
			}

			.main-header__callback-btn {
				display: none;
			}

			.main-header__buttons-mob {
				display: flex;
				flex-direction: column-reverse;

				a {
					display: inline-block;
				}
			}

			.main-header__basket {
				width: 125px;
				padding-top: 15px;
				padding-bottom: 15px;
			}

			.main-header__search-mob {
				margin-bottom: 10px;
				margin-left: 0;
			}
		}
	}
	.breadcrumb__list {
		padding-top: 30px;
	}
}
.siteLogo {
	transition: 0.3s all;
	&:hover {
		opacity: 0.7;
	}
}
@media (min-width: 1280px) {
	.main-header {
		.content {
			padding-left: 50px;
			padding-right: 50px;
		}

		&__top {
			padding: 18px 0;
		}

		&__logo {
			svg {
				width: 180px;
				height: 75px;
			}
		}

		&__contacts {
			margin-left: auto;
			width: 765px;
			justify-content: flex-end;
			padding-left: 0;
			padding-right: 45px;

			&-links {
				display: flex;
				padding-right: 45px;
			}
		}

		&__basket {
			width: 235px;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
			transition: 0.24s all;
			&:hover {
				border-color: #008b3b;
			}
			&-ic {
				margin-right: 25px;
			}
		}

		&__email {
			font-size: 18px;
			margin-bottom: 0;
			margin-right: 45px;

			&::before {
				font-size: 19px;
				margin-right: 19px;
			}

			span {
				position: relative;
				display: inline-block;

				&::after {
					position: absolute;
					bottom: -3px;
					left: 0;
					content: '';
					width: 100%;
					height: 1px;
					background-color: #706f6f;
					transition: width 0.4s, left 0.4s;
				}
			}
		}

		&__phone {
			font-size: 22px;

			&::before {
				font-size: 25px;
				margin-right: 19px;
			}
		}

		&__callback-btn.button {
			width: 192px;
			padding-top: 13px;
			padding-bottom: 13px;
			font-size: 18px;
			margin-top: 4px;
		}
		&__form {
			display: block;

			form {
				display: flex;
				flex-direction: row;
				justify-content: center;
				padding-top: 15px;
				padding-bottom: 15px;
				padding-right: 5px;
			}

			.formField {
				margin-bottom: 0;
				width: 143px;
				padding: 0 10px;
				box-sizing: content-box;

				&:first-of-type {
					width: 307px;
					padding-right: 0;
				}

				&:nth-of-type(2) {
					width: 163px;
				}

				&:nth-of-type(3) input,
				&:last-of-type input {
					padding-left: 23px;
				}
			}

			.searchButton {
				width: 149px;
				margin-left: 15px;
				&:hover {
					&::before {
						display: block;
					}

					span {
						transform: translateY(300%);
					}
				}
			}
		}

		&__menu {
			&-list {
				justify-content: center;
				width: 100%;
				overflow: visible;
			}
			&-item {
				display: inline-block;
			}

			&-link {
				position: relative;
				padding: 25px 39px;
				transition: color 0.24s, background-color 0.3s, transform 0.24s;
				z-index: 1;

				&:hover {
					color: #fff;
					background-color: $primary-color;
					transform: scale(1.03);
					transition: color 0.24s, background-color 0.3s, transform 0.24s;
				}
			}

			&-btn {
				display: none;
			}
		}

		&__swim {
			&-form {
				form {
					display: none;
				}

				&.show {
					form {
						display: flex;
						flex-direction: row;
						justify-content: center;
						padding-top: 15px;
						padding-bottom: 15px;
						padding-right: 5px;
					}
				}
				.formField {
					width: 176px;
					&:first-of-type {
						width: 597px;
						padding-right: 20px;
					}
					&:nth-of-type(2) {
						width: 166px;
					}
				}
			}
			&-menu {
				display: block;
			}
			.main-header__top {
				height: 100px;
			}

			.main-header__logo {
				display: block;

				svg {
					width: 160px;
					height: 55px;
				}
			}

			.main-header__menu-btn {
				display: none;
			}

			.main-header__swim-menu {
				&-link {
					display: inline-block;
					border-radius: 25px;
					background-color: #f3f3f3;
					width: 145px;
					font-family: $SansProSemiBold;
					font-size: 18px;
					font-weight: 400;
					line-height: 47.31px;
					text-align: center;
					text-transform: uppercase;
					color: #424242;

					&:nth-of-type(2) {
						display: none;
					}

					&:hover {
						background-color: $primary-color;
						color: #fff;
						text-decoration: none;

						&:after {
							display: none;
						}
					}
				}
			}

			.main-header__links {
				width: 820px;
			}

			.main-header__contacts {
				display: flex;
				width: auto;
				padding-left: 0;
				padding-top: 0;
				padding-bottom: 0;
				padding-right: 40px;

				&-links {
					padding-right: 45px;
				}
			}

			.main-header__callback-btn {
				display: none;
			}

			.main-header__buttons-mob {
				display: flex;
				flex-direction: row;

				a {
					display: inline-block;
				}
			}

			.main-header__basket {
				width: 167px;
				height: 70px;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;
				padding: 0;

				&-ic {
					margin-right: 0;
				}
			}

			.main-header__search-mob {
				margin-bottom: 0;
				margin-left: 15px;
			}
		}
	}
	.breadcrumb {
		&__list {
			padding-top: 20px;
		}
		.content {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}

@media (min-width: 1900px) {
	.main-header {
		.content {
			padding-left: 70px;
			padding-right: 70px;
		}

		&__top {

			&-form {
				display: flex;
				justify-content: flex-end;
				width: 574px;

				form {
					position: relative;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					width: 487px;
				}

				.formField {
					width: 143px;
					margin-bottom: 0;

					&:first-of-type {
						width: 487px;
						margin-bottom: 15px;

						input {
							padding-right: 130px;
						}
					}

					&:nth-of-type(2) {
						width: 163px;
					}
				}

				.searchButton {
					position: absolute;
					right: 0;
					top: 0;
					z-index: 2;
					padding-top: 10px;
					height: 44px;
					width: 116px;
					height: 44px;
					padding-top: 10px;
				}
			}
		}

		&__form {
			position: absolute;
			top: 20px;
			left: 264px;
			background-color: transparent;

			.content {
				display: flex;
				justify-content: flex-end;
				width: 574px;
				padding: 0;
			}

			form {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 487px;
				padding: 0;
			}

			.formField {
				width: 143px;
				margin-bottom: 0;
				padding: 0;

				&:first-of-type {
					width: 100%;
					margin-bottom: 15px;
					
					input {
						padding-right: 130px;
					}
				}

				&:nth-of-type(2) {
					width: 163px;
				}

				input {
					padding-top: 7px;
					padding-bottom: 10px;
				}
			}

			.searchButton {
				position: absolute;
				right: 0;
				top: 0;
				z-index: 2;
				padding-top: 8px;
				height: 40px;
				width: 116px;
			}
			min-height: 0;
		}

		&__logo {
			svg {
				width: 194px;
				height: 77px;
			}
		}

		&__links {
			width: 1015px;
		}

		&__contacts {
			width: 780px;
		}

		&__swim {
			.main-header__top {
				max-width: 1920px;
				margin: 0 auto;
				padding-left: 70px;
				padding-right: 70px;
			}

			.main-header__logo {
				display: block;
			}

			.main-header__menu-btn {
				display: none;
			}

			.main-header__swim-menu {
				font-size: 0;
				&-link {
					position: relative;
					display: inline-block;
					border-radius: 25px;
					background-color: #f3f3f3;
					width: 145px;
					font-family: $SansProSemiBold;
					font-size: 18px;
					font-weight: 400;
					line-height: 47.31px;
					text-align: center;
					text-transform: uppercase;
					color: #424242;

					&:nth-of-type(1) {
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;

						&::after {
							content: '';
							position: absolute;
							right: 0;
							top: 50%;
							height: 10px;
							width: 2px;
							background-color: rgba(112, 112, 112, 0.25);
							top: 50%;
							transform: translateY(-50%);
						}
					}

					&:nth-of-type(2) {
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
						display: inline-block;
					}
				}
			}

			.main-header__links {
				width: 1125px;
			}

			.main-header__contacts {
				display: flex;
				width: 1225px;
				padding-left: 0;
				padding-top: 0;
				padding-bottom: 0;

				.searchButton {
					display: inline-block;
					max-width: 140px;
					padding-top: 13px;
					padding-bottom: 13px;
					height: auto;
					border-radius: 25px;

					&:active {
						&::before {
							display: none;
						}
						span {
							transform: translateY(0);
						}
					}

					&:hover {
						&::before {
							top: 50%;
							transform: translate(-50%, -50%);
						}
						span {
							transform: translateY(300%);
						}
					}
				}
			}

			.main-header__callback-btn {
				display: inline-block;
				margin-right: 40px;
			}

			.main-header__buttons-mob {
				display: none;
			}

			.main-header__basket {
				width: 295px;
				height: 70px;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding-top: 0;
				padding-bottom: 0;

				&-ic {
					margin-right: 25px;
				}
			}

			.main-header__search-mob {
				margin-bottom: 0;
				margin-left: 15px;
			}
		}
	}
	.breadcrumb {
		.content {
			padding-left: 70px;
			padding-right: 70px;
		}

		&__list {
			padding-top: 17px;
		}
	}
}

.ie .hidden-overflow .main-header__swim {
	padding-right: 16px;
}

.chrome .hidden-overflow .main-header__swim {
	padding-right: 0;
}

.firefox .hidden-overflow .main-header__swim {
	padding-right: 17px;
}
