@media screen and (min-width: 768px) {
	.content-container {
		padding: 0 0 680px;
	}
	.paggination--inner-page {
		.paggination__list {
			padding-left: 31px;
			padding-right: 31px;
		}
	}
	.ui-datepicker.ui-widget {
		width: 324px;
		margin-left: 0;
		.ui-datepicker-title {
			height: 69px;
		}
		table thead th {
			padding-bottom: 9px;
		}
		td {
			padding-bottom: 6px;
		}
		.ui-datepicker-next,
		.ui-datepicker-prev {
			top: 25px;
			&:hover {
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
	.content {
		padding-left: 34px;
		padding-right: 34px;
	}
	.uploadBlock {
		display: flex;
		max-width: 498px;
		align-items: baseline;
	}
	.uploadFile {
		&__document {
			margin-top: 0;
		}
		&__title {
			margin-bottom: 0;
		}
	}
	.tabBlock {
		&__title {
			h2 {
				margin-top: 20px;
			}
		}
		&__tabs {
			padding-left: 40px;
			padding-right: 40px;
			background: none;
			padding-bottom: 4px;
		}
		&__tab {
			font-size: 16px;
			padding-left: 20px;
			padding-right: 20px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				width: calc(100% - 40px);
				left: 20px;
				height: 3px;
				background-color: #f3f3f3;
				border-radius: 2px;
				bottom: 6px;
				transition: 0.24s all;
			}
			&.-active {
				&:after {
					background-color: #008b3b;
				}
			}
			&:hover {
				&:after {
					background-color: #008b3b;
				}
			}
		}
	}
	.content-social {
		flex-direction: row;
		align-items: center;
		padding-top: 33px;
		padding-bottom: 35px;

		&__title {
			margin-right: 20px;
		}

		ul {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
@media screen and (min-width: 1280px) {
	.content-container {
		padding: 0 0 525px;
	}
	.content {
		padding-left: 50px;
		padding-right: 50px;
	}
	.tabBlock {
		&__title {
			h2 {
				margin-top: 36px;
			}
		}
		&__tabs {
			justify-content: center;
		}
	}
	.content-social {
		max-width: 100%;
		flex-direction: row;
		align-items: center;
		padding-top: 33px;
		padding-bottom: 45px;

		&__title {
			margin-right: 15px;
		}

		ul {
			margin-top: 0;
			margin-bottom: 0;
		}

		li:nth-of-type(4) {
			margin-right: 10px;
		}
	}
}
@media screen and (min-width: 1920px) {
	.content-container {
		padding: 0 0 405px;
	}
	.content {
		padding-left: 70px;
		padding-right: 70px;
	}
	.tabBlock {
		max-width: 1920px;
		margin: 0 auto;
	}
	.main-footer {
		&__col {
			justify-content: space-between;
		}
		&__bottom-item {
			width: 220px;
		}
	}
	.content-social {
		max-width: 100%;
		flex-direction: row;
		align-items: center;
		padding-top: 42px;
		padding-bottom: 45px;

		&__title {
			margin-right: 15px;
		}

		ul {
			margin-top: 0;
			margin-bottom: 0;
		}

		li:nth-of-type(4) {
			margin-right: 10px;
		}
	}
}