@charset "UTF-8";

@import "global/_variables";
@import "global/_mixin";

.sliderAboutCompany {
	&__item {
		background-repeat: no-repeat;
		background-size: cover;
		height: 219px;
	}
	&__img  {
		max-width: 100%;
		border-radius: 10px;
		overflow: hidden;
	}
	.slick-dots {
		position: absolute;
		bottom: 10px;
		right: 0;
		left: 0;
		margin: 0 auto;
		text-align: center;
		li {
			width: 16px;
			height: 16px;
			padding: 0;
			display: inline-block;
			margin-left: 5px;
			margin-right: 5px;
			&:before {
				content: none;
			}
			button {
				font-size: 0;
				background-color: #fff;
				border: 0;
				width: 100%;
				height: 100%;
				display: flex;
				border-radius: 50%;
				justify-content: center;
				align-items: center;
				padding: 0;
				&:after {
					content: '';
					width: 9px;
					height: 9px;
					background-color: transparent;
					border-radius: 50%;
					transition: 0.24s all;
				}
			}
			&.slick-active {
				button {
					&:after {
						background-color: #008b3b;
					}
				}
			}
		}
	}
}
.aboutCompany {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 40px;
	&__text {
		padding-left: 20px;
		padding-right: 20px;
		p {
			font-size: 13px;
			line-height: 17px;
		}
	}
	&__title {
		font-family: $SansProSemiBold;
		font-size: 30px;
		margin-bottom: 24px;
	}
	&__learnmore {
		width: 289px;
		height: 80px;
		display: inline-block;
		background-color: #d10910;
		color: #ffffff;
		font-family: $SansProSemiBold;
		font-size: 18px;
		text-transform: uppercase;
		margin-top: 29px;
		padding-top: 26px;
		text-align: left;
		overflow: hidden;
		position: relative;
		margin-left: -30px;
		padding-left: 32px;
		transition: 0.24s all;
		&:hover {
			text-decoration: none;
			background-color: #ff3a41;
		}
		&:after {
			transition: 0.24s all;
			content: '';
			position: absolute;
			right: -32px;
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 101px 100px 101px 0;
			border-color: transparent #ffffff transparent transparent;
			z-index: 10;
			transform: rotate(-14deg);
		}
	}
}
.about-company {
	.text-block {
		&::after {
			content: '';
			display: table;
			width: 100%;
			clear: both;
		}
	}
	.figure {
		float: none;
		margin-top: 20px;
		margin-right: 0;
		min-height: 214px;
		margin-left: -10px;
		margin-right: -10px;

		figcaption {
			&::after {
				top: -8px;
				left: -30px;
			}
		}

		.figurecaption__text {
			font-size: 13px;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 37px;
		}

		&:last-of-type {
			margin-top: 30px;
		}
	}

	.advantages {
		background-color: #f3f3f3;
		border-radius: 25px;
		padding-top: 35px;
		padding-bottom: 35px;
		padding-left: 34px;
		padding-right: 25px;
		margin: 35px 0;

		&__title {
			text-align: center;
			padding-right: 10px;

			h2 {
				font-family: $SansProSemiBold;
				font-size: 30px;
				line-height: 36px;
				color: #3b3b3b;
				margin: 0;
			}
		}

		&__item {
			position: relative;
			margin-bottom: 30px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&__text {
			h6 {
				margin-top: 0;
			}
		}

		&__icon {
			display: flex;
			margin-top: 20px;
			margin-bottom: 15px;
			margin-left: auto;
			margin-right: auto;
			align-items: center;
			justify-content: center;
			background-color: #ffffff;
			padding: 20px;
			width: 125px;
			height: 125px;
			border-radius: 50%;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.aboutCompany {
		overflow: hidden;
		position: relative;
		padding-right: 35px;
		padding-left: 35px;
		margin-bottom: 38px;
		&__title {
			margin-top: 13px;
			margin-bottom: 19px;
		}
		&__text {
			position: absolute;
			left: 0;
			top: 40px;
			background-color: #ffffff;
			width: 50%;
			height: 511px;
			padding-left: 68px;
			padding-right: 0;
			z-index: 11;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 710px 300px 0 300px;
				border-color: #ffffff transparent transparent transparent;
			}
		}
		p + p + p {
			display: none;
		}
		&__learnmore {
			border-bottom-left-radius: 20px;
			margin-top: 45px;
			padding-top: 36px;
			height: 97px;
			width: 324px;
		}
	}
	.sliderAboutCompany {
		height: 511px;
		position: relative;
		z-index: 9;
		&__item {
			height: 511px;
			background-size: cover;
			border-radius: 25px;
		}
		.slick-dots {
			left: auto;
			right: 30px;
			bottom: 20px;
		}
	}
	.about-company {
		.row {
			margin-left: 0;
			margin-right: 0;
		}
		.figure {
			margin-top: 20px;
			margin-right: 0;
			min-height: 439px;
			width: 100%;
			max-width: 619px;
			margin-bottom: 31px;
			margin-left: 0;
			margin-right: 0;
	
			figcaption {
				&::after {
					top: -24px;
					left: -38px;
				}
			}
	
			.figurecaption__text {
				font-size: 18px;
				padding-top: 24px;
				padding-bottom: 24px;
				padding-left: 56px;
			}
	
			&:last-of-type {
				margin-top: 30px;
			}
		}
	
		.advantages {
			padding-bottom: 70px;
			margin-bottom: 45px;

			&__title {
				margin-bottom: 45px;
			}

			&__item {
				position: relative;
				margin-bottom: 30px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				width: 100%;
	
				&:last-of-type {
					margin-bottom: 0;
				}
			}
	
			&__text {
				width: 515px;
				padding-left: 25px;

				h6 {
					margin-top: 0;
				}
			}

			&__icon {
				margin: 0;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.sliderAboutCompany {
		height: 391px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		overflow: hidden;
		&__item {
			height: 391px;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
		}
	}
	.aboutCompany {
		padding-right: 49px;
		margin-bottom: 43px;
		&__text {
			height: 391px;
			padding-left: 85px;
			&:after {
				left: 210px;
			}
		}
		&__title {
			margin-top: 39px;
			margin-bottom: 19px;
		}
		&__learnmore {
			margin-top: 50px;
			height: 88px;
			width: 519px;
			margin-left: -35px;
			padding-top: 30px;
			padding-left: 37px;
		}
	}
	.about-company {
		.figure {
			margin-top: 0;
			margin-bottom: 40px;
	
			.figurecaption__text {
				padding-top: 20px;
				padding-bottom: 20px;
			}
	
			&:last-of-type {
				margin-top: 0;
			}

			&.margin-top {
				margin-top: 30px;
			}
		}
	
		.advantages {
			padding-top: 42px;
			margin-bottom: 50px;

			&__title {
				margin-bottom: 45px;
			}

			&__item {
				position: relative;
				margin-bottom: 30px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				width: 100%;
	
				&:last-of-type {
					margin-bottom: 0;
				}
			}
	
			&__text {
				width: 621px;
				padding-left: 30px;
				padding-top: 5px;

				h6 {
					margin-top: 0;
				}
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.aboutCompany {
		max-width: 1360px;
		margin: 0 auto;
		padding-right: 0;
		margin-bottom: 40px;
		&__title {
			margin-top: 48px;
			margin-bottom: 17px;
		}
		&__text {
			height: 401px;
			width: 42%;
			padding-left: 35px;
			&:after {
				left: 157px;
			}
		}
		&__learnmore {
			width: 586px;
		}

	}
	.sliderAboutCompany {
		height: 401px;
		&__item {
			height: 401px;
		}
	}
	.about-company {
		padding-bottom: 15px;

		.text-block {
			display: flex;
			flex-wrap: wrap;

			.text {
				width: 100%;
				max-width: 759px;
			}
		}
		.figure {
			margin-top: 0;
			margin-bottom: 40px;

			&.left {
				float: left;
				margin-right: 35px;
			}

			&.right {
				float: right;
				margin-left: 35px;
			}
	
			.figurecaption__text {
				padding-top: 20px;
				padding-bottom: 20px;
			}
	
			&:last-of-type {
				margin-top: 0;
			}

			&.margin-top {
				margin-top: 0;
			}
		}
	
		.advantages {
			padding-top: 42px;
			margin-bottom: 45px;
			padding-left: 60px;
			margin-top: 25px;
			padding-bottom: 0;

			&__title {
				margin-bottom: 45px;
				width: 100%;
			}

			&__list {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				width: 100%;
				max-height: 770px;
			}

			&__item {
				position: relative;
				margin-bottom: 45px;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				width: 50%;
	
				&:last-of-type {
					margin-bottom: 0;
				}
			}
	
			&__text {
				width: 495px;
				padding-left: 30px;
				padding-top: 5px;

				h6 {
					margin-top: 0;
				}

				p {
					padding-right: 15px;
				}
			}
		}
	}
}