@import "global/_variables";
/* === ACTION PRODUCTS ===*/
.action-products {
	border-top: 3px solid $second-color;
	padding-top: 15px;
	
	&__title {
		text-align: center;
		padding-bottom: 20px;

		h2 {
			margin-bottom: 8px;
		}

		a {
			font-family: $SansProSemiBold;
			font-size: 18px;
			font-weight: 400;
			line-height: 24px;
			color: $primary-color;
		}
	}

	&__slider {
		opacity: 0;
		transform: scale(0);

		&.visible {
			opacity: 1;
			transform: scale(1);
			transition: transform 0.3s, opacity 0.3s;
		}

		.slick-list {
			min-height: 385px;
			height: 100%;
			max-width: 240px;
			margin: 0 auto;
			overflow-x: hidden;
		}

		.catalogItem {
			z-index: 1;
			margin-bottom: 0;
		}
	}
}
@media screen and (min-width: 768px) {
	.action-products {
		border-top: 3px solid $second-color;
		padding-top: 15px;
		
		&__title {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				position: absolute;
				right: 0;
				margin-top: 27px;
			}
		}
	
		&__slider {
			.slick-list {
				min-height: 395px;
				height: 100%;
				max-width: 700px;
				margin: 0 auto;
				overflow-x: hidden;
			}

			.catalogItem {
				width: 220px;
				margin-right: 20px;
				margin-bottom: 0;
			}

			&.greenArrow .slick-arrow {
				top: 17%;
			}

			&.greenArrow .slick-arrow.slick-prev {
				left: -20px;
			}

			&.greenArrow .slick-arrow.slick-next {
				right: -20px;
			}

			.catalogItem__block {
				left: 0;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.action-products {
		&__slider {
			.slick-list {
				min-height: 395px;
				height: 100%;
				max-width: 830px;
				margin: 0 auto;
				overflow-x: hidden;
			}

			.catalogItem {
				width: 250px;
				margin-right: 35px;
				margin-bottom: 0;
			}

			&.greenArrow .slick-arrow {
				top: 40%;
				transform: translateY(-50%);
			}

			&.greenArrow .slick-arrow.slick-prev {
				left: 5px;
			}

			&.greenArrow .slick-arrow.slick-next {
				right: 5px;
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.action-products {
		width: 100%;
		&__slider {
			.slick-list {
				min-height: 395px;
				height: 100%;
				max-width: 100%;
				margin: 0 auto;
				overflow-x: hidden;
			}

			.catalogItem {
				width: 250px;
				margin-right: 35px;
				margin-bottom: 0;
			}

			&.greenArrow .slick-arrow {
				top: 40%;
				transform: translateY(-50%);
			}

			&.greenArrow .slick-arrow.slick-prev {
				left: -15px;
			}

			&.greenArrow .slick-arrow.slick-next {
				right: 5px;
			}
		}
	}
}