@import "global/_variables";
.basket {
	.orderItem {
		position: relative;
		padding-bottom: 30px;

		&__name {
			color: #3b3b3b;
			height: auto;
			max-height: 75px;
		}
	}

	.orderPrice__price-price {
		&.amount {
			position: relative;
			height: 70px;
		}
	}

	.orderPrice {
		width: 100%;
	}

	.orderPrice__title {
		width: 45%;
		padding-bottom: 10px;

		span:nth-of-type(3) {
			height: 70px;
		}
	}

	.orderPrice__price {
		width: 55%;
		padding-bottom: 10px;

		span {
			padding-left: 25px;
		}
	}

	.popUpForm__close {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 12px;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}

	.catalogItem__amout {
		padding-left: 20px;
		font-size: 16px;

		&-input {
			position: relative;
			width: 110px;
			height: 52px;
			border: 1px solid #e8e8e8;
			border-radius: 0;
			text-align: center;
			font-size: 16px;
			padding-right: 40px;
		}
	}

	.catalogItem__plus {
		border-right: 1px solid #e8e8e8;
		display: flex;
		top: 9px;
	}

	.catalogItem__minus {
		border-right: 1px solid #e8e8e8;
		bottom: 9px;
		display: flex;
	}

	&__footer {
		.generate-btn {
			font-size: 18px;
			font-weight: 400;
			width: 100%;
			text-align: center;
			max-width: 271px;
			line-height: 50px;
			height: 50px;
			border-radius: 25px;
			background-color: #706f6f;
			color: #ffffff;
			margin: 0 auto;
			display: block;
			margin-bottom: 20px;
			margin-top: 20px;
			transition: background-color 0.4s;			

			&:hover {
				text-decoration: none;
				background-color: lighten(#706f6f, 5%);
				transition: background-color 0.4s;
			}
		}

		.lineButton {
			max-width: 271px;
			margin: 0 auto;
		}

		.redButton {
			max-width: 271px;
			margin: 0 auto;
		}
	}

	&__total {
		padding-top: 40px;
		padding-bottom: 20px;
		justify-content: space-between;
		display: flex;
		width: 100%;
		max-width: 270px;
		margin: 0 auto;

		span {
			font-family: $SansProSemiBold;
			font-size: 26px;
			color: #3b3b3b;
		}

		.total {
			font-family: $SansProBlack;
			font-size: 30px;
		}

		.rub {
			font-size: 18px;
		}
	}
}
@media screen and (min-width: 768px) {
	.basket {

		.orderItem {
			padding-bottom: 20px;
		}

		.orderPrice__title {
			width: 100%;
			padding-bottom: 10px;

			span:nth-of-type(3) {
				height: 60px;
			}
		}

		.catalogItem__amout {
			padding-left: 0;
		}

		.orderPrice__price {
			width: 100%;
			padding-bottom: 10px;

			span {
				padding-left: 0;
			}
		}

	.catalogItem__plus {
		top: 22px;
		right: 18px;
	}

	.catalogItem__minus {
		bottom: 22px;
		right: 18px;
	}

		.orderPrice__price-price {
			&.amount {
				position: relative;
				height: 96px;
			}
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			
			.generate-btn {
				margin-top: 0;
			}
	

			&-col {
				min-width: 271px;
			}
		}
	
		&__total {
			padding-top: 20px;
			padding-bottom: 20px;
			display: flex;
			width: 100%;
			justify-content: space-between;
	
			span {
				font-family: $SansProSemiBold;
				font-size: 26px;
				color: #3b3b3b;
			}
	
			.total {
				font-family: $SansProBlack;
				font-size: 30px;
			}
	
			.rub {
				font-size: 18px;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.basket {

		.catalogItem__plus {
			top: 0;
			right: 0;
		}
	
		.catalogItem__minus {
			bottom: 0;
			right: 0;
		}
		&__footer {
			padding-top: 20px;
			padding-bottom: 10px;

			&-col {
				padding-top: 0;
				min-width: 280px;

				&:first-of-type {
					min-width: 575px;
				}
			}

			&-col:first-of-type {
				display: flex;
				justify-content: space-between;
			}

			.lineButton {
				height: 50px;
				margin-left: 30px;
			}
		}

		&__total {
			padding-top: 15px;
		}
	}
}
@media screen and (min-width: 1920px) {
	.basket {
		.orderList__block {
			padding-right: 21%;
		}

		&__footer {
			padding-top: 15px;
			padding-bottom: 50px;
			padding-right: 21%;

			&-col {
				min-width: 340px;

				&:first-of-type {
					min-width: 575px;
				}
			}
		}

		&__total {
			padding-top: 20px;
		}
	}	
}