@charset "UTF-8";

@import "global/_variables";
@import "global/_mixin";
.holidayButton.greenButton.button {
	max-width: 220px;
	margin: 0 auto;
	margin-top: 20px;
}
.holidayCatalog {
	margin-top: 30px;
	h2 {
		font-size: 24px;
		line-height: 24px;
		margin-top: 21px;
		margin-bottom: 11px;
		span {
			color: #9a9a9a;
		}
	}
	&__info {
		p {
			font-size: 13px;
			color: #757575;
			line-height: 17px;
		}
	}
	&__item {
		width: 208px;
		height: 208px;
		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		border-radius: 50%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 135px;
			width: 135px;
		}
	}
	&__title {
		color: #3b3b3b;
		font-family: $SansProSemiBold;
		font-size: 28px;
		display: block;
		margin-top: 31px;
		line-height: 36px;
	}
}
.searcResult {
	&__header {
		color: #3b3b3b;
		font-family: $SansProSemiBold;
		font-size: 30px;
		line-height: 36px;
		margin-top: 15px;
		margin-bottom: 22px;
	}
	&__result {
		color: #706f6f;
	}
	&__search {
		&-title {
			display: block;
			color: #3b3b3b;
			font-family: $SansProSemiBold;
			font-size: 24px;
			margin-bottom: 14px;
		}
	}
	&__field {
		position: relative;
		margin-bottom: 26px;
		input {
			padding-top: 8px;
			padding-bottom: 12px;
			border-radius: 20px;
			border: 1px solid #e8e8e8;
			background-color: #ffffff;
			padding-left: 14px;
			width: 100%;
			padding-right: 120px;
			font-family: $SansProRegular;
			height: 40px;
		}
		.button.searchButton {
			max-width: 116px;
			position: absolute;
			right: 0;
			top: 0;
			height: 40px;
		}
	}
}
.noResult {
	margin-top: 64px;
	padding-left: 8px;
	&__text {
		margin-bottom: 21px;
		color: #3b3b3b;
		font-family: $SansProSemiBold;
		font-size: 24px;
		line-height: 36px;
		display: block;
	}
	.button.redButton {
		max-width: 234px;
	}
	&__img {
		width: 411px;
		margin-top: 45px;
		margin-left: -45px;
		margin-bottom: 27px;
	}
}
.categoryMenu {
	text-align: center;
	background-color: #f3f3f3;
	padding-left: 15px;
	padding-top: 15px;
	padding-right: 15px;
	border-radius: 20px;
	padding-bottom: 24px;
	width: calc(100% + 20px);
	margin-left: -10px;
	&__showMenu {
		display: none;
		position: absolute;
		right: 13px;
		top: 20px;
		width: 20px;
		height: 20px;
		background: transparent;
		&:after {
			content: "";
			width: 15px;
			height: 3px;
			border-radius: 15px;
			background-color: #008b3b;
			transition: 0.24s all;
			position: absolute;
			left: 0;
			top: 7px;
			right: 0;
			margin: 0 auto;
		}
		&:before {
			content: "";
			width: 3px;
			height: 15px;
			border-radius: 15px;
			background-color: #008b3b;
			transition: 0.24s all;
			position: absolute;
			left: 0;
			top: 1px;
			right: 0;
			margin: 0 auto;
		}
		&.active {
			&:after {
				transform: scale(1) rotate(0deg);
			}
			&:before {
				transform: scale(0) rotate(-180deg);
			}
		}
	}
	&__touch {
		text-align: left;
		position: relative;
		height: 55px;
		border-radius: 20px;
		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		width: 100%;
		display: flex;
		align-items: center;
		padding-left: 64px;
		padding-right: 10px;
		color: #3b3b3b;
		font-size: 18px;
		font-family: $SansProSemiBold;
		flex-wrap: wrap;
		overflow: hidden;
		span {
			color: #9a9a9a;
		}
		img {
			width: 32px;
			position: absolute;
			left: 14px;
			top: 10px;
			max-height: 32px;
		}
		&.active {
			border-bottom: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		&-menu {
			display: none;
			margin: 0 auto;
			padding: 0;
			background-color: #fff;
			border-radius: 20px;
			border: 1px solid #e8e8e8;
			border-top: 0;
			margin-top: -30px;
			padding-top: 30px;
			padding-bottom: 10px;
			li {
				padding: 0;
				margin: 0;
				list-style: none;
				margin-bottom: 12px;
				a {
					text-align: left;
					position: relative;
					width: 100%;
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					padding-left: 64px;
					padding-right: 10px;
					color: #727272;
					font-size: 16px;
					justify-content: baseline;
					ins {
						padding-right: 3px;
					}
					span {
						color: #9a9a9a;
					}
				}
			}
			&.active {
				display: block;
			}
		}
	}
	&__button {
		color: #d10910;
		font-family: $SansProSemiBold;
		font-size: 16px;
		margin-top: 14px;
		display: inline-block;
	}
	&__arrow {
		position: absolute;
		right: 17px;
		top: 18px;
		width: 20px;
		height: 20px;
		display: inline-block;
		&:after {
			position: absolute;
			right: 0;
			top: 0;
			font-family: $Icon1;
			color: #008b3b;
			font-size: 9px;
			content: "\6f";
		}
	}
	&__menu {
		display: none;
		margin: 0;
		padding: 0;
		&.holidays {
			li {
				width: 295px;
				&:hover {
					a {
						padding-right: 10px;
					}
				}
			}
		}
		&.active {
			display: block;
		}
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			transition: 0.24s all;
			border: 1px solid transparent;
			width: 255px;
			display: flex;
			align-items: center;
			position: relative;
			flex-wrap: wrap;
			padding-top: 15px;
			padding-bottom: 15px;
			line-height: 20px;
			menu {
				display: none;
			}
			&:hover,
			&.active {
				background-color: #ffffff;
				border-radius: 20px;
				border-color: #e8e8e8;
				.categoryMenu__showMenu {
					display: flex;
					background: transparent;
					transition: all 0.45s;
				}
				a {
					padding-right: 35px;
				}
			}
			&.selected {
				display: none;
			}
			&.arrow {
				menu.active {
					display: flex;
					flex-wrap: wrap;
					margin: 0;
					padding: 0;
					padding-left: 68px;
					margin-top: -5px;
					padding-top: 10px;
					padding-bottom: 10px;
					li {
						width: 100%;
						min-height: auto;
						margin-bottom: 0;
						border: 0;
						margin-bottom: 7px;
						padding-right: 15px;
						a {
							white-space: normal;
							overflow: visible;
							padding: 0;
							color: #727272;
							font-family: $SansProRegular;
							min-height: auto;
							&:hover {
								color: #008b3b;
							}
						}
					}
				}
			}
			a {
				text-align: left;
				width: 100%;
				display: flex;
				align-items: center;
				padding-left: 68px;
				letter-spacing: -1px;
				padding-right: 10px;
				color: #3b3b3b;
				font-size: 18px;
				line-height: 20px;
				font-family: $SansProSemiBold;
				flex-wrap: wrap;
				justify-content: baseline;
				span {
					color: #9a9a9a;
				}
				ins {
					padding-right: 3px;
				}
				&:hover {
					text-decoration: none;
				}
			}
			img {
				width: 32px;
				position: absolute;
				left: 14px;
				top: 0;
				height: 100%;
			}
		}
	}
}
.filterPopup {
	margin-top: 20px;
	margin-bottom: 20px;
	&__button {
		&.button.redButton {
			max-width: 180px;
			display: block;
			margin: 0 auto;
			position: relative;
			font-size: 16px;
			padding-left: 28px;
			padding-top: 9px;
			padding-bottom: 10px;
		}
		&:after {
			font-family: $Icon1;
			content: "\6c";
			position: absolute;
			left: 32px;
			top: 10px;
		}
	}
}
.catalogInformation {
	border-radius: 25px 25px 5px 5px;
	background-color: #f3f3f3;
	width: calc(100% + 20px);
	margin-left: -10px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
	padding-bottom: 20px;
	&__found {
		padding-left: 25px;
		width: 83px;
	}
	&__sort {
		padding-right: 18px;
		width: calc(100% - 85px);
		padding-left: 22px;
	}
	&__paggination {
		width: 100%;
		margin-top: 17px;
		position: relative;
		padding-left: 18px;
		padding-right: 18px
	}
	&.bottom {
		border-radius: 5px 5px 25px 25px;
	}
}
.catalogFilter {
	display: none;
}
.content-container .catalogInformation .paggination__list,
.catalogInformation .paggination__list {
	padding: 0;
	width: 100%;
	margin: 0 auto;
}
.catalogFilter {
	.catalogFilter {
		display: block;
		width: 100%;
	}
}
.content-container .catalogInformation .paggination__link.arrow,
.catalogInformation .paggination__link.arrow {
	position: absolute;
	&.prev {
		left: -25px;
	}
	&.next {
		right: -25px;
	}
}
.foundItem {
	&__text {
		font-size: 14px;
		display: block;
	}
	&__item {
		font-family: $SansProSemiBold;
		font-size: 16px;
		color: #3b3b3b;
		display: inline-block;
		line-height: 19px;
	}
}
.sortItem {
	&__text {
		font-size: 14px;
		padding-left: 14px;
	}
}
.catalogList {
	display: flex;
	width: calc(100% + 45px);
	margin-left: -20px;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
	.catalogItem {
		width: 270px;
		&__block {
			width: 250px;
		}
	}
	&__nextItem {
		width: 100%;
		display: block;
		text-align: center;
		.button.showItems {
			margin: 0 auto;
		}
	}
}
.filterButton.button.redButton {
	max-width: 180px;
	display: block;
	margin: 0 auto;
	position: relative;
	font-size: 16px;
	padding-left: 28px;
	padding-top: 8px;
	padding-bottom: 8px;
	&:after {
		font-family: $Icon1;
		content: "\6c";
		position: absolute;
		left: 23px;
		top: 10px;
		font-size: 14px;
	}
}
@media screen and (min-width: 768px) {
	.searcResult {
		&__search {
			display: flex;
			width: 100%;
			align-items: center;
			&-title {
				margin-bottom: 0;
				width: 180px;
			}
		}
		&__field {
			width: calc(100% - 180px);
			margin-bottom: 0;
		}
		&__header {
			margin-bottom: 31px;
		}
	}
	.noResult {
		margin-top: 77px;
		padding-left: 0;
		&__text {
			margin-bottom: 28px;
		}
		&__img {
			width: 580px;
			display: block;
			margin: 0 auto;
			margin-left: 124px;
			margin-top: 6px;
			margin-bottom: 24px;
		}
	}
	.categoryMenu {
		display: flex;
		flex-wrap: wrap;
		margin-left: 0;
		width: 100%;
		padding-bottom: 16px;
		&__touchMenu {
			width: 326px;
		}
		&__button {
			width: calc(100% - 326px);
			text-align: right;
			display: inline-block;
			font-size: 18px;
			padding-right: 9px;
		}
	}
	.filterPopup {
		display: none;
	}
	.catalogFilter {
		display: block;
		width: calc(100% + 20px);
		margin-top: 30px;
		position: relative;
		margin-left: -15px;
		&__field {
			display: flex;
			flex-wrap: wrap;
			width: calc(100% - 160px);
			justify-content: baseline;
		}
		&__item {
			width: 33.3%;
			padding-left: 15px;
			padding-right: 15px;
			height: 52px;
			&.formField {
				margin-bottom: 3px;
			}
		}
		&__buttons {
			position: absolute;
			top: 0;
			right: 0;
			width: 160px;
			flex-wrap: wrap;
		}
		&__reset {
			width: 116px;
			margin-right: 30px;
			margin-bottom: 17px;
		}
		&__button {
			width: 160px;
		}
	}
	.catalogInformation {
		margin-top: 24px;
		width: 100%;
		margin-left: 0;
		display: flex;
		padding-bottom: 7px;
		justify-content: space-between;
		&__sort {
			width: 173px;
			padding: 0;
			padding-right: 0;
		}
		&__paggination {
			width: 360px;
			padding-left: 0;
			padding-right: 27px;
		}
	}
	.content-container .catalogInformation .paggination__link.arrow, .catalogInformation .paggination__link.arrow {
		position: static;
	}
	.catalogList {
		justify-content: baseline;
		.catalogItem {
			width: 245px;
			&__block {
				width: 220px;
			}
		}
	}
	.holidayCatalog {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		h2 {
			margin-bottom: 18px;
		}
		&__info {
			padding-left: 32px;
			width: calc(100% - 208px);
		}
		&__title {
			width: 100%;
		}
	}
}
@media screen and (min-width: 1280px) {
	.noResult {
		margin-top: 204px;
		position: relative;
		height: 393px;
		&__img {
			position: absolute;
			top: -135px;
			left: 360px;
			width: 698px;
		}
	}
	.searcResult {
		&__row {
			display: flex;
			width: 100%;
			align-items: baseline;
		}
		&__search {
			width: 313px;
			flex-wrap: wrap;
			padding-right: 13px;
			&-title {
				margin-bottom: 24px;
				width: 100%;
			}
		}
		&__field {
			width: 100%;
		}
		.catalogFilter {
			width: calc(100% - 325px);
			margin-left: 0;
		}
	}
	.catalogFilter {
		margin-top: 0;
	}
	.catalogInformation {
		padding-top: 21px;
		&__found {
			width: 145px;
		}
		&__sort {
			display: flex;
			width: 310px;
			.SumoSelect {
				width: 176px;
			}
		}
		&__paggination {
			margin-top: 0;
		}
	}
	.categoryMenu {
		&__touchMenu {
			display: none;
		}
		&__button {
			display: none;
		}
		&__menu {
			display: block;
			li {
				&.selected {
					display: flex;
				}
			}
		}
	}
	.catalogList {
		justify-content: baseline;
		margin-left: -10px;
		.catalogItem {
			width: 280px;
			&__block {
				width: 250px;
			}
		}
	}
	.sortItem {
		&__text {
			display: inline-block;
			padding-top: 6px;
			padding-left: 0;
			margin-right: 15px;
		}
	}
	.foundItem {
		&__text {
			line-height: 12px;
			padding-top: 6px;
		}
		&__item {
			font-size: 18px;
		}
	}
	.holidayCatalog {
		margin-top: 0;
		margin-bottom: 21px;
	}
	.holiday {
		.catalogInformation {
			&__sort {
				width: 300px;
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.searcResult {
		.catalogInformation {
			justify-content: baseline;
		}
		.catalogInformation__paggination {
			position: absolute;
			right: 60px;
		}
		.catalogInformation__found {
			width: auto;
			padding-right: 20px;
		}
		&__search {
			padding-right: 52px;
			width: 535px;
		}
		.catalogFilter {
			width: calc(100% - 535px);
		}
		.catalogFilter__buttons {
			right: 60px;
		}
	}
	.noResult {
		height: 421px;
		margin-top: 184px;
		padding-left: 5px;
		&__img {
			left: 434px;
		}
	}
	.catalogFilter {
		&__item {
			width: 20%;
		}
		&__field {
			width: 990px;
			justify-content: stretch;
		}
		&__buttons {
			right: 240px;
		}
	}
	.catalogInformation {
		padding-right: 33px;
		padding-left: 18px;
		&__found {
			padding-left: 0;
			width: 500px;
			padding-top: 7px;
		}
		&__sort {
			width: 370px;
			.SumoSelect {
				width: 246px;
			}
		}
	}
	.categoryMenu {
		&__menu {
			display: block;
			li {
				width: 295px;
			}
		}
	}
	.foundItem {
		&__text {
			display: inline-block;
			vertical-align: top;
			padding-top: 0;
			line-height: 22px;
			margin-right: 8px;
		}
		&__item {
			vertical-align: top;
		}
	}
	.holiday {
		.catalogInformation {
			&__sort {
				width: 370px;
			}
		}
	}
	.catalogList {
		.catalogItem {
			width: 288px;
		}
	}
	.holidayCatalog {
		&__info {
			padding-left: 39px;
		}
		h2 {
			max-width: 884px;
		}
		p {
			max-width: 884px;
		}
		&__title {
			margin-top: 46px;
			padding-left: 9px;
		}
	}
}
