@charset "UTF-8";

@import "global/_variables";
@import "global/_mixin";

.catalogCategory {
	padding-top: 8px;
	background-color: rgba(232, 232, 232, 0.5);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	&__title {
		margin-bottom: 22px;
		text-align: center;
		h2 {
			font-family: $SansProSemiBold;
			font-size: 30px;
		}
	}
	&__itemBlock {
		display: none;
		position: absolute;
		top: 208px;
		left: -1px;
		background-color: #ffffff;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		border-bottom: 1px solid transparent;
		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px;
		width: calc(100% + 2px);
		z-index: 100;
		transition: 0.24s all;
		opacity: 0;
		height: 0;
		padding-left: 19px;
		padding-right: 19px;
		text-align: left;
		padding-bottom: 20px;
		a {
			display: block;
			width: 100%;
			font-size: 14px;
			color: #3b3b3b;
			padding-right: 10px;
			position: relative;
			&:after {
				content: "\65";;
				font-family: $Icon1;
				position: absolute;
				right: 0;
				top: 0;
				color: #008b3b;
				font-size: 8px;
			}
			&:hover {
				text-decoration: none;
				color: #008b3b;
			}
		}
	}
	&__item {
		width: 150px;
		border: 1px solid transparent;
		height: 190px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		margin-bottom: 20px;
		position: relative;
		transition: 0.24s all;
		&.pdf {
			width: 300px;
			position: relative;
			height: 126px;
			border-radius: 63px;
			border: 1px solid #e8e8e8;
			background-color: #ffffff;
			a {
				padding-left: 50px;
				display: flex;
				&:hover {
					text-decoration: none;
					span {
						background-color: #ff3a41;
					}
				}
			}
			.pdf-icon {
				width: 57px;
				position: absolute;
				left: 23px;
				z-index: 11;
				top: 27px;
			}
			.present-icon {
				width: 174px;
				right: -3px;
				top: -15px;
				left: auto;
				z-index: 9;
				position: absolute;
			}
			span {
				border-radius: 19px;
				background-color: #d10910;
				display: inline-block;
				vertical-align: top;
				color: #fff;
				padding-top: 7px;
				padding-bottom: 8px;
				font-size: 14px;
				width: 179px;
				text-align: center;
				position: relative;
				z-index: 10;
				margin-top: 43px;
				padding-left: 16px;
				transition: 0.24s all;
			}
		}
		&-title {
			font-family: $SansProSemiBold;
			color: #3b3b3b;
			&:hover {
				color: #d10910;
				text-decoration: none;
			}
		}
		&-icon {
			width: 130px;
			height: 130px;
			margin: 0 auto;
			border-radius: 50%;
			background-color: #fff;
			border: 1px solid #e8e8e8;
			position: relative;
			margin-bottom: 14px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px;
			transition: 0.24s all;
			&:hover {
				img {
					animation-name: hvr-pulse;
					animation-duration: 1s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
				}
			}
		}
		img {
			transition: 0.24s all;
			max-width: 148px;
			max-height: 148px;
			width: 100%;
		}
	}
}
@media screen and (min-width: 768px) {
	.catalogCategory {
		padding-bottom: 60px;
		&__list {
			padding-left: 20px;
			padding-right: 20px;
		}
		&__item {
			margin-bottom: 25px;
			height: 210px;
			width: 176px;
			&.pdf {
				width: 100%;
				background-color: transparent;
				border: 0;
				display: flex;
				justify-content: center;
				a {
					width: 619px;
					position: relative;
					height: 166px;
					border-radius: 63px;
					border: 1px solid #e8e8e8;
					background-color: #ffffff;
					padding-left: 100px;
				}
				.pdf-icon {
					width: 75px;
					top: 37px;
					left: 50px;
				}
				.present-icon {
					width: auto;
					height: 180px;
					top: -12px;
					right: 29px;
    			max-width: 240px;
				}
				span {
					font-size: 18px;
					width: 234px;
					height: 50px;
					margin-top: 58px;
					padding-top: 13px;
				}
			}
			&-icon {
				width: 148px;
				height: 148px;
			}
			&-title {
				font-size: 18px;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.catalogCategory {
		padding-bottom: 35px;
		&__item {
			width: 206px;
			padding-left: 26px;
			padding-right: 26px;
			transition: 0.24s background-color;
			&:hover {
				border-top-right-radius: 25px;
				border-top-left-radius: 25px;
				border: 1px solid #e8e8e8;
				border-bottom: 0;
				background-color: #ffffff;
				.catalogCategory__itemBlock {
					display: block;
					opacity: 1;
					height: auto;
					border-left: 1px solid #e8e8e8;
					border-right: 1px solid #e8e8e8;
					border-bottom: 1px solid #e8e8e8;
				}
				.catalogCategory__item-icon {
					border-color: transparent;
				}
			}
			&.pdf {
				margin-top: 23px;
				border: 0;
				&:hover {
					border: 0;
					background-color: transparent;
				}
				a {
					width: 420px;
					height: 150px;
					padding-left: 86px;
					span {
						margin-top: 49px;
					}
				}
				.pdf-icon {
					top: 26px;
					left: 35px;
				}
				.present-icon {
					top: -19px;
					right: 12px;
				}
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.catalogCategory {
		max-width: 1920px;
		margin: 0 auto;
		&__itemBlock {
			top: 229px;
		}
		&__item {
			width: 228px;
			padding-left: 30px;
			padding-right: 30px;
			height: 230px;
			&.pdf {
				width: 679px;
				margin-top: -95px;
				a {
					width: 100%;
					height: 166px;
					span {
						margin-top: 56px;
						width: 250px;
						padding-left: 21px
					}
				}
			}
			.pdf-icon {
				top: 33px;
				left: 46px;
			}
			&-icon {
				width: 168px;
				height: 168px;
			}
			.present-icon {
				top: 5px;
				right: 32px;
			}
		}

	}
}
@media screen and (min-width: 1900px) {
	.catalogCategory {
		&__item.pdf {
				.present-icon {
					top: 9px;
					right: 48px;
					transform: scale(1.4);
				}
		}
	}
}
@keyframes hvr-pulse {
	25% {
		transform: scale(1.1);
	}
	75% {
		transform: scale(0.9);
	}
}
