@import "global/_variables";

.similarProducts {
	margin-top: 53px;
	&__title {
		h2 {
			text-align: center;
		}
	}
}

.catalogItem {
	display: flex;
	flex-wrap: wrap;
	width: 240px;
	height: 331px;
	position: relative;
	margin-bottom: 20px;
	transition: 0.3s all;
	&__list {
		position: absolute;
		left: 26px;
		top: 30px;
		z-index: 20;
		width: 30px;
		display: flex;
		flex-wrap: wrap;
		opacity: 0;
		transform: scale(0);
		transition: 0.3s all;
		&.visible {
			opacity: 1;
			transform: scale(1);
		}
		.slick-arrow {
			position: absolute;
			width: 30px;
			height: 15px;
			background-color: #ffffff;
			right: 0;
			border: 0;
			top: -15px;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-size: 0;
			&:after {
				font-family: $Icon1;
				content: "\66";
				color: #008b3b;
				font-size: 8px;
				transition: 0.24s all;
			}
			&.slick-disabled {
				opacity: 0;
			}
			&.slick-next {
				bottom: -15px;
				top: auto;
				&:after {
					content: "\67";
				}
			}
		}
		&-link {
			&.slick-slide {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 30px;
				height: 30px;
				margin-bottom: 3px;
				border: 0;
			}
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			margin-bottom: 3px;
			img {
				display: block;
				max-width: 100%;
			}
		}
	}
	&__block {
		width: 220px;
		left: 10px;
		position: absolute;
		top: 0;
		border-bottom-right-radius: 25px;
		border-bottom-left-radius: 25px;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		background-color: #ffffff;
		overflow: hidden;
		transition: 0.34s all;
		height: 100%;
	}
	&__link {
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		height: 187px;
		padding-top: 17px;
		padding-bottom: 17px;
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
		border-top: 1px solid #e8e8e8;
	}
	&__img {
		display: block;
		max-width: 100%;
	}
	&__information {
		padding-left: 20px;
		padding-right: 20px;
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
	}
	&__title {
		height: 40px;
		overflow: hidden;
		display: block;
		&-link {
			color: #3b3b3b;
			font-size: 16px;
			line-height: 20px;
			display: inline-block;
			&:hover {
				color: #d10910;
				text-decoration: none;
			}
		}
	}
	&__price {
		margin-top: 10px;
		margin-bottom: 13px;
		display: flex;
		justify-content: space-between;
	}
	&__currentPrice {
		color: #3b3b3b;
		font-family: $SansProBlack;
		font-size: 22px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		&.sale {
			font-size: 18px;
			color: #636466;
			.rub {
				font-size: 12px;
			}
			&:after {
				content: '';
				position: absolute;
				top: 12px;
				left: 0;
				width: calc(100% - 9px);
				height: 2px;
				background-color: #636466;
			}
		}
		.rub {
			font-size: 12px;
		}
	}
	&__hiddenBlock {
		opacity: 0;
		transition: 0.4s all;
		color: #7e7e7e;
		font-size: 14px;
		line-height: 20px;
		height: 56px;
	}
	&__article {
		display: block;
	}
	&__availability {
		display: block;
	}
	&:hover {
		z-index: 100;
		.catalogItem__block {
			height: 384px;
			box-shadow: 0 5px 15px rgba(210, 210, 210, 0.5);
		}
		.catalogItem__hiddenBlock {
			opacity: 1;
		}
	}
	&__functional {
		display: flex;
		width: 100%;
		justify-content: space-between;
		transition: 0.3s all;
		position: absolute;
		bottom: 0;
	}
	&__amout {
		display: flex;
		position: relative;
		width: 110px;
		&-input {
			width: 77px;
			height: 51px;
			border-radius: 0 0 0 25px;
			border: 1px solid #bababa;
			background-color: #ffffff;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 8px;
			text-align: center;
			font-family: $SansProSemiBold;
		}
	}
	&__plus {
		position: absolute;
		width: 33px;
		height: 26px;
		border-top: 1px solid #e8e8e8;
		border-left: 1px solid #e8e8e8;
		background-color: #ffffff;
		right: 0;
		top: 0;
		justify-content: center;
		align-items: center;
		text-align: center;
		&:after {
			font-family: $Icon1;
			content: "\66";
			color: #706f6f;
			font-size: 8px;
			transition: 0.24s all;
		}
		&:hover {
			text-decoration: none;
			&:after {
				color: #d10910;
			}
		}
	}
	&__minus {
		position: absolute;
		width: 33px;
		height: 26px;
		background-color: #ffffff;
		right: 0;
		bottom: 0;
		border-left: 1px solid #e8e8e8;
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		justify-content: center;
		align-items: center;
		text-align: center;
		&:after {
			font-family: $Icon1;
			content: "\67";
			color: #706f6f;
			font-size: 8px;
			transition: 0.24s all;
		}
		&:hover {
			text-decoration: none;
			&:after {
				color: #d10910;
			}
		}
	}
	&__buy {
		display: flex;
		align-items: center;
		width: 146px;
		height: 51px;
		border-radius: 0 0 25px;
		border: 1px solid #d10910;
		background-color: #ffffff;
		color: #d10910;
		font-size: 16px;
		justify-content: center;
		&-svg {
			width: 21px;
			height: 18px;
			transition: 0.24s all;
			margin-right: 10px;
		}
		&:hover {
			text-decoration: none;
			color: #fff;
			background-color: #d10910;
			path {
				fill: #fff;
			}
		}
	}
}
.sliderItem {
	padding-bottom: 30px;
	padding-top: 30px;
	overflow: hidden;
	opacity: 0;
	transform: scale(0);
	transition: 0.3s all;
	height: 430px;
	&.visible {
		opacity: 1;
		transform: scale(1);
	}
	.catalogItem:hover {
		height: 384px;
	}
	.slick-arrow {
		top: 43%;
		width: 28px;
		height: 28px;
		background-color: #008b3b;
		display: flex;
		align-items: center;
		color: #fff;
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		z-index: 1;
		border: 0;
		font-size: 0;
		line-height: 0;
		&:after,
		&:before {
			content: '';
			color: #fff;
			font-family: $Icon2;
			font-size: 31px;
			z-index: -1;
			transition: 0.3s all;
			position: absolute;
		}
		&.slick-prev {
			left: 10px;
			&:after,
			&:before {
				content: "\6d";
				right: -2px;
			}
			&:before {
				right: -25px;
			}
		}
		&.slick-next {
			right: 10px;
			&:after,
			&:before {
				content: "\6e";
				left: -2px;
			}
			&:before {
				left: -25px;
			}
		}
		&.slick-disabled {
			background-color: #f3f3f3;
			pointer-events: none;
		}
		&:hover {
			background-color: #11b858;
			text-decoration: none;
				&.slick-prev {
					&:after{
						right: 2px;
					}
					&:before {
						right: -8px;
					}
				}
				&.slick-next {
					&:after{
						left: 2px;
					}
					&:before {
						left: -8px;
					}
				}
		}
	}
}

@media screen and (min-width: 768px) {
	.sliderItem {
		padding-left: 22px;
		padding-right: 22px;
		padding-bottom: 20px;
		.slick-arrow {
			top: 40%;
			&.slick-prev {
				left: 20px;
			}
			&.slick-next {
				right: 20px;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.catalogItem {
		width: 305px;
		&__block {
			width: 255px;
		}
	}
	.sliderItem {
		height: 430px;
		padding-left: 43px;
		padding-right: 43px;
		.slick-arrow {
			top: 164px;
			&.slick-next {
				right: 40px;
			}
			&.slick-prev {
				left: 40px;
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.catalogItem {
		width: 309px;
	}
}
