@import "global/_variables";
.commercial-offer-page {
	.content-container {
		padding-bottom: 0;
	}
	.main-footer {
		display: none;
	}
}
.commercial-offer-header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 17px;
	padding-bottom: 30px;

	.main-header__logo {
		position: relative;
		left: auto;
		top: auto;
		margin-bottom: 10px;

		svg {
			width: 150px;
			height: 59px;
		}
	}

	.main-header__contacts {
		padding: 0;
		justify-content: center;
	}

	.main-header__email {
		margin-bottom: 15px;

		&::before {
			margin-right: 10px;
		}

		span {
			font-size: 18px;
		}
	}

	.main-header__phone {
		&::before {
			font-size: 25px;
			margin-right: 10px;
		}
		font-size: 22px;
	}
}
.commercial-offer {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fafafa;

	h1 {
		margin-top: 0;
		position: relative;
		z-index: 1;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 10px;
	}

	p {
		position: relative;
		z-index: 1;
	}

	&::after {
		content: '';
		position: absolute;
		right: -80%;
		bottom: 0;
		height: 100%;
		width: 100%;
		display: block;
		transform: skewX(-26deg);
		background-color: #f3f3f3;
	}

	&::before {
		content: '';
		position: absolute;
		right: -70%;
		bottom: 0;
		height: 100%;
		width: 100%;
		display: block;
		transform: skewX(-26deg);
		background-color: #fff;
	}

	&__num {
		position: relative;
		z-index: 1;
		padding-top: 12px;
		padding-right: 10px;
		padding-right: 17px;
		text-align: right;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
		color: #3b3b3b;

		span {
			display: block;

			&:first-of-type {
				font-family: $SansProSemiBold;
				font-size: 30px;
				font-weight: 600;
			}
		}
	}
}
.commercial__footer {
	text-align: center;
	display: flex;
	flex-direction: column;

	span {
		display: block;
	}

	a {
		margin: 0 auto;
		max-width: 222px;
	}

	.redButton {
		margin-bottom: 20px;
	}

	.greenButton {
		text-align: center;
		padding-right: 0;
		padding-left: 0;

		&::before {
			display: none;
		}

		&:hover {
			padding-right: 0;
			padding-left: 0;
		}
	}

	&-col {
		margin-bottom: 20px;
	}
}
.commercial__total {
	font-family: $SansProSemiBold;
	font-size: 26px;
	font-weight: 400;
	line-height: 55px;
	color: #3b3b3b;

	.total {
		font-family: $SansProBlack;
		font-size: 30px;
		line-height: 1;
	}

	.rub {
		font-size: 18px;
	}
}
@media screen and (min-width: 768px) {
	.commercial-offer-header {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-top: 27px;
		padding-bottom: 27px;
		padding-left: 34px;
		padding-right: 34px;
	
		.main-header__logo {
			position: relative;
			left: auto;
			top: auto;
			margin-bottom: 0;
	
			svg {
				width: 150px;
				height: 59px;
			}
		}
	
		.main-header__contacts {
			padding: 0;
			width: 100%;
			justify-content: flex-end;

			&-links {
				padding: 0;
				flex-direction: row;
				justify-content: flex-end;
				text-align: right;
				width: 100%;

				> a {
					display: inline-block;
				}
			}
		}

		.main-header__email {
			margin-bottom: 0;
	
			&::before {
				margin-right: 15px;
			}
	
			span {
				font-size: 18px;
			}
		}

		.main-header__phone {
			margin-left: 50px;

			&::before {
				margin-right: 20px;
			}
		}
	}
	.commercial-offer {
		.content {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
		}
	
		h1 {
			width: 100%;
			padding-right: 155px;
			margin-bottom: 8px;
		}
	
		p {
			width: 65%;
		}
	
		&::after {
			content: '';
			position: absolute;
			right: -75%;
		}
	
		&__num {
			padding-top: 0;
			padding-right: 40px;
			width: 35%;
			transform: translateY(-30px);
		}
	}

	.commercial {
		.basket__form {
			padding-top: 0;
		}

		&__footer {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			text-align: left;
			padding-top: 8px;

			&-col {
				width: 33.33%;
			}
		}

		&__total {
			line-height: 1;
			padding-left: 55px;

			.total {
				margin-top: 5px;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.commercial-offer {
		.content {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
		}
	
		h1 {
			padding-right: 155px;
			margin-bottom: 18px;
		}
	
		p {
			width: 76%;
		}
	
		&::before {
			content: '';
			position: absolute;
			right: -78%;
		}
	
		&::after {
			content: '';
			position: absolute;
			right: -80%;
		}
	
		&__num {
			padding-top: 0;
			padding-right: 50px;
			width: 24%;
			transform: translateY(-15px);
		}
	}
	.commercial__footer {
		padding-top: 22px;
		justify-content: space-between;
		align-items: center;

		&-col {
			display: flex;
			flex-direction: row;
			margin-bottom: 0;

			&:nth-of-type(1) {
				width: 28.5%;
			}

			&:nth-of-type(2) {
				width: 41.5%;
			}

			&:nth-of-type(3) {
				width: 30%;
			}
		}

		.redButton {
			margin-bottom: 0;
		}
	}
	.commercial__total {
		span {
			display: inline-block;
		}

		.total {
			margin-top: 0;
		}
	}
}
@media screen and (min-width: 1920px) {
	.commercial-offer {
		p {
			width: 75%;
		}

		&__num {
			padding-right: 90px;
			width: 25%;
		}
	}

	.commercial__footer {
		padding-right: 21%;

		&-col {
			&:nth-of-type(3) {
				justify-content: center;
			}
		}
	}
}