@import "global/_variables";
.contacts {
	display: flex;
	flex-direction: column;
	padding-bottom: 35px;

	.map {
		position: relative;
		margin-left: -20px;
		margin-right: -20px;
		min-width: 100%;
		

		&__container {
			position: relative;
			height: 720px;
			width: 100%;
			border-radius: 25px;
			overflow: hidden;
		}

		&__description {
			position: absolute;
			right: 0;
			bottom: 0;
			z-index: 10;
			width: 100%;
		}

		.figure {
			position: static;
			min-height: 68px;
			width: 100%;
			border: none;

			figcaption {
				width: 100%;

				&::after {
					display: none;
				}
			}
		}

		.figurecaption__text {
			display: inline-block;
			text-align: center;
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;

			&::before {
				display: none;
			}

			&::after {
				left: 0;
				transform: none;
				border-bottom-left-radius: 25px; 
				border-bottom-right-radius: 25px; 
			}
		}

		&--region {
			.map__container {
				height: 673px;
			}
		}
	}

	&-title {
		display: inline-block;
		font-family: $SansProSemiBold;
		font-size: 30px;
		font-weight: 400;
		line-height: 36px;
		color: #3b3b3b;
		padding-top: 21px;
		padding-bottom: 0;
		width: 100%;
	}

	&-aside {
		width: 100%;
	}

	&-item {
		padding: 24px 0;
		position: relative;
		padding-right: 35px;

		&:first-of-type {
			padding-top: 16px;
			border-bottom: 2px solid #d2d2d2;
		}

		&:last-of-type {
			border-bottom: none;
		}

		&:nth-of-type(2) {
			border-bottom: 2px solid #d2d2d2;
		}

		&:nth-of-type(3) {
			padding-top: 15px;
		}

		&__title {
			display: inline-block;
			font-family: $SansProSemiBold;
			font-size: 18px;
			line-height: 24px;
			font-weight: 400;
			margin-bottom: 10px;
			color: #3b3b3b;
		}

		&__icon {
			position: absolute;
			right: -10px;
			top: 22px;

			&.ic-co {
				width: 47px;
				height: 45px;
			}

			&.ic {
				right: -3px;
				top: 28px;
				width: 30px;
				height: 42px;
			}

			&.ic-psk {
				width: 44px;
				height: 45px;
			}
		}

		&__inner {
			padding-top: 15px;
		}
	}

	&-city {
		width: 100%;

		&__province {
			padding-top: 40px;

			.contacts-title {
				margin-bottom: 15px;
			}

			.contacts-item {
				border: none;
				padding-top: 0;
				padding-bottom: 20px;
				padding-right: 0;

				&__title {
					margin-bottom: 7px;
				}
			}
		}
	}

	&-region {
		width: 100%;
		padding-top: 12px;

		.content {
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 30px;
		}

		.contacts-title {
			margin-bottom: 23px;
		}

		.contacts-list {
			padding-bottom: 30px;
		}

		.contacts-item {
			border-radius: 25px;
			border: 1px solid #e8e8e8;
			padding-top: 17px;
			padding-bottom: 25px;
			padding-right: 20px;
			padding-left: 25px;
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}

			&__title {
				color: $primary-color;
				margin-bottom: 5px;
			}
		}
	}
}
@media (min-width: 768px){
	.contacts {
		padding-bottom: 25px;

		.map {
			margin-left: 0;
			margin-right: 0;
	
			.figure {
				min-height: 68px;
				width: auto;
				border: none;
				
				figcaption {
					min-width: 364px;
					right: 0;
					width: auto;
					padding-right: 20px;
					padding-left: 30px;
	
					&::after {
						display: block;
						height: calc(100% + 50px);
						top: -20px;
						left: -10px;
					}
				}
			}
	
			.figurecaption__text {
				display: inline-block;
				text-align: center;
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
	
				&::before {
					display: block;
					width: 50px;
					height: 100%;
					right: -20px;
					border-bottom-right-radius: 25px;
					z-index: -1;
				}
	
				&::after {
					content: '';
					width: 100%;
					height: 100%;
					transform: skewX(-37deg);
					z-index: -1;
					position: absolute;
					left: -5px;
					top: 0;
					background-color: #d10910;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			&--region {
				.map__container {
					height: 650px;
				}

				.map__description {
					.figure {
						figcaption {
							min-width: 594px;
						}
					}

					.figurecaption__text {
						text-align: left;
						padding-left: 75px;
					}
				}
			}
		}

		&-item {
			width: 100%;
			max-width: 336px;

			&:nth-of-type(2) {
				border-bottom: none;
				float: right;
			}

			&:nth-of-type(3) {
				float: left;
			}

			&:first-of-type {
				float: left;
			}

			&__inner {
				padding-top: 12px;
			}

			&__icon {
				right: 0;

				&.ic {
					top: 22px;
					right: 0;
				}
			}

			.ic-psk {
				top:28px;
			}
		}

		&-list {
			position: relative;
			padding-bottom: 20px;

			&:after {
				content: '';
				width: 100%;
				display: table;
				clear: both;
			}
		}

		&-region {
			padding-top: 40px;

			.contacts-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			.contacts-item {
				float: none;
				max-width: 335px;

				&:nth-of-type(2) {
					border: 1px solid #e8e8e8;
				}
			}
		}

		&-city__city {
			.contacts-item {
				&:nth-of-type(2) {
					padding-left: 8px;
					padding-top: 15px;
					padding-right: 15px;
				}
				&:nth-of-type(3) {
					padding-top: 25px;
				}
			}
		}

		&-city__province {
			padding-top: 32px;

			.contacts-title {
				margin-bottom: 24px;
			}
			.contacts-list {
				display: flex;
				flex-wrap: wrap;
			}
			.contacts-item {
				float: none;
				max-width: 233px;
				padding-left: 10px;
				padding-bottom: 10px;

				&:first-of-type {
					padding-left: 0;
				}

				&:nth-of-type(3n + 1) {
					padding-left: 0;
				}
			}
		}
	}
}
@media (min-width: 1280px) {
	.contacts {
		h1 {
			width: 100%;
		}

		.content {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.map {
			&--region {
				.map__container {
					height: 650px;
				}

				.map__description {
					.figure {
						figcaption {
							min-width: 674px;
						}
					}

					.figurecaption__text {
						text-align: center;
						padding-left: 0;
					}
				}
			}
		}

		&-aside {
			max-width: 275px;
		}

		&-city {
			width: 100%;
			max-width: 855px;
			
			&__city {
				.contacts-item {
					&:nth-of-type(2) {
						padding-left: 0;
						max-width: 440px;
					}
					&__inner {
						padding-top: 15px;
					}
				}
			}

			&__province {
				padding-top: 65px;

				.contacts-list {
					padding-bottom: 20px;
				}

				.contacts-title {
					margin-bottom: 33px;
				}

				.contacts-item {
					max-width: 280px;
					padding-left: 15px;
					padding-right: 45px;

					&:nth-of-type(3n) {
						padding-left: 35px;
					}
				}
			}
		}

		&-region {
			width: 100%;
			max-width: 850px;
			margin-left: auto;
			padding-top: 68px;
			padding-bottom: 10px;

			.contacts-list {
				padding-left: 0;
				justify-content: flex-start;
			}

			.contacts-title {
				padding-left: 0;
				margin-bottom: 33px;
			}

			.contacts-item {
				max-width: 258px;
				margin-right: 33px;

				&:nth-of-type(3n) {
					margin-right: 0;
				}
			}
		}

		&-title {
			padding-left: 10px;
			padding-top: 0;
			line-height: 16px;
		}

		&-list {
			padding-left: 10px;
			padding-bottom: 10px;
		}
	}
}
@media (min-width: 1920px) {
	.contacts-item__icon {
		right: -7px;
		
		&.ic {
			right: 0;
			top: 30px;
		}
	}

	.contacts {
		h1 {
			width: 100%;
		}

		.content {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.map {
			min-width: 883px;
			max-width: 883px;
			
			&--city {
				.map__container {
					margin-top: -30px;
				}
			}
			
			&--province {
				padding-top: 54px;
			}


			&--region {
				min-width: 1420px;
				max-width: 1420px;
				margin-left: auto;

				.map__container {
					height: 650px;
				}

				.map__description {
					.figure {
						figcaption {
							min-width: 674px;
						}
					}

					.figurecaption__text {
						text-align: center;
						padding-left: 0;
					}
				}
			}
		}

		&-aside {
			max-width: 325px;
		}

		&-city {
			width: 100%;
			max-width: 1420px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			
			&__city {
				.contacts-item {
					float: none;
					width: 476px;
					max-width: 476px;

					&:first-of-type {
						padding-bottom: 15px;
					}

					&:nth-of-type(2) {
						padding-top: 24px;
						padding-bottom: 24px;
						padding-left: 0;
						width: 476px;
						max-width: 476px;
						border-bottom: 2px solid #d2d2d2;
					}
	
					&__inner {
						padding-top: 15px;
					}
				}
			}

			&__province {
				padding-top: 54px;
				width: 100%;
				max-width: 537px;

				.contacts-list {
					padding-bottom: 20px;
					flex-direction: column;
					flex-wrap: wrap;
					max-height: 720px;
				}

				.contacts-title {
					margin-bottom: 33px;
				}

				.contacts-item {
					max-width: 260px;
					padding-left: 0;
					padding-right: 45px;
					padding-bottom: 17px;

					&:nth-of-type(3n) {
						padding-left: 0;
					}
				}
			}
		}

		&-region {
			width: 100%;
			max-width: 1420px;
			margin-left: auto;
			padding-top: 50px;
			padding-bottom: 10px;

			.contacts-list {
				padding-left: 0;
				padding-bottom: 0;
				justify-content: flex-start;
			}

			.contacts-title {
				padding-left: 0;
				margin-bottom: 33px;
			}

			.contacts-item {
				max-width: 308px;
				margin-right: 18px;

				&:nth-of-type(3n) {
					margin-right: 18px;
				}

				&:nth-of-type(4n) {
					margin-right: 0;
				}

				&:last-of-type {
					margin-bottom: 20px;
				}
			}
		}

		&-title {
			padding-left: 0;
			padding-top: 0;
			line-height: 16px;
			display: inline-block;
			width: 100%;
			margin-bottom: 15px;
		}

		&-list {
			padding-left: 0;
			padding-bottom: 10px;
		}
	}
}