@import "global/_variables";
@import "global/_mixin";
.fixed {
	.elementOptions__table {
		overflow: auto;
		max-height: 286px;
	}
	.elementItem {
		&__sideBarLeft {
			position: absolute;
			top: 160px;
			max-width: 45%;
		}
		&__sideBarRight {
			margin-left: 49%;
		}
	}
}
.elementItem {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	&__sideBarLeft {
		width: 100%;
		transition: 0.65s all;
		top: 0;
	}
	&__sideBarRight {
		width: 100%;
	}
	&__column2 {
		margin-top: 35px;
	}
}
.elementApplicationSelect {
	margin-top: 15px;
	position: relative;
	&__delete {
		position: absolute;
		right: -20px;
		top: 8px;
		&:hover {
			text-decoration: none;
			&:after {
				color: #ff3a41;
			}
		}
		&:after {
			content: "\71";
			transition: 0.24s all;
			color: #d10910;
			font-size: 12px;
			font-family: $Icon1;
		}
	}
}
.elementSlider {
	transition: 0.3s all;
	opacity: 0;
	transform: scale(0);
	&.visible {
		opacity: 1;
		transform: scale(1);
	}
	&__item {
		display: flex!important;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 266px;
		border-radius: 25px;
		border: 1px solid #e8e8e8;
		overflow: hidden;
		position: relative;
		img {
			max-width: 100%;
			display: block;
		}
		&:hover {
			border-color: #008b3b;
			&:before {
				animation: circle 1.75s;
			}
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			display: block;
			content: '';
			width: 0;
			height: 0;
			background: rgba(255,255,255,.2);
			border-radius: 100%;
			transform: translate(-50%, -50%);
			opacity: 0;
		}
	}

}
.elementSliderNav {
	transition: 0.3s all;
	opacity: 0;
	transform: scale(0);
	position: relative;
	max-width: 280px;
	margin: 0 auto;
	margin-top: 19px;
	&.visible {
		opacity: 1;
		transform: scale(1);
	}
	&__item {
		width: 94px;
		height: 80px;
		padding-left: 2px;
		padding-right: 2px;
		img {
			max-width: 100%;
			display: block;
		}
	}
	&__link {
		display: flex!important;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 80px;
		border-radius: 25px;
		border: 1px solid #e8e8e8;
		overflow: hidden;
		background-color: #ffffff;
		position: relative;
		&:hover {
			border-color: #008b3b;
			&:before {
				animation: circle .75s;
			}
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			display: block;
			content: '';
			width: 0;
			height: 0;
			background: rgba(255,255,255,.2);
			border-radius: 100%;
			transform: translate(-50%, -50%);
			opacity: 0;
		}
	}
	.slick-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 50%;
		color: #3b3b3b;
		width: 20px;
		height: 20px;
		border: 0;
		overflow: hidden;
		font-size: 0;
		background-color: #d2d2d2;
		transition: 0.24s all;
		position: relative;
		position: absolute;
		top: 30px;
		z-index: 100;
		&:hover {
			background-color: #008b3b;
		}
		&:after {
			content: '';
			color: #fff;
			font-family: $Icon2;
			font-size: 20px;
			position: absolute;
			top: -1px;
		}
		&.slick-prev {
			left: -11px;
			&:after {
				left: 0;
				content: "\6d";
			}
		}
		&.slick-next {
			right: -11px;
			&:after {
				right: 0;
				content: "\6e";
			}
		}
		&.slick-disabled {
			background-color: #f3f3f3;
			pointer-events: none;
		}
	}
}
.elementOptions {
	&__head {
		display: flex;
		width: 100%;
		font-family: $SansProSemiBold;
		justify-content: space-between;
		margin-top: 29px;
		margin-left: -6px;
		width: calc(100% + 6px);
		padding-right: 15px;
	}
	&__title {
		color: #3b3b3b;
		font-size: 26px;
	}
	&__link {
		color: #d10910;
		font-size: 18px;
		margin-top: 5px;
	}
	&__table {
		margin-top: 16px;
	}
	&__item {
		width: 100%;
		display: flex;
		padding-bottom: 11px;
		margin-bottom: 14px;
		border-bottom: 1px solid #f1f1f1;
		&.hidden {
			display: none;
		}
		&:last-of-type {
			border-bottom: 0;
		}
	}
	&__name {
		color: #868686;
		font-size: 18px;
		font-family: $SansProSemiBold;
		width: 56%;
	}
	&__info {
		width: 44%;
		color: #3b3b3b;
		font-size: 18px;
	}
}
.elementAvailableColors {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 10px);
	margin-left: -9px;
	margin-top: 10px;
	&__title {
		font-family: $SansProSemiBold;
		color: #3b3b3b;
		font-size: 18px;
		margin-bottom: 15px;
	}
	&__item {
		width: 74px;
		height: 65px;
		padding-left: 2px;
		padding-right: 2px;
		img {
			max-width: 100%;
		}
	}
	&__link {
		border-radius: 10px;
		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 65px;
		position: relative;
		transition: 0.24s all;
		&.active {
			border-color: #008b3b;
		}
		&:hover {
			border-color: #008b3b;
			&:before {
				animation: circle .75s;
			}
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			display: block;
			content: '';
			width: 0;
			height: 0;
			background: rgba(255,255,255,.2);
			border-radius: 100%;
			transform: translate(-50%, -50%);
			opacity: 0;
		}
	}
	&__list {
		width: calc(100% + 5px);
		margin-left: -2px;
		flex-wrap: wrap;
		display: flex;
		max-width: 295px;
		transition: 0,24s all;
		transform: scale(0);
		opacity: 0;
		&.visible {
			transform: scale(1);
			opacity: 1;
		}
	}
	.slick-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 50%;
		color: #3b3b3b;
		width: 20px;
		height: 20px;
		border: 0;
		overflow: hidden;
		font-size: 0;
		background-color: #d2d2d2;
		transition: 0.24s all;
		position: relative;
		position: absolute;
		top: 23px;
		z-index: 100;
		&:hover {
			background-color: #008b3b;
		}
		&:after {
			content: '';
			color: #fff;
			font-family: $Icon2;
			font-size: 20px;
			position: absolute;
			top: -1px;
		}
		&.slick-prev {
			left: -8px;
			&:after {
				left: 0;
				content: "\6d";
			}
		}
		&.slick-next {
			right: -9px;
			&:after {
				right: 0;
				content: "\6e";
			}
		}
		&.slick-disabled {
			background-color: #f3f3f3;
			pointer-events: none;
		}
	}
}
.elementPrice {
	display: flex;
	flex-wrap: wrap;
	margin-top: 54px;
	width: calc(100% + 11px);
	margin-left: -11px;
	padding-right: 5px;
	&__price,
	&__purchase {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 14px;
		&-title {
			color: #3b3b3b;
			font-family: $SansProSemiBold;
			font-size: 18px;
		}
		&-value {
				color: #3b3b3b;
				font-family: $SansProBlack;
				font-size: 30px;
				line-height: 18px;
			.rub {
				font-size: 16px;
			}
		}
	}
}
.elementApplication {
	margin-top: 22px;
	margin-left: -11px;
	width: calc(100% + 20px);
	&__title {
		color: #3b3b3b;
		font-family: $SansProSemiBold;
		font-size: 20px;
		border-radius: 25px 25px 5px 5px;
		background-color: #f3f3f3;
		display: flex;
		padding-top: 23px;
		padding-left: 21px;
		letter-spacing: -0.1px;
		padding-right: 12px;
		padding-bottom: 24px;
		margin-bottom: 20px;
	}
	&__select {
		padding-left: 20px;
		padding-right: 20px;
	}
	.addApplication {
		margin-top: 9px;
		margin-left: 20px;
	}
	&__available {
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 35px;
		&-title {
			display: block;
			color: #3b3b3b;
			font-family: $SansProSemiBold;
			font-size: 18px;
			margin-bottom: 10px;
		}
		&-text {
			color: #707070;
			font-size: 16px;
			line-height: 20px;
			display: block;
		}
	}
}
.circulation {
	.remains {
		&__header {
			&-title {
				width: 33.3%;
			}
		}
		&__item {
			&-col {
				width: 33.3%;
				span {
					background-color: #f3f3f3;
					color: #3b3b3b;
					text-transform: uppercase;
				}
			}
		}
	}
	&.elementBuyBlock {
		.catalogItem__buy {
			width: 100%;
			border-bottom-left-radius: 25px;
		}
	}
}
.remains {
	margin-top: 42px;
	&__title {
		color: #3b3b3b;
		font-family: $SansProSemiBold;
		font-size: 18px;
		display: block;
		margin-bottom: 6px;
	}
	&__header {
		display: flex;
		width: 100%;
		margin-bottom: 12px;
		&-empty {
			width: 30%;
			display: block;
		}
		&-title {
			width: 35%;
			display: block;
			color: #3b3b3b;
			text-align: center;
			font-size: 14px;
			font-family: $SansProSemiBold;
		}
	}
	&__item {
		display: flex;
		width: 100%;
		margin-bottom: 17px;
		input {
			width: 90px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			color: #3b3b3b;
			font-size: 16px;
			border-radius: 20px;
			border: 1px solid #e8e8e8;
			font-family: "Sans Pro Regular";
			background-color: #ffffff;
		}
		&-title {
			color: #3b3b3b;
			font-family: $SansProSemiBold;
			font-size: 16px;
			display: flex;
			align-items: center;
			width: 30%;
		}
		&-col {
			width: 35%;
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				width: 90px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 20px;
				background-color: #e1e1e1;
				color: #3b3b3b;
			}
		}

	}
}
.elementBuyBlock {
	display: flex;
	border-radius: 25px;
	border: 1px solid #e8e8e8;
	flex-wrap: wrap;
	margin-top: 41px;
	margin-left: -9px;
	width: calc(100% + 16px);
	padding-top: 31px;
	.catalogItem__functional {
		position: relative;
		width: calc(100% + 2px);
		margin-left: -1px;
	}
	.catalogItem__buy {
		height: 70px;
		font-size: 24px;
		width: calc(100% - 110px);
	}
	.catalogItem__amout-input {
		height: 70px;
		font-size: 24px;
	}
	.catalogItem__plus {
		height: 35px;
	}
	.catalogItem__minus {
		height: 35px;
	}
	.catalogItem__buy-svg {
		margin-right: 17px;
		width: 32px;
		height: 27px;
	}
	&__item {
		display: flex;
		width: 100%;
		padding-left: 27px;
		padding-right: 27px;
		margin-bottom: 29px;
	}
	&__left {
		width: 53%;
		color: #3b3b3b;
		font-family: $SansProSemiBold;
		font-size: 18px;
		display: flex;
		align-items: center;
		line-height: 26px;
	}
	&__right {
		width: 47%;
		color: #3b3b3b;
		font-family: $SansProBlack;
		font-size: 20px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 20px;
		.rub {
			font-size: 14px;
		}
	}
	&__total {
		padding-left: 27px;
		padding-right: 27px;
		width: 100%;
		margin-top: 5px;
		margin-bottom: 35px;
		&-title {
			color: #3b3b3b;
			text-transform: uppercase;
			font-family: $SansProSemiBold;
			font-size: 26px;
			display: inline-block;
			margin-right: 12px;
			vertical-align: top;
		}
		&-price {
			font-family: $SansProBlack;
			font-size: 24px;
			color: #3b3b3b;
			display: inline-block;
			vertical-align: top;
			.rub {
				font-size: 14px;
			}
		}

	}
}
.elementOrdersamples {
	max-width: 239px;
	margin-top: 15px;
	&.desktop {
		display: none;
	}
}
.elementItemDescription {
	width: 100%;
	margin-top: 26px;
	padding-bottom: 40px;
	border-bottom: 1px solid #008b3b;
	&.desktop {
		display: none;
	}
	&__title {
		font-size: 26px;
		display: block;
		color: #3b3b3b;
		margin-bottom: 20px;
		font-family: $SansProSemiBold;
	}
	&__text {
		color: #707070;
	}
}
@media screen and (min-width: 768px) {
	.elementItemDescription {
	}
	.elementItem {
		&__sideBarLeft {
			width: 49%;
		}
		&__sideBarRight {
			width: 50%;
		}
		&__column1 {
			padding-left: 54px;
		}
		&__column2 {
			padding-left: 47px;
		}
		&__column3 {
			padding-left: 41px;
		}
	}
	.elementAvailableColors {
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}
	.elementPrice {
		width: 100%;
		margin-left: 0;
	}
	.elementSlider {
		&__item {
			min-height: 318px;
		}
	}
	.elementSliderNav {
		max-width: 340px;
		&__item {
			width: 114px;
			height: 100px
		}
		&__link {
			height: 100px;
		}
		.slick-arrow {
			top: 43px;
		}
	}
	.elementApplication {
		margin-left: -12px;
		width: calc(100% + 12px);
		&__title {
			padding-top: 20px;
			padding-left: 30px;
		}
		&__select {
			padding-left: 29px;
			padding-right: 29px;
		}
		.addApplication {
			margin-left: 31px;
		}
		&__available {
			padding-left: 31px;
		}
	}
	.elementOptions {
		&__head {
			margin-left: 0;
			width: 100%;
			margin-top: 34px;
			padding-right: 5px;
		}
		&__name {
			width: 46%;
		}
		&__info {
			width: 54%;
		}
	}
	.remains {
		margin-top: 36px;
	}
	.elementBuyBlock {
		padding-top: 27px;
		width: calc(100% + 11px);
		&__right {
			justify-content: start;
			font-size: 24px;
			width: 52%;
		}
		&__left {
			width: 48%;
		}
		&__item {
			padding-left: 26px;
			padding-right: 26px;
		}
		&__total {
			&-price {
				font-size: 24px;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.elementItem {
		border-bottom: 3px solid #008b3b;
		padding-bottom: 12px;
		&__sideBarLeft {
			width: 41%;
		}
		&__sideBarRight {
			width: 59%;
			display: flex;
			flex-wrap: wrap;
		}
		&__column1 {
			width: 100%;
			padding-left: 21px;
			display: flex;
			flex-wrap: wrap;
		}
		&__column2 {
			width: 50%;
			padding-left: 21px;
			margin-top: 18px;
		}
		&__column3 {
			width: 50%;
			padding-left: 24px;
			margin-top: 23px;
		}
		.button.greyButton {
			margin: 0;
		}
	}
	.elementSlider {
		&__item {
			min-height: 450px;
		}
	}
	.elementBuyBlock {
		margin-top: 0;
		&__item {
			padding-left: 36px;
		}
		&__total {
			padding-left: 36px;
		}
	}
	.elementColumn1__row {
		width: 43%;
	}
	.elementItemDescription {
		&.mobile {
			display: none;
		}
		&.desktop {
			display: block;
			width: 100%;
			padding-left: 20px;
			margin-top: 19px;
			border-bottom: 0;
		}
	}
	.elementApplication {
		width: 57%;
		margin-left: 0;
		padding-left: 51px;
		margin-top: 6px;
	}
	.elementSliderNav {
		max-width: 390px;
		margin-top: 28px;
		&__item {
			width: 130px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.slick-arrow.slick-prev {
			left: -19px;
		}
		.slick-arrow.slick-next {
			right: -19px;
		}
	}
	.elementOptions {
		&__head {
			margin-top: 60px;
			padding-right: 35px;
		}
		&__name {
			width: 48%;
		}
		&__info {
			width: 52%;
		}
		&__table {
			padding-right: 43px;
		}
	}
	.elementBuyBlock {
		&__total-price {
			font-size: 30px;
			.rub {
				font-size: 16px;
			}
		}
	}
	.elementOrdersamples {
		&.mobile {
			display: none;
		}
		&.desktop {
			display: block;
		}
	}
}
@media screen and (min-width: 1920px) {
	.circulation {
		&.remains {
			padding-top: 35px;
		}
	}
	.elementItem {
		&__sideBarLeft {
			width: 30%;
		}
		&__sideBarRight {
			width: 70%;
			align-items: flex-start;
		}
		&__column1 {
			width: 37%;
			padding-left: 56px;
		}
		&__column2 {
			width: 30%;
			padding-left: 50px;
			margin: 0;
			padding-top: 39px;
		}
		&__column3 {
			width: 33%;
			padding-left: 52px;
			margin-top: 0;
			padding-top: 41px;
		}
	}
	.remains {
		padding-top: 68px;
		margin-top: 0;
	}
	.elementSlider {
		&__item {
			min-height: 500px;
		}
	}
	.elementColumn1__row {
		width: 100%;
	}
	.elementApplication {
		width: 100%;
		padding-left: 0;
		margin-top: 32px;
		&__available {
			padding-left: 0;
			margin-top: 82px;
		}
	}
	.elementPrice {
		padding-right: 115px;
	}
	.elementOptions {
		&__table {
			padding-right: 100px;
		}
		&__head {
			margin-top: 50px;
			padding-right: 100px;
		}
	}
	.elementItemDescription.desktop {
		display: block;
		width: 65%;
		padding-left: 56px;
		margin-top: 59px;
	}
}
/* Circle */
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
