@font-face {
	font-family: 'Sans Pro Black';
	src: url('../fonts/Sourcesanspro/SourceSansPro-Black.woff2') format('woff2'),
		url('../fonts/Sourcesanspro/SourceSansPro-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Sans Pro Regular';
	src: url('../fonts/Sourcesanspro/SourceSansPro-Regular.woff2') format('woff2'),
		url('../fonts/Sourcesanspro/SourceSansPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Sans Pro SemiBold';
	src: url('../fonts/Sourcesanspro/SourceSansPro-Semibold.woff2') format('woff2'),
		url('../fonts/Sourcesanspro/SourceSansPro-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Sans Pro Bold';
	src: url('../fonts/Sourcesanspro/SourceSansPro-Bold.woff2') format('woff2'),
		url('../fonts/Sourcesanspro/SourceSansPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Sans Pro Light';
	src: url('../fonts/Sourcesanspro/SourceSansPro-Light.woff2') format('woff2'),
		url('../fonts/Sourcesanspro/SourceSansPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ALS Rubl';
	font-style: normal;
	font-weight: normal;
	src: local('ALS Rubl'), url('../fonts/Rubl/rouble.woff') format('woff');
}

@font-face {
	font-family: 'Komus-font-2';
	src:  url('../fonts/Komus2/Komus-font-2.eot?ap1ho6');
	src:  url('../fonts/Komus2/Komus-font-2.eot?ap1ho6#iefix') format('embedded-opentype'),
		url('../fonts/Komus2/Komus-font-2.ttf?ap1ho6') format('truetype'),
		url('../fonts/Komus2/Komus-font-2.woff?ap1ho6') format('woff'),
		url('../fonts/Komus2/Komus-font-2.svg?ap1ho6#Komus-font-2') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Komus-font-1';
	src:  url('../fonts/Komus1//Komus-font-1.eot?5ytxae');
	src:  url('../fonts/Komus1//Komus-font-1.eot?5ytxae#iefix') format('embedded-opentype'),
		url('../fonts/Komus1//Komus-font-1.ttf?5ytxae') format('truetype'),
		url('../fonts/Komus1//Komus-font-1.woff?5ytxae') format('woff'),
		url('../fonts/Komus1//Komus-font-1.svg?5ytxae#Komus-font-1') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Komus-font-3';
  src:  url('../fonts/Komus3/Komus3.eot?4igxya');
  src:  url('../fonts/Komus3/Komus3.eot?4igxya#iefix') format('embedded-opentype'),
    url('../fonts/Komus3/Komus3.ttf?4igxya') format('truetype'),
    url('../fonts/Komus3/Komus3.woff?4igxya') format('woff'),
    url('../fonts/Komus3/Komus3.svg?4igxya#Komus3') format('svg');
  font-weight: normal;
  font-style: normal;
}