@charset "UTF-8";

@import "global/_variables";
@import "global/_mixin";
.holidaysScroll {
	background-color: rgba(232, 232, 232, 0.5);
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	&__all {
		margin-top: 30px;
	}
	&__title {
		text-align: center;
		h2 {
			font-family: $SansProSemiBold;
			font-size: 30px;
			padding-top: 34px;
			margin-bottom: 24px;
		}
	}
	&__block {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		height: 277px;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.jspPane {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.jspHorizontalBar {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #fefefe;
		border-radius: 5px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.jspDrag {
		border-radius: 5px;
		border: 0;
		height: 10px;
		background-color: #d10910;
		max-width: 93px;
	}
	&__button {
		&.button.greenButton {
			max-width: 274px;
			margin: 0 auto;
			display: block;
		}
	}

}
.holidaysItem {
	min-width: 150px;
	width: 150px;
	padding-left: 10px;
	padding-right: 10px;
	&__icon {
		width: 130px;
		height: 130px;
		border-radius: 50%;
		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 17px;
		padding: 15px;
		img {
			transition: 0.24s all;
			max-width: 110px;
			max-height: 110px;
		}
		&:hover {
			img {
				animation-name: hvr-pulse;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
			}
		}
	}
	&__info {
		text-align: center;
		font-family: $SansProSemiBold;
	}
	&__title {
		color: #3b3b3b;
	}
	&__text {
		color: #9a9a9a;
		font-size: 14px;
		height: 38px;
		overflow: hidden;
		line-height: 18px;
		margin-top: 4px;
		margin-bottom: 6px;
		display: flex;
		justify-content: center;
	}
	&__link {
		color: #d10910;
		font-size: 14px;
	}
}
.content-container .holidayList .paggination__list,
.holidayList .paggination__list {
	padding: 0;
	width: 100%;
	margin: 0 auto;
}
.content-container .holidayList .paggination__link.arrow,
.holidayList .paggination__link.arrow {
	position: absolute;
	&.prev {
		left: -25px;
	}
	&.next {
		right: -25px;
	}
}
.holidayList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #f3f3f3;
	border-radius: 20px;
	margin-top: 15px;
	padding-top: 48px;
	padding-bottom: 30px;
	.holidaysItem {
		float: none;
		width: 218px;
		margin-bottom: 45px;
		&__icon {
			width: 208px;
			height: 208px;
			margin-bottom: 22px;
			img {
				max-width: 134px;
				max-height: 134px;
			}
		}
		&__title {
			font-family: $SansProSemiBold;
			font-size: 18px;
		}
		&__text {
			font-family: $SansProSemiBold;
			font-size: 18px;
			margin-bottom: 16px;
		}
		&__link {
			font-size: 16px;
			font-family: $SansProSemiBold;
		}
	}
	.paggination {
		width: 100%;
		margin-top: 17px;
		position: relative;
		padding-left: 18px;
		padding-right: 18px;
	}
}
@media screen and (min-width: 768px) {
	.holidayList {
		margin-top: 36px;
		padding-left: 30px;
		padding-right: 30px;
		justify-content: baseline;
		.holidaysItem {
			width: 210px;
			padding-left: 25px;
			padding-right: 25px;
			margin-bottom: 33px;
			&__icon {
				width: 160px;
				height: 160px;
				margin-bottom: 17px;
			}
			&__text {
				font-size: 18px;
				height: 45px;
				margin-bottom: 0;
			}
		}
		.paggination {
			margin-top: 5px;
		}
	}
	.content-container .holidayList .paggination__link.arrow,
	.holidayList .paggination__link.arrow {
		position: static;
	}
	.content-container .holidayList .paggination__list,
	.holidayList .paggination__list {
		width: 333px;
	}
	.holidaysScroll {
		position: relative;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 54px;
		.jspHorizontalBar {
			background-color: transparent;
			.jspCap {
				width: 45%;
				display: block;
				height: 10px;
				&.jspCapLeft {
					width: 10px;
				}
			}
		}
		&__block {
			height: 345px;
		}
		&__all {
			position: absolute;
			right: 20px;
			bottom: 41px;
			width: 274px;
			margin-top: 0;
		}
	}
	.holidaysItem {
		width: 180px;
		min-width: 180px;
		&__title {
			font-size: 18px;
		}
		&__icon {
			width: 160px;
			height: 160px;
			margin-bottom: 19px;
		}
		&__text {
			height: 40px;
			line-height: 22px;
			margin-top: 12px;
			margin-bottom: 6px;
			font-size: 18px;
		}
	}

}
@media screen and (min-width: 1280px) {
	.holidayList {
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 0;
		.holidaysItem {
			width: 200px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 33px;
			min-width: 200px;
			&__icon {
				margin-bottom: 11px;
				img {
					max-width: 100px;
					max-height: 100px;
				}
			}
		}
	}
	.holidaysScroll {
		padding-right: 38px;
		padding-left: 38px;
		&__title {
			h2 {
				margin-bottom: 35px;
			}
		}
		.jspHorizontalBar {
			.jspCap {
				width: 40%;
				&.jspCapLeft {
					width: 13%;
				}
			}
		}
		&__all {
			right: 195px;
		}
	}
	.holidaysItem {
		width: 204px;
		min-width: 204px;
		padding-left: 22px;
		padding-right: 22px;
		&__icon {
			img {
				max-width: 180px;
				max-height: 180px;
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.holidayList {
		padding-left: 30px;
		padding-right: 25px;
		margin-top: 0;
		.holidaysItem {
			width: 267px;
			padding-left: 30px;
			padding-right: 30px;
			margin-bottom: 45px;
			min-width: 267px;
			&__icon {
				width: 207px;
				height: 207px;
				margin-bottom: 19px;
				img {
					max-width: 135px;
					max-height: 135px;
				}
			}
			&__title {
				font-size: 20px;
			}
		}
	}
	.holidaysItem {
		min-width: 260px;
		width: 260px;
		padding-left: 24px;
		padding-right: 24px;
		float: left;
		&__text {
			height: auto;
			margin-bottom: 12px;
		}
		&__link {
			font-size: 16px;
		}
		&__icon {
			width: 208px;
			height: 208px;
		}
	}
	.holidaysScroll {
		padding-left: 54px;
		padding-right: 54px;
		max-width: 1920px;
		margin: 0 auto;
		&__all {
			right: 511px;
		}
		&__block {
			height: 420px;
		}
		.jspHorizontalBar {
			.jspCap {
				width: 45%;
				&.jspCapLeft {
					width: 25%;
				}
			}
		}
	}
}
@keyframes hvr-pulse {
	25% {
		transform: scale(1.1);
	}
	75% {
		transform: scale(0.9);
	}
}
