@charset "UTF-8";

@import "global/_variables";
@import "global/_mixin";

.interviewBlock {
	margin-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-image: url(../images/interviewblock/320-767.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	&__block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	textarea::-webkit-input-placeholder,
	input::-webkit-input-placeholder {
		color: #3b3b3b;
	}
	textarea:-moz-placeholder,
	input:-moz-placeholder {
		color: #3b3b3b;
	} 
	textarea::-moz-placeholder,
	input::-moz-placeholder {
		color: #3b3b3b;
	} 
	textarea:-ms-input-placeholder,
	input:-ms-input-placeholder {
		color: #3b3b3b;
	}
	input,
	textarea {
		font-family: $SansProSemiBold;
	}
	
	.error::-webkit-input-placeholder {
		color: rgb(209, 9, 16);
	}
	.error:-moz-placeholder {
		color: rgb(209, 9, 16);
	} 
	.error::-moz-placeholder {
		color: rgb(209, 9, 16);
	} 
	.error:-ms-input-placeholder {
		color: rgb(209, 9, 16);
	}
	.button.redButton {
		max-width: 160px;
		margin: 0 auto;
	}
}
.questionsBlock {
	width: 300px;
	&__title {
		h2 {
			padding-top: 34px;
			margin-top: 0;
			font-size: 26px;
			line-height: 32px;
			margin-bottom: 23px;
		}
	}
	.formField {
		margin-bottom: 19px;
		input,
		textarea {
			padding-left: 17px;
			font-size: 16px;
			padding-top: 8px;
		}
	}
}
.interview {
	width: 300px;
	padding-right: 29px;
	padding-left: 29px;
	&__question {
		text-align: right;
		font-size: 20px;
		color: #3b3b3b;
		font-family: $SansProSemiBold;
		margin-bottom: 24px;
	}
	&__title {
		text-align: right;
		h2 {
			font-size: 26px;
			margin-top: 20px;
			margin-bottom: 8px;
		}
	}
	&__checkbox {
		max-height: 130px;
		margin-bottom: 19px;
	}
	.checkbox {
		display: block;
		margin-bottom: 9px;
		&__text {
			font-size: 18px;
		}
	}
	.jspVerticalBar {
		width: 5px;
		.jspCap {
			height: 5px;
		}
	}
	.formField {
		input {
			font-size: 16px;
			padding-left: 18px;
			padding-top: 9px;
			padding-bottom: 11px;
		}
	}
	&__func {
		display: flex;
	}
	&__send {
		width: 157px;
	}
	&__reset {
		width: 123px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.button {
		&.interview__buttonSend {
			color: #ffffff;
			border-radius: 25px;
			background-color: #008b3b;
			&:hover {
				background-color: #11b858;
			}
		}
		&.interview__buttonReset {
			font-size: 14px;
			padding: 0;
			display: inline-block;
			width: auto;
			&:hover {
				color: #d10910;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.interviewBlock {
		padding-left: 31px;
		padding-top: 7px;
		padding-bottom: 60px;
		background-image: url(../images/interviewblock/768-1279.jpg);
	}
	.questionsBlock {
		width: 370px;
		.checkbox__text {
			display: inline-block;
		}
		form {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			max-width: 345px;
		}
		.formField {
			width: 100%;
		}
		&__title {
			h2 {
				margin-bottom: 18px;
			}
		}
		&__field {
			&-left {
				display: flex;
				flex-wrap: wrap;
			}
		}
		&__phone {
			&.formField {
				width: 50%;
				padding-right: 10px;
			}
		}
		&__mail {
			&.formField {
				width: 50%;
			}
		}
	}
	.interview {
		padding-right: 23px;
		margin-top: 143px;
		padding-left: 36px;
		&__reset {
			width: 88px;
		}
	}
}
@media screen and (min-width: 1280px) {
	.interviewBlock {
		padding-bottom: 0;
		padding-left: 51px;
		padding-right: 51px;
		background-image: url(../images/interviewblock/1280-1919.jpg);
		margin-top: 42px;
		padding-top: 0;
		background-position: top center;
		padding-bottom: 18px;
	}
	.interview {
		margin-top: 25px;
		padding-right: 48px;
		width: 363px;
		&__title {
			text-align: left;
		}
		&__question {
			text-align: left;
		}
	}
	.questionsBlock {
		width: 479px;
		&__title {
			h2 {
				padding-top: 46px;
				max-width: 390px;
			}	
		}
		form {
			max-width: 100%;
		} 
		&__check {
			&.formField {
				width: 60%;
			}
		}
		.button.redButton {
			display: inline-block;
			margin: 0;
		}
		&__button {
			&.formField {
				text-align: right;
				width: 40%;
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.interviewBlock {
		background-size: cover;
		margin-top: 53px;
		padding-bottom: 33px;
		background-image: url(../images/interviewblock/back1920.jpg);
		&__block {
			margin: 0 auto;
			max-width: 1920px;
		}
	}
	.questionsBlock {
		width: 840px;
		&__field {
			display: flex;
			width: 100%;
			&-right {
				width: 435px;
				padding-left: 40px; 
			}
			&-left {
				display: flex;
				flex-wrap: wrap;
				width: 395px;
			}
		} 
		&__check {
			&.formField {
				width: 435px;
				padding-right: 40px;
			}
		}
		&__button {
			&.formField {
				width: 395px;
				text-align: left;
			}
		}
	}
	.interview {
		margin-top: 25px;
		padding-right: 92px;
		width: 723px;
		.jspPane {
			display: flex;
			flex-wrap: wrap;
		}
		.checkbox {
			width: 33%;
		}
		&__checkbox {
			max-height: 66px;
		}
		&__question {
			margin-bottom: 29px;
		}
		&__fieldblock {
			display: flex;
			margin-top: 33px;
			.interview__field {
				width: 276px;
				padding-right: 30px;
			}
		}
	}
}