@import "global/_variables";
.commercial-offer {
	position: relative;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #fafafa;

h1 {
	margin-top: 0;
	position: relative;
	z-index: 1;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 10px;
}

p {
	position: relative;
	z-index: 1;
}

&::after {
	content: '';
	position: absolute;
	right: -80%;
	bottom: 0;
	height: 100%;
	width: 100%;
	display: block;
	transform: skewX(-26deg);
	background-color: #f3f3f3;
}

&::before {
	content: '';
	position: absolute;
	right: -70%;
	bottom: 0;
	height: 100%;
	width: 100%;
	display: block;
	transform: skewX(-26deg);
	background-color: #fff;
}

&__num {
	position: relative;
	z-index: 1;
	padding-top: 12px;
	padding-right: 10px;
	padding-right: 17px;
	text-align: right;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	color: #3b3b3b;

	span {
		display: block;

		&:first-of-type {
			font-family: $SansProSemiBold;
			font-size: 30px;
			font-weight: 600;
		}
	}
}
}

.commercial__footer {
text-align: center;

span {
	display: block;
}

a {
	margin: 0 auto;
	max-width: 222px;
}

.redButton {
	margin-bottom: 20px;
}

.greenButton {
	text-align: center;
	padding-right: 0;
	padding-left: 0;

	&::before {
		display: none;
	}

	&:hover {
		padding-right: 0;
		padding-left: 0;
	}
}

&-col {
	margin-bottom: 20px;
}
}
.commercial__total {
font-family: $SansProSemiBold;
font-size: 26px;
font-weight: 400;
line-height: 55px;
color: #3b3b3b;

.total {
	font-family: $SansProBlack;
	font-size: 30px;
	line-height: 1;
}

.rub {
	font-size: 18px;
}
}

.commercial-offer-header {
	position: relative;
	padding-top: 27px;
	padding-bottom: 27px;
	padding-left: 34px;
	padding-right: 34px;

	.main-header__logo {
		position: relative;
		float: left;
		left: auto;
		top: auto;
		margin-bottom: 0;

		svg {
			width: 150px;
			height: 59px;
		}
	}

	.main-header__links {
		padding-top: 20px;
		float: right;
		display: block;
	}

	.main-header__contacts {
		padding: 0;
		width: 100%;
		display: inline-block;
		text-align: right;

		&-links {
			padding: 0;
			display: inline-block;
			text-align: right;
			width: 100%;
			font-size: 0;

			> a {
				display: inline-block;
			}
		}
	}

	.main-header__email {
		margin-bottom: 0;

		&::before {
			margin-right: 15px;
		}

		span {
			font-size: 18px;
		}
	}

	.main-header__phone {
		margin-left: 50px;

		&::before {
			margin-right: 20px;
		}
	}

	&::after {
		content: "";
		width: 100%;
		display: table;
		clear: both;
	}
}
.commercial-offer {
	width: 100%;

	.content {
		display: block;
		width: 100%;

		&::after {
			content: "";
			width: 100%;
			display: table;
			clear: both;
		}
	}
}

.commercial {
	.basket__form {
		padding-top: 0;
	}

	&__total {
		line-height: 1;
		padding-left: 55px;

		.total {
			margin-top: 5px;
		}
	}
}

.commercial-offer {
	h1 {
		float: left;
		width: 76%;
		padding-right: 155px;
		margin-bottom: 18px;
	}

	p {
		float: left;
		width: 75%;
	}

	&__num {
		float: right;
		padding-top: 0;
		margin-top: -15px;
		padding-right: 90px;
		width: 25%;
	}

	&::before {
		content: '';
		position: absolute;
		right: -78%;
	}

	&::after {
		content: '';
		position: absolute;
		right: -80%;
	}
}
.commercial__footer {
	padding-top: 22px;
	display: block;
	width: 100%;

	&-col {
		float: left;
		margin-bottom: 0;

		&:nth-of-type(1) {
			width: 28.5%;
		}

		&:nth-of-type(2) {
			width: 41.5%;
		}

		&:nth-of-type(3) {
			width: 30%;
		}

		&::after {
			content: '';
			clear: both;
			width: 100%;
			display: table;
		}

		> * {
			float: left;
		}
	}

	.redButton {
		margin-bottom: 0;
	}
	
	&::after {
		content: '';
		clear: both;
		width: 100%;
		display: table;
	}
}
.commercial__total {
	span {
		display: inline-block;
	}

	.total {
		margin-top: 0;
	}
}

.commercial__footer {
	padding-right: 21%;

	.redButton {
		margin-right: 70px;
	}
}

.commercial {
	.orderList__header {
		display: block;
		width: 100%;

		&::after {
			content: '';
			display: table;
			width: 100%;
			clear: both;
		}

		span {
			float: left;
		}
	}

	.orderItem {
		display: block;
		width: 100%;

		&::after {
			content: '';
			display: table;
			width: 100%;
			clear: both;
		}

		> * {
			float: left;
		}
	}

	.orderPrice {
		display: none !important;
	}
}

