@charset "UTF-8";
@import "global/_variables";

.mainPageSlider {
	overflow: hidden;
	position: relative;
	opacity: 0;
	transform: scale(0);
	transition: 0.24s all;
	&.visible {
		transform: scale(1);
		opacity: 1;
	}
	&__mobile {
		display: block;
		width: 100%;
		height: 100%;
		img {
			margin: 0 auto;
			display: block;
			max-width: 100%;
		}
	}
	&__notebook {
		display: none;
		width: 100%;
		height: 100%;
		img {
			margin: 0 auto;
			display: block;
			max-width: 100%;
		}
	}
	&__desktop {
		display: none;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}
	.slick-arrow {
		position: absolute;
		left: 0;
		top: 46%;
		z-index: 10;
		width: 56px;
		height: 56px;
		background-color: #008b3b;
		border: 0;
		font-size: 0;
		border-radius: 50%;
		transition: 0.24s all;
		&:after {
			font-family: $Icon1;
			color: #008b3b;
			content: "\64";
			font-size: 10px;
			position: absolute;
			right: 15px;
			top: 23px;
		}
		&:before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			background-color: #fff;
			border-radius: 50%;
			right: 7px;
			top: 18px;
		}
		&:hover {
			background-color: #11b858;
		}
	}
	.slick-prev {
		left: -26px;
	}
	.slick-next {
		right: -26px;
		left: auto;
		&:before {
			right: auto;
			left: 7px;
		}
		&:after {
			content: "\65";
			left: 15px;
			right: auto;
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		margin: 0 auto;
		max-width: 1830px;
		li {
			padding: 0;
			display: inline-block;
			&:before {
				content: none;
			}
			button {
				border: 0;
				background: none;
				font-size: 0;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.mainPageSlider {
		&__mobile {
			display: none;
		}
		&__notebook {
			display: block;
		}
		.slick-arrow {
			left: 0;
			top: 46%;
			width: 82px;
			height: 82px;
			&:after {
				font-size: 12px;
				right: 19px;
				top: 35px;
			}
			&:before {
				width: 29px;
				height: 29px;
				right: 8px;
				top: 26px;
			}
		}
		.slick-prev {
			left: -41px;
		}
		.slick-next {
			right: -41px;
			left: auto;
			&:before {
				right: auto;
				left: 7px;
			}
			&:after {
				content: "\65";
				left: 19px;
				right: auto;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.mainPageSlider {
		&__notebook {
			display: none;
		}
		&__desktop {
			height: 440px;
			display: block;
		}
		.slick-arrow {
			top: 38%;
		}
	}
}
@media screen and (min-width: 1920px) {
	.mainPageSlider {
		&__desktop {
			background-size: cover;
		}
	}
}