@import "global/_variables";
/* === NEWS LIST ===*/
.news-list {
	.newsItem {
		width: 300px;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	.menuSideBar {
		border-radius: 20px;

		&__mobile {
			padding: 15px;
			background-color: #e8e8e8;

			&::after {
				top: 50%;
				right: 34px;
				margin-top: -9px;
			}

			.news-list__item {
				background-color: #fff;
				border-radius: 20px;
				border: 1px solid #e8e8e8;
			}
		}

		&__link {
			padding: 0;

			&.current {
				background-color: #e8e8e8;
				color: #3b3b3b;
				.news-list__item {
					background-color: #fff;
					border-radius: 20px;
					border: 1px solid #e8e8e8;
				}
			}

			&:hover {
				background-color: #e8e8e8;
				color: #3b3b3b;

				.news-list__item {
					background-color: #fff;
					border-radius: 20px;
					border: 1px solid #e8e8e8;
					transition: all 0.3s;
				}
			}
		}

		&__list {
			padding: 15px;
			background-color: #e8e8e8;
		}
	}

	.sideBar__right {
		padding-top: 30px;
	}

	&__item {
		padding-top: 10px;
		padding-right: 50px;
		padding-bottom: 20px;
		padding-left: 20px;
		border: 1px solid transparent;

		&-date {
			font-size: 14px;
			font-family: $SansProRegular;
			color: #9a9a9a;
		}

		&-title {
			max-height: 68px;
			overflow: hidden;
		}
	}
}
@media screen and (min-width: 768px) {
	.news-list {
		.row {
			margin-left: 0;
			margin-right: 0;
		}

		.newsItem {
			width: 350px;
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 20px;
		}
	
		.menuSideBar {		
			border-radius: 20px;
	
			&__mobile {
				display: none;
			}

			&__item {
				max-width: 326px;
			}
	
			&__link {
				padding: 0;
			}
	
			&__list {
				max-width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				position: relative;
				padding: 15px;
				background-color: #e8e8e8;
			}
		}
	
		.sideBar__right {
			padding-top: 35px;
		}

		&__grid {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
@media screen and (min-width: 1280px) {
	.news-list {
		.row {
			margin-left: 0;
			margin-right: 0;
		}

		.newsItem {
			width: 280px;
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 25px;

			&__info {
				padding-left: 18px;
				padding-right: 18px;
				padding-top: 25px;
				padding-bottom: 20px;
			}

			&__img {
				height: 175px;
			}

			&__title {
				height: 67px;
				margin-bottom: 15px;
			}

			&__text {
				height: 65px;
			}
		}
	
		.menuSideBar {		
			border-radius: 20px;
	
			&__mobile {
				display: none;
			}

			&__item {
				max-width: 326px;
			}
	
			&__link {
				padding: 0;
				margin-bottom: 0;

				&.current {
					border-color: transparent;
				}

				&:hover {
					border-color: transparent;
				}
			}
	
			&__list {
				max-width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				position: relative;
				padding: 15px;
				background-color: #e8e8e8;
			}
		}
	
		.sideBar__right {
			padding-top: 0;
			margin-top: 0;
			padding-left: 52px;
		}

		&__grid {
			display: flex;
			flex-wrap: wrap;
		}
	
		&__item {
			padding-top: 10px;
			padding-right: 10px;
			padding-bottom: 20px;
			padding-left: 20px;
			border: 1px solid transparent;
		}
	}
}
@media screen and (min-width: 1920px) {
	.news-list {
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	
		.sideBar__right {
			padding-top: 0;
			margin-top: 0;
			padding-left: 30px;
		}
	}
}
/* === /NEWS LIST ===*/
/* === ONE NEW ===*/
.one-new {
	h1 {
		line-height: 36px;
	}
	.news-btn {
		height: 60px;
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 30px;
		font-size: 20px;
		max-width: 210px;
		margin: 20px auto;

		&::before {
			content: '\6a';
			top: 20px;
			font-size: 24px;
		}

		&:hover {
			&:before {
				top: 150%;
			}
		}
	}

	.sideBar__right {
		padding-top: 8px;
	}

	.one-print__once-slider {
		.slide {
			height: 188px;

			&__pic {
				position: relative;
				width: 100%;
				height: 100%;

				img {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	.menuSideBar {		
		border-radius: 20px;

		&__mobile {
			padding: 15px;
			background-color: #e8e8e8;

			&::after {
				top: 50%;
				right: 34px;
				margin-top: -9px;
			}

			.news-list__item {
				background-color: #fff;
				border-radius: 20px;
				border: 1px solid #e8e8e8;
			}
		}

		&__link {
			padding: 0;
			width: 100%;

			&.current {
				background-color: #e8e8e8;
				color: #3b3b3b;
				.news-list__item {
					background-color: #fff;
					border-radius: 20px;
					border: 1px solid #e8e8e8;
				}
			}

			&:hover {
				background-color: #e8e8e8;
				color: #3b3b3b;

				.news-list__item {
					background-color: #fff;
					border-radius: 20px;
					border: 1px solid #e8e8e8;
					transition: all 0.3s;
				}
			}
		}

		&__list {
			padding: 15px;
			background-color: #e8e8e8;
			top: calc(100% - 80px);
		}
	}

	.importantInformation {
		padding-top: 30px;

		&::before {
			top: 37px;
		}
	}

	.content-social {
		padding-bottom: 15px;
	}

	&__title {
		h4 {
			margin-top: 0;
			margin-bottom: 20px;
		}
	}
}
@media screen and (min-width: 768px) {
	.one-new {
		.row {
			margin: 0;
		}
		.news-btn {
			margin: 0;
		}
		.menuSideBar {		
			border-radius: 20px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&__mobile {
				max-width: 471px;
			}
		
			&__link {
				padding: 0;
			}
	
			&__list {
				max-width: 471px;
				padding: 15px;
				background-color: #e8e8e8;
				top: 100%;
			}
		}

		.one-print__once-slider {
				max-width: 572px;

			.slide {
				height: 355px;

				&__pic {
					position: relative;
					width: 100%;
					height: 100%;

					img {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}

		.sideBar__right {
			padding-top: 30px;
		}

		.content-social {
			padding-bottom: 40px;
		}

		&__slider {
			display: flex;
			flex-wrap: wrap;

			h4 {
				width: 100%;
			}

			.one-print__several-slider {
				width: 50%;
			}

			.importantInformation {
				width: 50%;
				padding-top: 0;
				padding-left: 87px;
				padding-bottom: 25px;

				&::before {
					top: 0;
				}
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.one-new {
		.sideBar__right {
			padding-top: 0;
			margin-top: 0;
			padding-left: 62px;
		}
		.news-btn {
			margin-top: 20px;
			max-width: 100%;
		}
		.menuSideBar {		
			border-radius: 20px;
			flex-direction: column;
	
			&__mobile {
				display: none;
			}

			&__item {
				max-width: 100%;
			}
	
			&__link {
				padding: 0;
				margin-bottom: 0;

				&.current {
					border-color: transparent;
				}

				&:hover {
					border-color: transparent;
				}
			}
	
			&__list {
				max-width: 100%;
				display: block;
			}
		}
		.one-print__several-slider {
			width: 42%;
		}
		.importantInformation {
			width: 57%;

			&::before {
				left: 9px;
			}
		}
		.content-social {
			padding-top: 25px;
		}

		&__slider {
			padding-bottom: 20px;
		}
	}
}
@media screen and (min-width: 1920px) {
	.one-new {
		.sideBar__right {
			padding-top: 0;
			margin-top: 0;
			padding-left: 38px;
			display: flex;
			flex-wrap: wrap;

			&-col-l {
				width: 40%;
			}

			&-col-r {
				margin-top: -6px;
				width: 60%;
				padding-left: 64px;
			}
		}
		.news-btn {
			margin-top: 20px;
			max-width: 100%;
		}
		.menuSideBar {		
			border-radius: 20px;
			flex-direction: column;
	
			&__mobile {
				display: none;
			}

			&__item {
				max-width: 100%;
			}
	
			&__link {
				padding: 0;
				margin-bottom: 0;

				&.current {
					border-color: transparent;
				}

				&:hover {
					border-color: transparent;
				}
			}
	
			&__list {
				max-width: 100%;
				display: block;
			}
		}
		.one-print__several-slider {
			width: 100%;
			margin-bottom: 50px;
		}
		.importantInformation {
			width: 80%;
			padding-left: 78px;

			&::before {
				left: 0;
			}
		}
		.content-social {
			padding-top: 25px;
			padding-bottom: 70px;
		}

		&__slider {
			flex-direction: column;
			padding-bottom: 0;
		}
	}
}
/* === /ONE NEW ===*/