@charset "UTF-8";

@import "global/_variables";
@import "global/_mixin";

.newsSlider {
	&__title {
		margin-bottom: 22px;
		text-align: center;
		h2 {
			font-size: 30px;
		}
	}
	.newsSlider__slider {
		opacity: 0;
		transform: scale(0);
		transition: 0.3s all;
		&.visible {
			opacity: 1;
			transform: scale(1);
		}
	}
	.slick-arrow {
		top: 43%;
		width: 28px;
		height: 28px;
		background-color: #008b3b;
		display: flex;
		align-items: center;
		color: #fff;
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		z-index: 1;
		border: 0;
		font-size: 0;
		line-height: 0;
		&:after,
		&:before {
			content: '';
			color: #fff;
			font-family: $Icon2;
			font-size: 31px;
			z-index: -1;
			transition: 0.3s all;
			position: absolute;
		}
		&.slick-prev {
			left: 10px;
			&:after,
			&:before {
				content: "\6d";
				right: -2px;
			}
			&:before {
				right: -25px;
			}
		}
		&.slick-next {
			right: 10px;
			&:after,
			&:before {
				content: "\6e";
				left: -2px;
			}
			&:before {
				left: -25px;
			}
		}
		&.slick-disabled {
			background-color: #f3f3f3;
			pointer-events: none;
		}
		&:hover {
			background-color: #11b858;
			text-decoration: none;
				&.slick-prev {
					&:after{
						right: 2px;
					}
					&:before {
						right: -8px;
					}
				}
				&.slick-next {
					&:after{
						left: 2px;
					}
					&:before {
						left: -8px;
					}
				}
		}
	}
	&__all {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	&__button {
		max-width: 234px;
		&.button {
			margin: 0 auto;
		}
	}
}
.newsItem {
	width: 320px;
	padding-left: 10px;
	padding-right: 10px;
	&__block {
		width: 100%;
	}
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 210px;
		overflow: hidden;
		border-top: 1px solid #e8e8e8;
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		position: relative;
		&:hover {
			&:before {
				-webkit-animation: circle .75s;
				animation: circle .75s;
			}
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;
			display: block;
			content: '';
			width: 0;
			height: 0;
			background: rgba(255,255,255,.2);
			border-radius: 100%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			opacity: 0;
		}
		img {
			max-width: 100%;
		}
	}
	&__info {
		padding-left: 28px;
		padding-right: 28px;
		padding-top: 28px;
		padding-bottom: 23px;
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
	}
	&__title {
		display: block;
		height: 45px;
		overflow: hidden;
		color: #3b3b3b;
		font-size: 18px;
		line-height: 22px;
		font-family: $SansProSemiBold;
		margin-bottom: 7px;
	}
	&__text {
		display: block;
		font-size: 13px;
		line-height: 17px;
		height: 50px;
		margin-bottom: 3px;
		overflow: hidden;
	}
	&__date {
		font-size: 13px;
		font-family: $SansProSemiBold;
		color: #424242;
		display: block;
	}
	&__read {
		width: 100%;
		display: block;
		text-align: center;
		border-radius: 0 0 25px 25px;
		border: 1px solid #d10910;
		background-color: #ffffff;
		padding-top: 12px;
		padding-left: 37px;
		padding-bottom: 13px;
		position: relative;
		transition: 0.24s all;
		&:hover {
			background-color: #d10910;
			color: #ffffff;
			text-decoration: none;
			&:before {
				color: #fff;
			}
		}
		&:before {
			font-family: $Icon1;
			content: "\68";
			position: absolute;
			left: 69px;
			font-size: 23px;
			top: 11px;
			transition: 0.24s all;
		}
	}
}
@media screen and (min-width: 768px) {
	.newsSlider {
		padding-left: 40px;
		padding-right: 40px;
		&__title {
			margin-top: 34px;
			margin-bottom: 34px;
		}
		.slick-arrow {
			top: 65%;
			&.slick-next {
				right: -8px;
			}
			&.slick-prev {
				left: -8px;
			}
		}	
		&__all {
			margin-top: 39px;
			margin-bottom: 42px;
		}
	}
	.newsItem {
		width: 345px;
		&__info {
			padding-left: 23px;
			padding-right: 23px;
		}
	}
}
@media screen and (min-width: 1280px) {
	.newsSlider {
		padding-left: 27px;
		padding-right: 52px;
		.slick-arrow {
			&.slick-prev {
				left: 12px;
			}
			&.slick-next {
				right: -13px;
			}
		}
	}
	.newsItem {
		padding-left: 23px;
		padding-right: 23px;
		width: 304px;
		&__read{
			&:before {
				left: 50px;
			}
		} 
	}
}
@media screen and (min-width: 1920px) {
	.newsItem {
		padding-left: 25px;
		padding-right: 25px;
		width: 303px;
		&__img {
			height: 175px;	
		}
		&__info {
			padding-left: 18px;
			padding-right: 18px;
			padding-top: 23px;
			padding-bottom: 16px;
		}
		&__title {
			height: 65px;
			margin-bottom: 17px;
		}
		&__text {
			height: 67px;
		}
	}
	.newsSlider {
		padding-left: 44px;
		padding-right: 44px;
		margin: 0 auto;
		max-width: 1920px;
		&__title {
			margin-top: 41px;
			margin-bottom: 35px;
		}
		.slick-arrow {
			&.slick-prev {
				left: -14px;
			}
		}
	}
}
/* Circle */
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}