@import "global/_variables";
.one-print {
	&__gallery {
		h4 {
			padding-left: 10px;
			margin-top: 20px;
		}

		.slide {
			width: 100%;
			border-radius: 25px;
			border: 1px solid #e8e8e8;
			background-color: #ffffff;
			font-size: 0;
			text-align: center;
			cursor: pointer;

			&__pic {
				display: inline-block;
			}
		}
	}

	&__once-slider {
		.slide {
			height: 263px;
			padding: 25px 0;

			&__pic {
				width: 210px;
				height: 214px;

				img {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	&__several-slider {
		.slide {
			width: 135px;
			height: 134px;
			margin-right: 20px;
			border-radius: 10px;
			padding: 15px 0;

			&__pic {
				width: 105px;
				height: 105px;

				img {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.one-print {
		&__gallery {
			margin-left: 0;
			margin-right: 0;
	
			h4 {
				padding-left: 0;
				margin-bottom: 20px;
			}
		}
	
		&__once-slider {
			.slide {
				height: 303px;
				padding: 28px 0;
	
				&__pic {
					width: 240px;
					height: 250px;
				}
			}
		}
	
		&__several-slider {
			.slide {
				width: 140px;
				height: 140px;
				margin-right: 20px;
			}

			.slick-list {
				max-width: 300px;
				overflow: hidden;
			}
		}
	}
}
@media screen and (min-width: 1280px) {

}
@media screen and (min-width: 1920px) {
	.one-print {
		&__once-slider {
			.slide {
				height: 355px;
				padding: 33px 0;
	
				&__pic {
					width: 281px;
					height: 288px;
					text-align: center;

					img {
						display: inline-block;
					}
				}
			}
		}
	}
}
/* === / ONE PRINT ===*/