@import "global/_variables";
.orderForm {
	margin-top: 30px;
}
.stepBlock {
	margin-bottom: 55px;
	position: relative;
	&__title {
		color: #3b3b3b;
		font-size: 18px;
		display: block;
		padding-left: 55px;
		padding-top: 8px;
		margin-bottom: 13px;
		font-family: $SansProSemiBold;
	}
	&__number {
		position: absolute;
		left: 0;
		top: 0;
		width: 40px;
		height: 40px;
		background-color: #008b3b;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-size: 18px;
		line-height: 24px;
	}
}
.personalData {
	&__block {
		padding-left: 47px;
		padding-right: 14px;
	}
	&__required {
		position: absolute;
		right: -8px;
		top: 0;
		color: rgb(209, 9, 16);
	}
}
.waysDelivery {
	&__block {
		padding-left: 47px;
		padding-right: 8px;
	}
	&__courierBlock {
		display: none;
	}
	.radio {
		width: 224px;
		height: 96px;
		border-radius: 25px;
		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		display: flex;
		align-items: center;
		margin-bottom: 14px;
		transition: 0.24s all;
		&:hover {
			border-color: #008b3b;
		}
	}
	.radio__text {
		color: #3b3b3b;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 1.2px;
		padding-left: 77px;
		font-family: $SansProSemiBold;
		width: 100%;
		height: 100%;
		padding-right: 15px;
	}
	.radio__button {
		left: 38px;
		top: 38px
	}
}
.requisites {
	&__block {
		padding-left: 57px;
		padding-right: 14px;
	}
	&__info {
		display: block;
		color: #3b3b3b;
		font-size: 18px;
	}
	&__upload {
		margin-top: 19px;
	}
	&.stepBlock {
		margin-bottom: 34px;
	}
}
.orderList {
	&__header {
		display: none;
	}
	&__block {
		margin-top: 27px;
		width: calc(100% + 20px);
		margin-left: -12px;
	}
}
.orderItem {
	border-radius: 25px;
	border: 1px solid #e8e8e8;
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	&__price {
		display: none;
		.rub {
			font-size: 11px;
			font-weight: 900;
			display: inline-block;
			vertical-align: top;
			padding-top: 5px;
		}
	}
	&__priceApplication {
		display: none;
		.rub {
			font-size: 11px;
			font-weight: 900;
			display: inline-block;
			vertical-align: top;
			padding-top: 5px;
		}
	}
	&__app {
		display: none;
	}
	&__amount {
		display: none;
	}
	&__total {
		display: none;
		.rub {
			font-size: 12px;
		}
	}
	&__number {
		width: 35px;
		min-height: 111px;
		height: auto;
		max-height: 160px;
		align-items: center;
		display: flex;
	}
	&__img {
		width: calc(100% - 35px);
		min-height: 111px;
		height: auto;
		max-height: 140px;
		display: flex;
		align-items: center;
		padding-left: 10px;
		padding-bottom: 10px;
		img {
			max-height: 160px;
			max-width: 120px;
			width: auto;
		}
	}
	&__name {
		font-size: 18px;
		display: block;
		height: 75px;
		overflow: hidden;
		margin-bottom: 4px;
	}
	&__text {
		padding-top: 5px;
		color: #3b3b3b;
		font-size: 16px;
	}
	&__article {
		font-family: $SansProSemiBold;
		display: block;
		margin-bottom: 8px;
	}
	&__option {
		line-height: 20px;
		&-item {
			display: block;
			&.application {
				margin-top: 9px;
			}
		}
		&-title {
			font-family: $SansProSemiBold;
			display: block;
		}
	}
}
.orderPrice {
	display: flex;
	flex-wrap: wrap;
	margin-top: 29px;
	justify-content: center;
	&__title {
		width: 50%;
		border-radius: 25px 5px 5px 25px;
		background-color: #f3f3f3;
		color: #3b3b3b;
		span {
			font-family: $SansProSemiBold;
			text-align: center;
			line-height: 20px;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__price {
		width: 50%;
		font-family: $SansProBlack;
		font-size: 16px;
		text-align: center;
		color: #3b3b3b;
		&-price {
			font-size: 22px;
			&.application {
				color: #808080;
			}
			.rub {
				font-size: 11px;
				font-weight: 900;
				display: inline-block;
				vertical-align: top;
				padding-top: 5px;
			}
		}
		span {
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.orderLastBlock {
	margin-top: 20px;
	&__textarea {
		&.formField {
			padding-left: 16px;
			padding-right: 16px;
			margin-bottom: 10px;
		}
	}
	.checkbox__text {
		font-size: 16px;
		color: #414141;
		line-height: 24px;
	}
	&__checkbox {
		padding-left: 45px;
		padding-right: 24px;
	}
	&__totalPrice {
		max-width: 272px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 27px;
	}
	&__total {
		margin-top: 19px;
		&-title {
			color: #3b3b3b;
			font-family: $SansProSemiBold;
			font-size: 26px;
		}
		&-prices {
			color: #3b3b3b;
			font-family: $SansProBlack;
			font-size: 30px;
			.rub {
				font-size: 16px;
			}
		}
	}
	&__button {
		max-width: 272px;
		margin: 0 auto;
	}
}
.orderSuccessful {
	margin-top: 88px;
	&__order {
		display: block;
		font-family: $SansProSemiBold;
		font-size: 24px;
		color: #3b3b3b;
		line-height: 28px;
		padding-right: 40px;
		margin-bottom: 12px;
	}
	&__numberorder {
		color: #d10910;
	}
	&__infotext {
		color: #3b3b3b;
		font-size: 18px;
		display: block;
		margin-bottom: 21px;
	}
	.button {
		max-width: 254px;
		margin-bottom: 39px;
	}
	&__img {
		display: block;
		width: 324px;
	}
}
@media screen and (min-width: 768px) {
	.stepBlock {
		margin-bottom: 27px;
		&__title {
			margin-bottom: 17px;
		}
		&.waysDelivery {
			.stepBlock__title {
				margin-bottom: 13px;
			}
		}
		&.requisites {
			.stepBlock__title {
				margin-bottom: 10px;
			}
		}
	}
	.personalData {
		&__block {
			padding-left: 54px;
		}
		&__field {
			max-width: 323px;
		}
		&__required {
			font-size: 20px;
			top: -4px;
		}
	}
	.waysDelivery {
		&__block {
			padding-left: 59px;
		}
		&__radio {
			display: flex;
			flex-wrap: wrap;
		}
		.radio {
			margin-right: 19px;
		}
		&__field {
			max-width: 323px;
		}
		&__courierBlock {
			padding-left: 243px;
		}
	}
	.requisites {
		&__upload  {
			display: flex;
			max-width: 498px;
			align-items: baseline;
		}
	}
	.orderList {
		&__block {
			width: 100%;
			margin-left: 0;
			margin-top: 34px;
		}
	}
	.orderItem {
		display: flex;
		flex-wrap: wrap;
		padding-top: 27px;
		width: 100%;
		&__number {
			min-height: 140px;
		}
		&__img {
			width: 140px;
			min-height: 140px;
			padding-left: 0;
			padding-bottom: 0;
			justify-content: flex-end;

			img {
				max-width: 130px;
			}
		}
		&__text {
			width: calc(100% - 175px);
			padding-left: 55px;
			padding-right: 50px;
			padding-top: 0;
		}
		&__name {
			height: 49px;
		}
		&__option {
			display: flex;
			width: 100%;
			&-item {
				&.application {
					padding-left: 36px;
					margin-top: 0;
				}
			}
		}
	}
	.orderPrice {
		width: 100%;
		&__title {
			width: 100%;
			height: 82px;
			border-radius: 25px 25px 5px 5px;
			background-color: #f3f3f3;
			display: flex;
			justify-content: space-between;
			padding-left: 30px;
			padding-right: 30px;
			color: #3b3b3b;
			span {
				height: 82px;
				align-items: baseline;
				padding-top: 18px;
				width: 25%;
				font-size: 18px;
			}
		}
		&__price {
			display: flex;
			justify-content: space-between;
			padding-left: 30px;
			padding-right: 30px;
			width: 100%;
			&-price {
				font-size: 22px;
			}
			span {
				height: 96px;
				width: 25%;
				text-align: center;
			}
		}
	}
	.orderLastBlock {
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;
		&__textarea {
			width: 100%;
		}
		.formField textarea {
			max-width: 522px;
			margin: 0 auto;
			display: block;
		}
		&__checkbox {
			width: 43%;
			padding-top: 36px;
			padding-left: 91px;
		}
		&__total {
			width: 50%;
			margin-top: 37px;
		}
	}
	.orderSuccessful {
		margin-top: 125px;
		position: relative;
		min-height: 463px;
		&__infotext {
			margin-bottom: 34px;
		} 
		&__img {
			position: absolute;
			left: 122px;
			right: 0;
			margin: 0 auto;
			width: 568px;
			top: 142px;
		}
		.button {
			margin-bottom: 0;
		}
	}
}
@media screen and (min-width: 1280px) {
	.orderSuccessful {
		min-height: 332px;
		&__img {
			left: 468px;
			top: -69px;
			right: auto;
			width: 702px;
		}
	}
	.stepBlock {
		&.requisites {
			margin-bottom: 7px;
		}
	}
	.orderList {
		&__header {
			display: flex;
			height: 92px;
			border-radius: 25px 25px 5px 5px;
			background-color: #f3f3f3;
			font-family: $SansProSemiBold;
			color: #3b3b3b;
			font-size: 18px;
			line-height: 27px;
			padding-top: 20px;
			padding-left: 17px;
			padding-right: 17px;
			margin-bottom: 22px;
		}
		&__app {
			display: none;
		}
		&__num {
			width: 8%;
			padding-left: 10px;
			padding-right: 10px;
		}
		&__photo {
			width: 12%;
			padding-left: 10px;
			padding-right: 10px;
		}
		&__name {
			width: 25%;
			padding-right: 40px;
			padding-left: 10px;
		}
		&__price {
			width: 14%;
			text-align: center;
			padding-left: 7px;
			padding-right: 10px;
		}
		&__application {
			width: 16%;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
		}
		&__amount {
			width: 11%;
			text-align: center;
		}
		&__total {
			width: 14%;
			text-align: center;
		}
	}
	.orderPrice {
		display: none;
	}
	.orderItem {
		padding-left: 17px;
		padding-right: 17px;
		padding-top: 24px;
		align-items: center;
		&__price {
			display: flex;
			width: 14%;
			padding-left: 7px;
			padding-right: 10px;
			justify-content: center;
			color: #3b3b3b;
			font-size: 22px;
			font-family: $SansProBlack;
			height: 200px;
			align-items: center;
		}
		&__priceApplication {
			display: flex;
			width: 16%;
			padding-left: 10px;
			padding-right: 10px;
			justify-content: center;
			align-items: center;
			font-family: $SansProBlack;
			color: #808080;
			font-size: 22px;
			height: 200px;
		}
		&__amount {
			display: flex;
			width: 11%;
			justify-content: center;
			color: #3b3b3b;
			font-family: $SansProSemiBold;
			font-size: 16px;
			height: 200px;
			align-items: center;
		}
		&__total {
			display: flex;
			width: 14%;
			justify-content: center;
			color: #3b3b3b;
			font-size: 22px;
			font-family: $SansProBlack;
			height: 200px;
			align-items: center;
		}
		&__number {
			width: 3%;
			padding-left: 10px;
			padding-right: 10px;
			height: 200px;
		}
		&__img {
			width: 17%;
			padding-left: 10px;
			padding-right: 10px;
			height: 200px;
			img {
				margin: 0 auto;
			}
		}
		&__text {
			width: 25%;
			padding-right: 40px;
			padding-left: 10px;
		}
		&__option {
			flex-wrap: wrap;
			width: 100%;
			&-item {
				&.application {
					padding-left: 0;
					margin-top: 11px;
				}
			}
			&-block {
				width: 100%;
			}
		}
	}
	.orderLastBlock {
		&__textarea {
			&.formField {
				padding-left: 0;
				width: 55.5%;
				textarea {
					max-width: 596px;
					margin: 0;
				}
			}
		}
		
		&__checkbox {
			padding-left: 0;
			width: 21%;
			padding-top: 0;
			padding-right: 0;
		}
		&__total {
			width: 23%;
			margin-top: 0;
		}
	}
}
@media screen and (min-width: 1920px) {
	.orderSuccessful {
		min-height: 375px;
		&__img {
			left: 647px;
		}
	}
	.orderList {
		max-width: 1407px;
		&__name {
			&-application {
				display: none;
			}
		}
		&__app {
			display: block;
			width: 12%;
			text-align: center;
		}
		&__header {
			height: 70px;
			margin-bottom: 32px;
			padding-top: 23px;
		}
		&__num {
			width: 3%;
		}
		&__photo {
			text-align: center;
			width: 12%;
		}
		&__name {
			padding-left: 33px;
			width: 29%;
			padding-right: 0;
		}
		&__price {
			padding: 0;
			width: 10%;
		}
		&__application {
			width: 11%;
			line-height: 19px;
		}
		&__amount {
			width: 11%;
		}
		&__total {
			width: 11%;
		}
	}
	.orderItem {
		&__img {
			width: 12%;
			height: 160px;
		}
		&__number {
			height: 160px;
		}
		&__text {
			padding-left: 33px;
			width: 29%;
			padding-right: 0;
			min-height: 160px;
			height: 100%;
			padding-right: 10px;
		}
		&__price {
			padding: 0;
			width: 10%;
			min-height: 160px;
			height: 100%;
		}
		&__priceApplication {
			width: 11%;
			min-height: 160px;
			height: 100%;
		}
		&__app {
			display: block;
			width: 12%;
			text-align: center;
			display: flex;
			padding-left: 10px;
			padding-right: 10px;
			justify-content: center;
			align-items: center;
			color: #3b3b3b;
			font-size: 16px;
			min-height: 160px;
			height: 100%;
		}
		&__amount {
			width: 11%;
			min-height: 160px;
			height: 100%;
		}
		&__total {
			width: 11%;
			min-height: 160px;
			height: 100%;
		}
	}
	.orderItem__option-item.application {
		display: none;
	}
}