@charset "UTF-8";

@import "global/_variables";
@import "global/_mixin";

.ourBlock {
	padding-left: 18px;
	padding-right: 18px;
	margin-top: 23px;
	margin-bottom: 20px;
	&__block {
		border-radius: 25px;
		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		padding-top: 21px;
		padding-bottom: 31px;
	}
	&__title {
		text-align: center;
		h2 {
			font-family: $SansProSemiBold;
			font-size: 26px;
			margin: 0;
			margin-bottom: 10px;
		}
	}
	&__link {
		text-align: center;
		margin-top: 10px;
		a {
			font-family: $SansProSemiBold;
			color: #d10910;
			font-size: 18px;
			line-height: 24px;
		}
	}
}
.ourSlider {
	opacity: 0;
	transform: scale(0);
	transition: 0.3s all;
	&.visible {
		opacity: 1;
		transform: scale(1);
	}
	&__item {
		height: 70px;
		width: 140px;
		display: flex!important;
		padding: 15px;
		justify-content: center;
		align-items: center;
		transition: 0.24s all;
		&:hover {
			opacity: 0.6;
			text-decoration: none;
		}
		img {
			display: block;
			max-width: 100%;
		}	
	}
	&.greenArrow {
		.slick-arrow {
			top: 20px;
			&.slick-next {
				right: -15px;
			}
			&.slick-prev {
				left: -15px;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.ourBlock {
		padding-right: 35px;
		padding-left: 35px;
		margin-top: 0;
		&__block {
			position: relative;
			padding-top: 29px;
			padding-bottom: 24px;
		}
		&__title {
			text-align: left;
			padding-left: 37px;
		}
		&__link {
			position: absolute;
			top: 27px;
			right: 48px;
		}
	}
	.ourSlider {
		&__item {
			width: 170px;
		}
	}
}
@media screen and (min-width: 1280px) {
	.ourBlock {
		padding-left: 48px;
		padding-right: 48px;
		margin-bottom: 32px;
		&__title {
			h2 {
				margin-bottom: 24px;
			}	
		} 
		&__block {
			padding-top: 29px;
			padding-bottom: 40px;
		}
		&__link {
			top: 12px;
			right: 33px;	
		}
	}
	.ourSlider {
		padding-left: 20px;
		padding-right: 20px;
		&__item {
			width: 190px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
@media screen and (min-width: 1920px) {
	.ourBlock {
		max-width: 1920px;
		margin: 0 auto;
		margin-bottom: 32px;
		&__link {
			top: 27px;
			right: 117px;
		}
	}
	.ourSlider {
		&__item {
			width: 220px;
			padding-left: 30px;
			padding-right: 30px;
		}
		.greenArrow {
			&.slick-arrow {
				&.slick-prev {
					left: -19px;
				}
				&.slick-next {
					right: -19px;
				}
			}
		}
	}
}