.our-partners {
	.sideBar__right {
		padding-top: 30px;
	}
	.slick-list {
		overflow: hidden;
	}
	.ourBlock {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		margin-top: 30px;

		&__block {
			padding-top: 60px;
			padding-bottom: 60px;
		}
	}
	.ourSlider__item {
		width: 220px;
	}
}

@media (min-width: 768px) {
	.our-partners {
		.sideBar__right {
			padding-top: 30px;
		}
		.ourSlider__item {
			width: 230px;
		}
	}
}

@media (min-width: 1280px) {
	.ourBlock {
		margin-top: 40px;

		&__block {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
	.our-partners {
		.sideBar__right {
			padding-top: 0;
		}
		.ourSlider__item {
			width: 260px;
		}
	}
}

@media (min-width: 1920px) {
	.our-partners {
		.sideBar__right {
			padding-top: 0;
		}
		.ourSlider__item {
			width: 230px;
		}
	}
}