@import "global/_variables";
@import "global/_mixin";

.photo-gallery {
	padding-top: 10px;

	&__title {
		width: 100%;
		text-align: center;
		padding-bottom: 5px;

		h2 {
			font-family: $SansProSemiBold;
			font-size: 30px;
			font-weight: 400;
			line-height: 36px;
			color: #3b3b3b;
		}
	}

	&__slider {
		display: flex;
		.slick-list {
			overflow: hidden;
			max-width: 210px;
			margin: 0 auto;
		}

		&.greenArrow .slick-arrow {
			background-color: #d2d2d2;
			top: 47%;
			transform: translateY(-50%);

			&:hover {
				background-color: $second-color;
			}
		}

		&.greenArrow .slick-arrow.slick-prev {
			left: -11px;
		}

		&.greenArrow .slick-arrow.slick-next {
			right: -11px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 210px;


		a {
			position: relative;
			display: block;
			width: 210px;
			height: 209px;
			border-radius: 25px;
			margin-bottom: 23px;
			overflow: hidden;

			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				height: auto;
				width: auto;
				min-height: 100%;
				min-width: 100%;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.photo-gallery {
		padding-top: 20px;
	
		&__slider {
			.slick-list {
				overflow: hidden;
				max-width: 700px;
				margin: 0 auto;
			}
	
			&.greenArrow .slick-arrow.slick-prev {
				left: -25px;
			}
	
			&.greenArrow .slick-arrow.slick-next {
				right: -25px;
			}
		}
	
		&__item {
			max-width: 210px;
			margin-right: 34px;
		}
	}
}

@media screen and (min-width: 1280px) {
	.photo-gallery {
		padding-top: 20px;

		&__title {
			h2 {
				margin-top: 15px;
				margin-bottom: 17px;
			}
		}
	
		&__slider {
			.slick-list {
				overflow: hidden;
				max-width: 845px;
				margin: 0 auto;
			}
	
			&.greenArrow .slick-arrow.slick-prev {
				left: -38px;
			}
	
			&.greenArrow .slick-arrow.slick-next {
				right: -10px;
			}
		}
	
		&__item {
			max-width: 250px;
			margin-right: 40px;

			a {
				position: relative;
				display: block;
				width: 250px;
				height: 250px;
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	.photo-gallery {
		padding-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-right: 135px;

		&__title {
			width: 100%;
			h2 {
				margin-top: 15px;
				margin-bottom: 17px;
			}
		}
	
		&__slider {
			max-width: 1285px;
			margin: 0 auto;

			.slick-list {
				overflow: hidden;
				max-width: 1285px;
			}
	
			&.greenArrow .slick-arrow.slick-prev {
				left: -38px;
			}
	
			&.greenArrow .slick-arrow.slick-next {
				right: -10px;
			}
		}
	
		&__item {
			max-width: 287px;
			margin-right: 40px;

			a {
				position: relative;
				display: block;
				width: 287px;
				height: 286px;
				margin-bottom: 30px;
			}
		}
	}
}