@import "global/_variables";
.blockUI.blockMsg {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	zoom: 1;
}
.popUpForm {
	max-width: 310px;
	margin: 0 auto;
	width: 100%;
	left: 0;
	right: 0;
	visibility: hidden;
	transform: translateY(-50%);
	&.not-center {
		transform: translateY(0);
	}
	&.catalogFilter {
		.catalogFilter__buttons {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;
		}
		.catalogFilter__button {
			width: 100%;
			margin-bottom: 18px;
		}
		.catalogFilter__reset {
			width: 100%;
		}
		.button.resetButton {
			margin: 0 auto;
		}
	}
	.container-fluid {
		max-width: 343px;
	}
	.button.redButton {
		max-width: 234px;
		margin: 0 auto;
	}
	&__block {
		opacity: 0;
		transition: all 0.2s ease-in-out;
		transform: scale(0.5) skew(45deg, 45deg);
		opacity: 0;
		background-color: #fff;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		box-shadow: 3px 4px 15px rgba(210, 210, 210, 0.5);
		border-radius: 25px;
		background-color: #ffffff;
		padding-top: 31px;
		padding-bottom: 31px;
	}
	&__close {
		width: 40px;
		height: 40px;
		background-color: #f3f3f3;
		display: inline-block;
		vertical-align: top;
		right: 20px;
		top: 35px;
		font-size: 14px;
		position: absolute;
		border-radius: 50%;
		text-align: center;
		line-height: 40px;
		transition: 0.24s all;
		text-decoration: none;
		z-index: 5;
		&:after {
			content: "\71";
			transition: 0.24s all;
			color: #706f6f;
			font-family: $Icon1;
		}
		&:hover {
			text-decoration: none;
			background-color: #d10910;
			&:after {
				color: #ffffff;
			}
		}
	}
	&__required {
		position: absolute;
		right: -12px;
		top: -3px;
		color: #d10910;
		font-size: 24px;
	}
	&__title {
		display: block;
		text-align: center;
		color: #3b3b3b;
		font-size: 24px;
		line-height: 47.31px;
		margin-bottom: 30px;
		font-family: $SansProSemiBold;
	}
	&.visible {
		visibility: visible;
		.popUpForm__block {
			opacity: 1;
			transform: scale(1) skew(0deg, 0deg);
		}
	}

	&__menu-list {
		padding: 0;
		margin: 0;
		list-style: none;

		.button.resetButton {
			display: inline-block;
			max-width: 100%;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-family: $SansProBold;
			font-size: 14px;
			font-weight: 700;
			color: #3b3b3b;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	&--search {
		max-width: 305px;

		.popUpForm__block {
			padding-left: 45px;
			padding-right: 45px;
		}

		form {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.formField {
				width: 100%;
				margin-bottom: 20px;
			}

			.formField:nth-last-of-type(2), 
			.formField:last-of-type {
				width: 102px;
				
				input {
					padding-left: 15px;
				}
			}

			.searchButton {
				width: 120px;
				margin: 0 auto;
			}
		}

		.popUpForm__title {
			position: relative;
			font-size: 18px;
			text-transform: uppercase;
			
			&::before {
				content: '\63';
				display: inline-block;
				font-family: $Icon1;
				font-size: 17px;
				text-transform: none;
				color: #dbdbdb;
				margin-right: 5px;
			}
		}
	}

	&--menu {
		max-width: 305px;

		.popUpForm__block {
			padding-left: 64px;
			padding-right: 64px;
		}

		.popUpForm__title {
			padding: 0;
			line-height: 47.31px;

			&::before {
				line-height: 47.31px;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.popUpForm {
		max-width: 446px;
		&__close {
			right: 35px;
		}
	}
}
@media screen and (min-width: 1024px) {
	/* .chrome {
		.hidden-overflow {
			margin-right: 10px;
		}
	} */
	.hidden-overflow {
		margin-right: 17px;
	}
}