@import "global/_variables";
/* === PORTFOLIO LIST ===*/
.portfolio-list {
	&__grid {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item {
		width: 100%;
		max-width: 208px;
		text-align: center;
		margin-bottom: 35px;

		&:hover {
			text-decoration: none;		
		}
	}

	&__pic {
		position: relative;
		display: flex;
		align-items: flex-end;
		width: 208px;
		height: 208px;
		border: 1px solid #e8e8e8;
		border-radius: 50%;
		overflow: hidden;

		img {
			height: auto;
			width: auto;
		}
	}

	&__title {
		font-size: 20px;
		font-weight: 400;
		font-family: $SansProSemiBold;
		line-height: 24px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 50px;
		overflow: hidden;
		color: #3b3b3b;
	}

	&__link {
		font-family: $SansProSemiBold;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
	}
}
@media screen and (min-width: 768px) {
	.portfolio-list {
		&__grid {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			width: 100%;
		}
	
		&__item {
			width: 182px;
			text-align: center;
			margin-bottom: 45px;
			display: inline-block;
		}
	
		&__pic {
			width: 182px;
			height: 182px;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}	
}
@media screen and (min-width: 1280px) {
	.portfolio-list {
		&__item {
			width: 182px;
			width: calc(182 / 1280 * 100vw);
			text-align: center;
			margin-bottom: 45px;

			&:hover {
				.portfolio-list__link {
					text-decoration: underline;
				}
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.portfolio-list {
		&__grid {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}
	
		&__item {
			width: 100%;
			max-width: 208px;
			text-align: center;
			margin-bottom: 55px;
		}
	
		&__pic {
			width: 208px;
			height: 208px;

			img {
				width: auto;
				height: auto;
			}
		}
	}
}
/* === / PORTFOLIO LIST ===*/
.portfolio-one {
	.paggination__list {
		margin-left: auto;
		margin-right: auto;
		background-color: transparent;
	}

	&__grid {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item {
		position: relative;
		width: 292px;
		height: 292px;
		border-radius: 25px;
		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		padding: 25px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 25px;
		transition: border-color 0.4s;		

		img {
			max-width: 100%;
			max-height: 100%;
			width: auto;
			height: auto;
		}

		&:active {
			border-color: $primary-color;
			transition: border-color 0.4s;
		}
	}
}
/* ===  ONE CATEGORY PORTFOLIO ===*/
@media screen and (min-width: 768px) {
	.portfolio-one {
		&__grid {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
		}
	
		&__item {
			width: 218px;
			height: 218px;
			margin-bottom: 20px;
			margin-right: 22px;

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}
	.portfolio-fancy {
		.fancybox-wrap,
		.fancybox-skin {
			width: 600px !important;
			height: 600px !important;
		}
		.fancybox-outer,
		.fancybox-inner {
			position: relative;
			width: 100% !important;
			height: 100% !important;
		}
		.fancybox-image {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
}
@media screen and (min-width: 1280px) {
	.portfolio-one {
		&__item {
			width: 280px;
			height: 280px;
			margin-bottom: 25px;
			margin-right: 20px;

			&:nth-of-type(3n) {
				margin-right: 20px;
			}

			&:nth-of-type(4n) {
				margin-right: 0;
			}

			&:hover {
				border-color: $primary-color;
				transition: border-color 0.4s;
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.portfolio-one {
		&__item {
			width: 315px;
			height: 315px;
			margin-bottom: 30px;
			margin-right: 30px;

			&:nth-of-type(3n) {
				margin-right: 30px;
			}

			&:nth-of-type(4n) {
				margin-right: 30px;
			}

			&:nth-of-type(5n) {
				margin-right: 0;
			}
		}
	}
}
/* === / ONE CATEGORY PORTFOLIO ===*/