@import "global/_variables";
/* === LIST PRINTING ===*/
.list-printing {
	&__grid {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-bottom: 12px;
	}

	&__item {
		position: relative;
		display: inline-block;
		text-align: center;
		font-size: 0;
		width: 279px;
		height: 359px;
		margin-bottom: 22px;

		figure {
			margin: 0;
			height: 100%;
			width: 100%;
			padding-top: 30px;
		}

		figcaption {
			width: 235px;

			&::after {
				display: none;
			}
		}

		.figurecaption__text {
			padding-top: 20px;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
			text-transform: uppercase;

			&::before {
				z-index: -1;
			}
		}
	}

	&__picture {
		position: relative;
		display: inline-block;
		width: 225px;
		height: 225px;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}
@media screen and (min-width: 768px) {
	.list-printing {
		&__grid {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding-bottom: 8px;
		}
	
		&__item {
			width: 222px;
			height: 286px;
			margin-bottom: 16px;
			margin-right: 17px;

			&:nth-of-type(3n) {
				margin-right: 0;
			}
	
			figcaption {
				width: 185px;
	
				&::after {
					display: none;
				}
			}
	
			.figurecaption__text {
				padding-top: 13px;
				padding-bottom: 13px;
				font-size: 13px;
			}
		}
	
		&__picture {
			position: relative;
			display: inline-block;
			width: 175px;
			height: 185px;
		}
	}
}
@media screen and (min-width: 1280px) {
	.list-printing {
		&__grid {
			padding-bottom: 0;
		}
	
		&__item {
			width: 279px;
			height: 359px;
			margin-bottom: 22px;
			margin-right: 21px;

			&:nth-of-type(3n) {
				margin-right: 21px;
			}

			&:nth-of-type(4n) {
				margin-right: 0;
			}

			&:hover {
				.figure {
					border-color: $second-color;
				}

				.figurecaption__text::before,
				.figurecaption__text::after {
					background-color: $second-color;
				}
			}
	
			figcaption {
				width: 235px;
	
				&::after {
					display: none;
				}
			}
	
			.figurecaption__text {
				padding-top: 18px;
				padding-bottom: 18px;
				font-size: 16px;

				&::before {
					z-index: -1;
				}
			}
		}
	
		&__picture {
			position: relative;
			display: inline-block;
			width: 225px;
			height: 235px;
		}
	}
}
@media screen and (min-width: 1920px) {
	.list-printing {
	
		&__item {
			width: 315px;
			height: 405px;
			margin-bottom: 25px;
			margin-right: 30px;

			&:nth-of-type(3n) {
				margin-right: 30px;
			}

			&:nth-of-type(4n) {
				margin-right: 30px;
			}

			&:nth-of-type(5n) {
				margin-right: 0;
			}

			&:hover {
				.figurecaption__text::before,
				.figurecaption__text::after {
					background-color: $second-color;
					transition: background-color 0.6s;
				}
			}

			figure {
				padding-top: 40px;
			}
	
			figcaption {
				width: 273px;
	
				&::after {
					display: none;
				}
			}
	
			.figurecaption__text {
				padding-top: 22px;
				padding-bottom: 22px;
				font-size: 18px;

				&::before {
					z-index: -1;
					transition: background-color 0.6s;
				}

				&::after {
					transition: background-color 0.6s;
				}
			}
		}
	
		&__picture {
			position: relative;
			display: inline-block;
			width: 240px;
			height: 250px;
		}
	}
}
/* === / LIST PRINTING ===*/

/* ===  ONE PRINT ===*/
.one-print {
	.sideBar__right {
		padding-top: 30px;
		padding-bottom: 25px;
	}

	.greenButton {
		height: auto;
		font-family: $SansProRegular;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		text-align: left;
		padding-left: 88px;
		margin-top: 15px;
		padding-top: 18px;
		padding-bottom: 18px;
		max-width: 276px;
		margin-left: auto;
		margin-right: auto;

		&::before {
			content: '\6b';
			font-size: 28px;
			left: 40px;
			top: 30px;
		}
	}

	&__gallery {
		margin-left: -10px;
		margin-right: -10px;

		h4 {
			padding-left: 10px;
			margin-top: 20px;
		}

		.slide {
			width: 100%;
			border-radius: 25px;
			border: 1px solid #e8e8e8;
			background-color: #ffffff;
			font-size: 0;
			text-align: center;
			cursor: pointer;

			&__pic {
				display: inline-block;
			}
		}
	}

	&__once-slider {
		.slide {
			height: 263px;
			padding: 25px 0;

			&__pic {
				width: 210px;
				height: 214px;

				img {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	&__several-slider {
		.slide {
			width: 135px;
			height: 134px;
			margin-right: 20px;
			border-radius: 10px;
			padding: 15px 0;

			&__pic {
				width: 105px;
				height: 105px;

				img {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	&__contacts {
		padding-top: 10px;
	}
}

@media screen and (min-width: 768px) {
	.sideBar {
		&::after {
			clear: both;
			content: '';
			width: 100%;
			display: table;
		}
	}

	.one-print {
		.sideBar__right {
			padding-top: 25px;
			padding-bottom: 13px;
		}
	
		.greenButton {
			font-size: 20px;
			padding-left: 108px;
			margin-top: 40px;
			padding-top: 19px;
			padding-bottom: 19px;
			max-width: 426px;
			margin-left: 0;
			margin-right: 0;
	
			&::before {
				content: '\6b';
				font-size: 28px;
				left: 57px;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&__left {
			max-width: 345px;
			float: left;
			margin-right: 25px;
			padding-top: 5px;
		}
	
		&__gallery {
			margin-left: 0;
			margin-right: 0;
	
			h4 {
				padding-left: 0;
				margin-bottom: 20px;
			}
		}
	
		&__once-slider {
			.slide {
				height: 303px;
				padding: 28px 0;
	
				&__pic {
					width: 240px;
					height: 250px;
				}
			}
		}
	
		&__several-slider {
			.slide {
				width: 140px;
				height: 140px;
				margin-right: 20px;
			}

			.slick-list {
				max-width: 300px;
				overflow: hidden;
			}
		}
	
		&__contacts {
			padding-top: 36px;

			.importantInformation {
				padding-bottom: 20px;
				padding-left: 75px;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.one-print {
		.sideBar__right {
			padding-top: 0;
			padding-bottom: 0;
		}
	
		.greenButton {
			margin-top: 30px;
			transition: padding-left 0.3s;

			&:hover {
				padding-left: 75px;
				transition: padding-left 0.3s;


				&::before {
					top: 150%;
					transform: translateY(0);
				}
			}
		}

		&__left {
			margin-right: 37px;
		}
	
		&__contacts {
			padding-top: 40px;

			.importantInformation {
				padding-bottom: 30px;
				padding-left: 80px;
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.one-print {
		.sideBar__right {
			padding-top: 0;
			padding-bottom: 0;
		}
	
		.greenButton {
			margin-top: 68px;
		}

		&__once-slider {
			.slide {
				height: 355px;
				padding: 33px 0;
	
				&__pic {
					width: 281px;
					height: 288px;
					text-align: center;

					img {
						display: inline-block;
					}
				}
			}
		}

		&__left {
			max-width: 404px;
			margin-right: 60px;
		}

		&__right {
			max-width: 810px;
			float: left;
		}
	}
}
/* === / ONE PRINT ===*/