@import "global/_variables";
@import "global/_mixin";

.reviews {
	&__title {
		text-align: center;
		width: 100%;

		h2 {
			font-family: $SansProSemiBold;
			font-size: 30px;
			margin-top: 24px;
			margin-bottom: 27px;
			color: #3b3b3b;
		}
	}

	&__slider {
		&.greenArrow {
			.slick-arrow {
				top: 210px;
				&.slick-next {
					right: -11px;
				}
				&.slick-prev {
					left: -11px;
				}
			}
		}
	}

	&__item {
		padding-top: 30px;
		padding-left: 18px;
		padding-right: 20px;
		padding-bottom: 40px;
		border: 1px solid #e8e8e8;
		border-radius: 25px;

		p + p {
			margin-top: 5px;
		}
	}

	&__footer {
		padding-top: 25px;

		span {
			display: block;
		}
	}

	&__date {
		font-size: 14px;
		color: #9a9a9a;
	}

	&__name {
		font-size: 18px;
		line-height: 24px;
	}
}

@media screen and (min-width: 768px) {
	.reviews {
		&__title {
			h2 {
				margin-top: 14px;
			}
		}

		&__item {
			max-width: 666px;
			padding-left: 60px;
			padding-top: 50px;
			padding-right: 60px;
			padding-bottom: 56px;
		}

		&__slider {
			.slick-list {
				overflow: hidden;
				max-width: 666px;
				margin: 0 auto;
			}
			&.greenArrow {
				.slick-arrow {
					&.slick-next {
						right: 3px;
					}
					&.slick-prev {
						left: 3px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1280px) {
	.reviews {
		&__title {
			h2 {
				margin-top: 0;
			}
		}

		&__item {
			max-width: 836px;
			padding-left: 60px;
			padding-top: 50px;
			padding-right: 60px;
			padding-bottom: 75px;
		}

		&__slider {
			.slick-list {
				overflow: hidden;
				max-width: 836px;
				margin: 0 auto;
			}
			&.greenArrow {
				.slick-arrow {
					&.slick-next {
						right: -8px;
					}
					&.slick-prev {
						left: -8px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	.reviews {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 30px;
		padding-right: 140px;

		&__title {
			width: 100%;
			h2 {
				margin-top: 0;
			}
		}

		&__item {
			max-width: 999px;
			padding-left: 60px;
			padding-top: 50px;
			padding-right: 60px;
			padding-bottom: 75px;
		}

		&__slider {
			max-width: 1000px;
			margin: 0 auto;

			.slick-list {
				overflow: hidden;
				max-width: 999px;
				margin: 0 auto;
			}
			&.greenArrow {
				.slick-arrow {
					&.slick-next {
						right: -15px;
					}
					&.slick-prev {
						left: -15px;
					}
				}
			}
		}
	}
}