@import "global/_variables";
/* === SALES LIST ===*/
.sales-list {
	&__grid {
		margin-left: -10px;
		margin-right: -10px;
	}

	&__item {
		border-radius: 25px;
		border: 1px solid #e8e8e8;
		background-color: #fff;
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}

		.figure {
			border-radius: 0;
			border: none;
			position: relative;
			overflow: hidden;
			height: 225px;
			margin: 0;
			border-top-right-radius: 25px;
			border-top-left-radius: 25px;

			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				min-width: 100%;
				min-height: 100%;
				height: auto;
				width: auto;
			}
		}

		.figurecaption__precent {
			position: relative;
			color: #3b3b3b;
			font-family: $SansProBlack;
			font-size: 59px;
			line-height: 59px;
			z-index: 1;
			padding-right: 13px;

			.precent {
				font-size: 30px;
				line-height: 59px;
			}
		}

		.figurecaption__twofer {
			position: relative;
			color: #3b3b3b;
			font-family: $SansProBlack;
			font-size: 59px;
			line-height: 59px;
			z-index: 1;
			padding-right: 20px;
			padding-bottom: 20px;

			.price {
				display: inline-block;
				vertical-align: middle;
				width: 35px;
				font-size: 14px;
				line-height: 14px;
				text-transform: uppercase;
				margin-bottom: 8px;
			}
		}

		.figurecaption__gift {
			position: relative;
			font-family: $SansProBlack;
			font-size: 24px;
			font-weight: 400;
			line-height: 30px;
			text-transform: uppercase;
			color: #3b3b3b;
			z-index: 1;
			padding-right: 20px;
			padding-bottom: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;

			.plus	 {
				font-size: 59px;
				line-height: 1;
			}
		}

		.figurecaption__text {
			padding-left: 55px;
			padding-right: 10px;
			padding-top: 15px;
			padding-bottom: 15px;
			max-height: 68px;
			overflow: hidden;

			&::before {
				width: 50px;
				height: 50px;
				z-index: -1;
			}

			&::after {
				left: 25px;
			}
		}

		figcaption {
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			flex-direction: column;
			width: 195px;
			height: 100%;

			&::after {
				left: 50px;
			}
		}

		&-footer {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 15px;

			h6 {
				margin-top: 20px;
				margin-bottom: 15px;
				line-height: 22px;
				width: 100%;
				max-height: 66px;
				overflow: hidden;
			}

			.period {
				width: 50%;
				font-size: 13px;
				font-weight: 400;
				line-height: 17px;
				color: #757575;
				font-weight: 400;
			}

			.date {
				color: #424242;
				font-weight: 700;
			}

			.read-more {
				width: 50%;
				text-align: right;
				font-size: 16px;
				font-weight: 700;
				line-height: 1;
				color: #d10910;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.sales-list {
		&__grid {
			display: flex;
			flex-wrap: wrap;
			margin-left: 0;
			margin-right: 0;
		}

		&__item {
			max-width: 339px;
			margin-right: 20px;
			margin-bottom: 30px;
			padding-bottom: 15px;

			&:nth-of-type(2n) {
				margin-right: 0;
			}

			&:last-of-type {
				margin-bottom: 30px;
			}

			&-footer {
				padding-left: 15px;
				padding-right: 15px;

				h6 {
					max-height: 42px;
					margin-bottom: 12px;
				}

				.period {
					width: 70%;
				}

				.read-more {
					width: 30%;
				}
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.sales-list {
		&__item {
			max-width: 380px;
			margin-right: 20px;
			margin-bottom: 30px;
			padding-bottom: 15px;
			cursor: pointer;			
			transition: border-color 0.4s;

			&:hover {
				border-color: $primary-color;
				transition: border-color 0.4s;
			}

			&:nth-of-type(2n) {
				margin-right: 20px;
			}

			&:nth-of-type(3n) {
				margin-right: 0;
			}
		}
	}
}
@media screen and (min-width: 1920px) {
	.sales-list {
		&__item {
			max-width: 412px;
			margin-right: 35px;
			margin-bottom: 30px;
			padding-bottom: 15px;

			&:nth-of-type(2n) {
				margin-right: 35px;
			}

			&:nth-of-type(3n) {
				margin-right: 35px;
			}

			&:nth-of-type(4n) {
				margin-right: 0;
			}
		}
	}
}
/* === / SALES LIST ===*/
/* === ONE SALE ===*/
.one-sale {
	h1 {
		line-height: 36px;
	}

	.menuSideBar {
		.action-btn {
			padding-top: 18px;
			padding-bottom: 18px;
			margin: 0 auto;
			margin-top: 20px;
			max-width: 208px;
			font-size: 20px;
			font-weight: 400;
			border-radius: 30px;

			&::before {
				content: '\64';
				font-family: $Icon2;
				font-size: 30px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 13px;
			}
		}
		&__list {
			top: calc(100% - 80px);
		}
		&__link {
			padding-left: 17px;
			padding-right: 17px;

			&.current {
				background-color: #fff;
				border: 1px solid $primary-color;
			}
		}
		&__mobile {
			padding-left: 17px;
			padding-bottom: 17px;
			padding-top: 17px;
			padding-right: 50px;

			&::after {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	.importantInformation {
		padding-bottom: 0;
	}

	.sideBar__right {
		padding-top: 37px;

		.figure {
			position: relative;
			margin: 0;
			height: 398px;
			border-radius: 25px;

			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				min-width: 490px;
				min-height: 100%;
				width: auto;
				height: auto;
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 120px;
				background-color: #fff;
			}

			&__img {
				position: relative;
				overflow: hidden;
				height: 280px;
				width: 100%;
			}
		}

		figcaption {
			width: 100%;
			display: flex;
			justify-content: flex-end;

			&::after {
				display: none;
			}
		}

		.figurecaption__precent {
			position: absolute;
			left: 13px;
			bottom: 45px;
			z-index: 1;
			font-family: $SansProBlack;
			font-size: 57px;
			font-weight: 400;
			line-height: 35.01px;
			text-transform: uppercase;
			color: #3b3b3b;

			.precent {
				font-size: 29px;
			}
		}
		.figurecaption__text {
			max-width: 200px;
			padding-left: 70px;
			padding-right: 0;
			padding-top: 10px;
			padding-bottom: 12px;

			span {
				overflow: hidden;
				display: inline-block;
				max-height: 44px;
			}

			&::before {
				width: 50px;
				height: 50px;
				z-index: -1;
			}

			&::after {
				left: 28px;
			}
		}
	}

	&__item {
		&-title {
			font-family: $SansProSemiBold;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: $primary-color;
			margin-bottom: 10px;
			max-height: 70px;
			overflow: hidden;
		}
		&-period {
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			font-weight: 400;
			color: #757575;
			padding-right: 80px;
		}

		&-date {
			color: #424242;
			font-weight: 700;
		}
	}

	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 17px;
		color: #424242;
		padding-bottom: 6px;

		h4 {
			font-weight: 700;
			font-family: $SansProBold;
		}

		span {
			display: block;
			color: #757575;
			margin-bottom: 10px;
		}
	}
}

@media screen and (min-width: 768px) {
	.one-sale {
		.row {
			margin-left: 0;
			margin-right: 0;
		}

		.menuSideBar {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.action-btn {
				margin: 0;
			}

			&__mobile {
				height: 120px;
			}

			&__list {
				top: 100%;
			}
		}

		.sideBar__right {
			padding-top: 35px;

			figcaption {
				width: 100%;
				height: 100%;
				display: flex;
				align-items: flex-end;
				flex-direction: column;
				justify-content: flex-end;
			}

			.figure {
				max-width: 572px;
				height: 279px;

				img {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					min-width: 100%;
					min-height: 100%;
					width: auto;
					height: auto;
				}

				&__img {
					position: relative;
					overflow: hidden;
					height: 280px;
					width: 86%;
				}

				&::after {
					display: block;
					max-width: 270px;
					content: '';
					height: 100%;
					width: 100%;
					position: absolute;
					right: -84px;
					left: auto;
					top: 0;
					background-color: #fff;
					transform: skewX(-37deg);
				}
			}

			.figurecaption__precent {
				display: block;
				position: relative;
				left: auto;
				bottom: auto;
				font-size: 72px;
				padding-right: 34px;
				padding-bottom: 26px;

				.precent {
					font-size: 36px;
				}
			}

			.figurecaption__text {
				max-width: 255px;
				max-height: 84px;
				font-size: 22px;
				line-height: 26.64px;
				padding-right: 25px;
				padding-top: 17px;

				span {
					max-height: 50px;
				}
			}
		}

		.importantInformation {
			padding-top: 30px;

			&::before {
				top: 38px;
			}
		}
	}	
}
@media screen and (min-width: 1280px) {
	.one-sale {
		.row {
			margin-left: 0;
			margin-right: 0;
		}

		.menuSideBar {
			display: block;

			.action-btn {
				margin: 0;
				max-width: 100%;
			}

			&__mobile {
				height: 120px;
			}

			&__list {
				top: 100%;
			}

			&__link {
				padding-top: 20px;
				padding-bottom: 25px;
				padding-left: 15px;
				padding-right: 15px;

				&:last-of-type {
					margin-bottom: 20px;
				}
			}
		}

		.sideBar__right {
			padding-top: 0;
			padding-left: 50px;
		}

		.importantInformation {
			padding-top: 30px;

			&::before {
				top: 38px;
			}
		}

		&__item-period {
			padding-right: 0;
		}

		&__item-title {
			max-height: 45px;
			overflow: hidden;
		}
	}	
}
@media screen and (min-width: 1920px) {
	.one-sale {
		h1 {
			margin-top: 17px;
			margin-bottom: 25px;
		}

		.row {
			margin-left: 0;
			margin-right: 0;
		}

		.menuSideBar {
			display: block;

			.action-btn {
				margin: 0;
				max-width: 100%;
			}

			&__mobile {
				height: 120px;
			}

			&__list {
				top: 100%;
			}

			&__link {
				padding-top: 20px;
				padding-bottom: 25px;
				padding-left: 15px;
				padding-right: 15px;

				&:last-of-type {
					margin-bottom: 20px;
				}
			}
		}

		.sideBar__right {
			display: flex;
			flex-wrap: wrap;
			padding-top: 0;
			padding-left: 38px;

			.figure {
				img {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					min-width: 100%;
					min-height: 100%;
					width: auto;
					height: auto;
				}
	
				&__img {
					position: relative;
					overflow: hidden;
					height: 280px;
					width: 86%;
				}
			}

			&-col-l {
				width: 40%;
				padding-bottom: 30px;
			}

			&-col-r {
				padding-left: 65px;
				width: 60%;
				padding-bottom: 30px;
			}
		}

		.importantInformation {
			padding-top: 35px;

			&::before {
				top: 43px;
			}
		}

		&__item-period {
			padding-right: 0;
		}

		&__item-title {
			max-height: 45px;
			overflow: hidden;
		}

		&__title {
			h4 {
				margin-top: 0;
			}
		}
	}
}
/* === / ONE SALE ===*/
