@import "global/_variables";
.sideBar {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	&__left {
		width: 100%;
	}
	&__right  {
		width: 100%;
	}
}
.menuSideBar {
	position: relative;
	&__list {
		position: absolute;
		left: 0;
		top: 100%;
		right: 0;
		z-index: 2;
		background-color: #fff;
		display: none;
		padding: 0;
		margin: 0;
		border-radius: 20px;
		border: 1px solid #e8e8e8;
		&.active {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			border-top: none;
			display: block;
			animation: fadeIn 0.8s;
		}
	}
	&__item {
		list-style: none;
		width: 100%;
		display: block;
	}
	&__link {
		display: block;
		width: 100%;
		border-radius: 20px;
		border: none;
		font-family: $SansProSemiBold;
		color: #3b3b3b;
		padding-left: 37px;
		padding-right: 37px;
		padding-top: 10px;
		padding-bottom: 11px;
		text-decoration: none;
		&:hover {
			color: #d10910;
			border-color: #d10910;
			text-decoration: none;
		}
		&.current {
			background-color: #d10910;
			color: #fff;
			border-color: #d10910;
		}
	}
	&__mobile {
		display: block;
		width: 100%;
		border-radius: 20px;
		border: 1px solid #e8e8e8;
		font-family: $SansProSemiBold;
		color: #3b3b3b;
		padding-left: 39px;
		padding-right: 39px;
		padding-top: 12px;
		padding-bottom: 12px;
		position: relative;
		cursor: pointer;
		transition: border-radius 0.4s;

		&::after {
			content: '\6f';
			position: absolute;
			right: 27px;
			top: 14px;
			font-family: $Icon1;
			color: $second-color;
			font-size: 9px;
			transition: transform 0.4s;			
		}

		&.active {
			border-bottom: none;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			transition: border-radius 0.4s;
			&::after {
				transform: rotate(180deg);
				transition: transform 0.4s;
			}
		}
	}
}

@media screen and (min-width: 768px){
	.menuSideBar {
		&__mobile {
			max-width: 462px;
		}
		&__list {
			max-width: 462px;
		}
	}
}
@media screen and (min-width: 1280px){
	.menuSideBar {
		.sticky {
			position: fixed;
		}
		.stop {
			position: relative;
		}
		&__mobile {
			display: none;
		}
		&__list {
			position: relative;
			left: auto;
			top: auto;
			right: auto;
			display: flex;
			flex-wrap: wrap;
			border: none;
		}
		&__link {
			border: 1px solid #e8e8e8;
			margin-bottom: 10px;
		}
	}
	.menu .sideBar {
		&__left {
			width: 280px;
		}
		&__right {
			padding-left: 56px;
			margin-top: -6px;
			width: calc(100% - 280px);
		}
	}
	.list .sideBar {
		&__left {
			width: 280px;
		}
		&__right {
			padding-left: 47px;
			width: calc(100% - 280px);
			padding-right: 28px;
		}
	}
	.calendar .sideBar {
		&__left {
			width: 324px;
		}
		&__right {
			padding-left: 20px;
			width: calc(100% - 324px);
			padding-right: 0;
		}
	}
	.holiday .sideBar {
		&__left {
			width: 324px;
		}
		&__right {
			padding-left: 34px;
			width: calc(100% - 324px);
			padding-right: 0;
		}
	}
}
@media screen and (min-width: 1920px){
	.menu .sideBar {
		&__left {
			width: 325px;
		}
		&__right {
			padding-left: 36px;
			margin-top: -6px;
			width: calc(100% - 314px);
			margin-left: -11px;
		}
	}
	.calendar .sideBar {
		&__right {
			padding-left: 37px;
			padding-right: 11px;
		}
	}
	.list .sideBar {
		&__left {
			width: 324px;
		}
		&__right {
			padding-left: 40px;
			width: calc(100% - 314px);
			padding-right: 10px;
			margin-left: -11px;
		}
	}
}