.customers {
	.sideBar__right {
		padding-top: 25px;
	}

	.importantInformation {
		padding-left: 70px;
		padding-top: 20px;

		&__contact {
			margin-top: 0;
		}

		&__contact-phone {
			white-space: pre-wrap;
		}
	}

	.thanksBlock {
		padding-top: 10px;
		padding-bottom: 25px;

		&__title {
			padding-left: 30px;
			padding-right: 30px;

			h2 {
				font-size: 28px;
			}
		}
		.slick-list {
			max-width: 214px;
			overflow: hidden;
			margin: 0 auto;
		}
		.thanksSlider.greenArrow .slick-arrow {
			top: 40%;
			transform: translateY(-50%);
		}
		.greenArrow .slick-arrow.slick-prev {
			left: -10px;
		}
		.greenArrow .slick-arrow.slick-next {
			right: -10px;
		}
		.thanksSlider__link {
			width: 214px;
			height: 282px;
		}
		.thanksSlider__item {
			width: 214px;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__text {
		ul {
			margin: 0;
		}
	}

	&__img {
		margin-left: -10px;
		margin-right: -10px;
		border: 1px solid #e8e8e8;
		border-radius: 25px;
		padding: 25px;
		padding-bottom: 10px;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__partners {
		margin-left: -10px;
		margin-right: -10px;
		padding-bottom: 35px;
		border-bottom: 3px solid #008b3b;

		h2 {
			margin-bottom: 17px;
		}

		&-item {
			margin-bottom: 15px;

			&:last-of-type {
				margin-bottom: 0;
			}

			h6 {
				margin-top: 0;
			}

			ul {
				padding: 0;
				margin-bottom: 0;

				li {
					padding-left: 0;
					margin-bottom: 0;

					&::before {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.customers {
		.sideBar__right {
			padding-top: 25px;
		}
	
		.importantInformation {
			padding-left: 80px;
			padding-top: 30px;

			&::before {
				top: 37px;
			}

			&__text {
				max-width: 310px;
				margin-bottom: 10px;
			}
	
			&__contact {
				margin-top: 0;
			}
	
			&__contact-phone {
				white-space: normal;
			}
		}
	
		.thanksBlock {
			padding-top: 10px;
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
	
			&__title {
				padding-left: 0;
				padding-right: 0;
	
				h2 {
					margin-top: 33px;
					margin-bottom: 24px;
				}
			}
			.slick-list {
				max-width: 100%;
				overflow: hidden;
				margin: 0 auto;
			}
			.thanksSlider__link {
				width: 212px;
				height: 282px;
			}
			.thanksSlider__item {
				width: 212px;
				margin-right: 30px;
			}
		}
	
		&__text {
			ul {
				margin: 0;
			}
		}
	
		&__img {
			max-width: 572px;
			margin-left: 0;
			margin-right: 0;
			padding-bottom: 20px;
	
			img {
				width: 100%;
				height: auto;
			}
		}
	
		&__partners {
			margin-left: 0;
			margin-right: 0;
			padding-bottom: 30px;
			display: flex;
			flex-wrap: wrap;

			h2 {
				margin-top: 32px;
				width: 100%;
			}

			&-item {
				width: 240px;
				padding-right: 20px;
				margin-bottom: 10px;

				&:nth-of-type(2),
				&:nth-of-type(5) {
					width: 280px;
				}

				&:nth-of-type(3) {
					width: 180px;
					padding-right: 0;
				}
			}
		}
	}
}

@media screen and (min-width: 1280px) {
	.customers {
		.sideBar__right {
			padding-top: 0;
			padding-left: 50px;
		}
	
		.importantInformation {
			padding-left: 80px;
			padding-top: 30px;

			&::before {
				top: 37px;
			}

			&__text {
				max-width: 310px;
				margin-bottom: 10px;
			}
	
			&__contact {
				margin-top: 0;
			}
	
			&__contact-phone {
				white-space: normal;
			}
		}
	
		.thanksBlock {
			padding-top: 10px;
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
	
			&__title {
				padding-left: 0;
				padding-right: 0;
	
				h2 {
					margin-top: 33px;
					margin-bottom: 24px;
				}
			}
			.slick-list {
				max-width: 100%;
				overflow: hidden;
				margin: 0 auto;
			}
			.thanksSlider.greenArrow .slick-arrow {
				top: 40%;
				transform: translateY(-50%);
			}
			.greenArrow .slick-arrow.slick-prev {
				left: -2px;
			}
			.greenArrow .slick-arrow.slick-next {
				right: -2px;
			}
			.thanksSlider {
				padding-left: 12px;
			}
			.thanksSlider__link {
				width: 251px;
				height: 331px;
			}
			.thanksSlider__item {
				width: 251px;
				margin-right: 35px;
			}
		}
	
		&__text {
			max-width: 690px;
			ul {
				margin: 0;
			}
		}
	
		&__img {
			max-width: 572px;
			margin-left: 0;
			margin-right: 0;
			padding-bottom: 20px;
	
			img {
				width: 100%;
				height: auto;
			}
		}
	
		&__partners {
			margin-left: 0;
			margin-right: 0;
			padding-bottom: 38px;
			display: flex;
			flex-wrap: wrap;

			h2 {
				margin-top: 32px;
				width: 100%;
			}

			&-item {
				width: 100%;
				max-width: 310px;
				padding-right: 20px;
				margin-bottom: 15px;

				&:nth-of-type(2),
				&:nth-of-type(5) {
					max-width: 295px;
				}

				&:nth-of-type(3) {
					max-width: 235px;
					padding-right: 0;
				}

				&:nth-of-type(5) {
					h6 {
						padding-right: 20px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1920px) {
	.customers {
		.sideBar__right {
			display: flex;
			flex-wrap: wrap;
			padding-left: 38px;
		}

		.thanksBlock {
			width: 100%;
	
			&__title {
				padding-left: 0;
				padding-right: 0;
	
				h2 {
					margin-top: 33px;
					margin-bottom: 24px;
				}
			}
			.slick-list {
				max-width: 100%;
				overflow: hidden;
				margin: 0 auto;
			}
			.thanksSlider.greenArrow .slick-arrow {
				top: 40%;
				transform: translateY(-50%);
			}
			.greenArrow .slick-arrow.slick-prev {
				left: -20px;
			}
			.greenArrow .slick-arrow.slick-next {
				right: 0;
			}
			.thanksSlider {
				padding-left: 0;
			}
			.thanksSlider__link {
				width: 251px;
				height: 331px;
			}
			.thanksSlider__item {
				width: 251px;
				margin-right: 35px;
			}
		}
	
		&__text {
			max-width: 690px;
			margin-right: 85px;
			ul {
				margin: 0;
			}
		}
	
		&__img {
			width: 572px;
			height: 355px;
			padding: 45px;
			padding-bottom: 40px;
	
			img {
				width: 100%;
				height: auto;
			}
		}
	
		&__partners {
			width: 100%;
			padding-bottom: 53px;

			h2 {
				margin-top: 26px;
				width: 100%;
			}

			ul {
				margin-top: 5px;
			}

			&-item {
				width: 100%;
				max-width: 310px;
				padding-right: 20px;
				margin-bottom: 15px;

				&:nth-of-type(2) {
					max-width: 295px;
				}

				&:nth-of-type(3) {
					max-width: 305px;
					padding-right: 0;
				}

				&:nth-of-type(4) {
					max-width: 270px;
				}

				&:nth-of-type(5) {
					max-width: 180px;
					h6 {
						padding-right: 20px;
					}
				}
			}
		}
	}
}