@charset "UTF-8";

@import "global/_variables";
@import "global/_mixin";
@import "_animation";
svg:not(:root) {
	overflow: hidden
}
* {
	outline: none;
}
*,
:after,
:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}
/* body::-webkit-scrollbar {
	width: 10px;
	border-left: 1px solid transition;
}
body::-webkit-scrollbar-thumb {
	width: 10px;
	border-radius: 10px;
	background-color: #d10910;
	transition: all 0.3s;
}
body::-webkit-scrollbar-thumb:hover {
	background-color: #008b3b;
} */
.blockUI.blockMsg::-webkit-scrollbar {
	width: 10px;
	border-left: 1px solid transition;
}
.blockUI.blockMsg::-webkit-scrollbar-thumb {
	width: 10px;
	border-radius: 10px;
	background-color: #d10910;
	transition: all 0.3s;
}
.blockUI.blockMsg::-webkit-scrollbar-thumb:hover {
	background-color: #008b3b;
}
.row {
	margin-left: -10px;;
	margin-right: -10px;
}
.clearfix:after,
.contentContainer:after,
.contentContainer:before,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
	content: " ";
	display: table
}
.clearfix:after,
.container-fluid:after,
.container:after,
.contentContainer:after,
.row:after {
	clear: both
}
.content {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}
.maxWidth {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
html {
	height: 100%;
	min-width: 320px;
	color: #757575;
	font: 16px/24px $SansProRegular, Georgia,Tahoma,Verdana,sans-serif;
}

.touch {
	-webkit-user-select:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	height: 100%;
}
ins {
	text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance:textfield;
}
.rub {
	display: inline-block;
	padding-left: 2px;
	&:after {
		content: "\79";
		font-family: $Icon2;
	}
}
p {
	margin: 0;
	+ p {
		margin-top: 10px;
	}
}
.hidden-block {
	display: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none;
	color: #2a2b37;
	font-weight: normal;
	font-family: $SansProSemiBold;
}
h1 {
	font-size: 30px;
	margin-top: 11px;
	line-height: 40px;
	margin-bottom: 19px;
}
h2 {
	font-size: 28px;
	line-height: 35px;
	text-transform: none;
	margin-bottom: 14px;
	margin-top: 27px;
}
h3 {
	font-size: 26px;
	line-height: 30px;
	text-transform: none;
	margin-top: 12px;
	margin-bottom: 16px;
}
h4 {
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 14px;
	margin-top: 31px;
	text-transform: none;
}
h5 {
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 18px;
	margin-top: 31px;
	text-transform: none;
}
h6 {
	line-height: 24px;
	font-size: 18px;
	margin-bottom: 8px;
	margin-top: 47px;
	letter-spacing: 0.3px;
	text-transform: none;
}
b, strong, .strong {
	font-weight: normal;
	color: #3b3b3b;
	font-family: $SansProBold;
}
@import "_header";
a {
	transition: 0.24s all;
	color: #d10910;
		text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.wrapper {
	width: 100%;
	min-width: 320px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
}
.content-container {
	padding: 0 0 1243px;
	font-size: 16px;
}
.hidden-overflow {
	overflow: hidden;
	position: relative;
	height: 100%;
}
.figurecaption__text {
	display: block;
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	font-family: $SansProSemiBold;
	text-transform: uppercase;
	padding-right: 42px;
	padding-top: 23px;
	padding-bottom: 20px;
	padding-left: 51px;
	position: relative;
	z-index: 1;
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		transform: skewX(-37deg);
		z-index: -1;
		position: absolute;
		left: -5px;
		top: 0;
		background-color: #d10910;
	}
	&:before {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		height: 40px;
		background-color: #d10910;
		width: 35px;
	}
}
figure {
	margin: 0;
	margin-top: 7px;
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	figcaption {
		position: absolute;
		bottom: 0;
		right: 0;
		 &:after {
			content: '';
			width: calc(100% + 50px);
			height: calc(100% + 50px);
			transform: skewX(-37deg);
			position: absolute;
			left: -37px;
			top: -25px;
			background-color: #fff;
		}
	}
	&.left {
		float: left;
		margin-right: 17px;
	}
	&.center {
		text-align: center;
		width: 100%;
	}
	&.right {
		margin-left: 17px;
		float: right;
	}
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}
/* UL OL START */
.content-container ol,
.content-container ul {
	list-style: none;
	margin-bottom: 20px;
	margin-top: 11px;
	margin-left: 0;
	padding-left: 0;
	li {
		position: relative;
		padding-left: 16px;
		line-height: 24px;
		margin-bottom: 4px;
		ul, ol {
			margin-top: -2px;
			margin-left: 0;
			margin-bottom: 0;
			li {
				margin-bottom: 1px;
				padding-left: 15px;
				ul, ol {
					margin-top: 0;
					li {
						margin-bottom: 1px;
						padding-left: 20px;
					}
					li:last-of-type {
						margin-bottom: 0;
					}
				}
			}
			li:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	li:last-of-type {
		margin-bottom: 0;
	}
}
.content-container ol {
	counter-reset: point;
	li {
		padding-left: 0;
		ol {
			counter-reset: points;
			& > li:before {
				font-family: $SansProBold;
				color: #3b3b3b;
				left: -1px;
				content: counter(point) "." counter(points);
				counter-increment: points 1;
				position: relative;
				padding: 0;
				text-align: right;
				padding-right: 1px;
				left: -1px;
			}
			li {
				ol {
					counter-reset: levelthree;
					& > li:before {
							font-family: $SansProBold;
							color: #3b3b3b;
							left: -1px;
							content: counter(point) "." counter(points) "." counter(levelthree);
							counter-increment: levelthree 1;
							position: relative;
							padding: 0;
							text-align: right;
							padding-right: 1px;
							left: -1px;
						}
				}
			}
		}
	}
	& > li:before {
		font-family: $SansProBold;
		color: #3b3b3b;
		content: counter(point)".";
		counter-increment: point 1;
		padding: 0;
		position: relative;
		text-align: right;
		padding-right: 1px;
		left: -1px;
	}
}
.content-container ul {
	li {
		&:before{
			content: '';
			position: absolute;
			left: 2px;
			width: 5px;
			height: 5px;
			background-color: #008b3b;
			top: 11px;
			border-radius: 50%;
		}
		ul {
			li {
				&:before {
					background-color: #d10910;
				}
				ul {
					li {
						&:before {
							background-color: #ffffff;
							width: 6px;
							height: 6px;
							border: 2px solid #d10910;
							left: 4px;
						}
					}
				}
			}
		}
	}
}
/*UL OL END*/
.importantInformation {
	position: relative;
	padding-left: 80px;
	padding-top: 16px;
	padding-bottom: 30px;
	&:before {
		content: '!';
		width: 50px;
		height: 50px;
		position: absolute;
		left: 0;
		top: 24px;
		border-radius: 50%;
		background-color: #008b3b;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 25px;
		font-family: $SansProBold;
	}
	&__text {
		display: block;
	}
	&__contact {
		display: block;
		font-family: $SansProBold;
		margin-top: 10px;
		letter-spacing: -0.4px;
		color: #3b3b3b;
	}
}
/* TABS */
.tabBlock {
	&__title {
		text-align: center;
		h2 {
			font-size: 30px;
			margin-bottom: 19px;
		}
	}
	&__tabs {
		display: flex;
		overflow-x: auto;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #f3f3f3;
		padding-bottom: 6px;
		&::-webkit-scrollbar {
			height: 4px;
		}
		&::-webkit-scrollbar-thumb {
			width: 4px;
			border-radius: 2px;
			background-color: #d10910;
			transition: all 0.2s;
		}
	}
	&__tab {
		display: inline-block;
		vertical-align: top;
		white-space: nowrap;
		color: #3b3b3b;
		font-size: 14px;
		text-transform: uppercase;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 8px;
		padding-bottom: 8px;
		&:hover {
			text-decoration: none;
		}
		&.-active {
			border-radius: 20px;
			background-color: #008b3b;
			color: #ffffff;
			pointer-events: none;
		}
	}
}
/* TABS */
/* TABLE */
.responsiveTable {
	margin-top: 21px;
	margin-bottom: 20px;
	overflow: auto;
	&::-webkit-scrollbar {
		height: 4px;
	}
	&::-webkit-scrollbar-thumb {
		width: 4px;
		border-radius: 2px;
		background-color: #d10910;
		transition: all 0.2s;
	}
	&__info {
		display: block;
		color: #9b9cad;
		font-size: 10px;
		text-align: center;
	}
}
.spaceThead {
	height: 18px;
}
table {
	border-spacing: 0px;
	border-collapse: separate;
	width: 100%;
	.price {
		font-size: 22px;
		.rub {
			font-size: 16px;
			vertical-align: top;
			line-height: 25px;
		}
		&.deposition {
			color: #808080;
		}
	}
	thead {
		th {
			font-weight: normal;
			padding-top: 17px;
			padding-bottom: 18px;
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
			background-color: #f3f3f3;
			color: #3b3b3b;
			font-family: $SansProBold;
			font-size: 18px;
			vertical-align: top;
			line-height: 27px;
			&:first-of-type {
				text-align: left;
				padding-left: 40px;
				border-top-left-radius: 25px;
				border-bottom-left-radius: 5px;
			}
			&:last-of-type {
				padding-right: 40px;
				border-top-right-radius: 25px;
				border-bottom-right-radius: 5px;
			}
		}
	}
	tbody {
		tr:first-child {
			td {
				border-top: 1px solid #e8e8e8;
				&:first-child {
					border-top-left-radius: 25px;
				}
				&:last-child {
					border-top-right-radius: 25px;
				}
			}
		}
		tr:last-child {
			td {
				border-top: 1px solid #e8e8e8;
				&:first-child {
					border-bottom-left-radius: 25px;
				}
				&:last-child {
					border-bottom-right-radius: 25px;
				}
			}
		}
		td {
			background-color: #ffffff;
			border-bottom: 1px solid #e8e8e8;
			padding-top: 27px;
			padding-bottom: 29px;
			font-size: 18px;
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
			&:first-of-type {
				padding-left: 40px;
				text-align: left;
				border-left: 1px solid #e8e8e8;
			}
			&:last-of-type {
				padding-right: 40px;
				border-right: 1px solid #e8e8e8;
			}
		}
	}
	tfoot {
		td {
			text-align: center;
			color: #3b3b3b;
			font-family: $SansProBold;
			font-size: 16px;
			line-height: 24px;
			padding-top: 23px;
			letter-spacing: -0.3px;
		}
	}
}
/* TABLE */
/* summoselect start */
.styled-select {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	border: none;
	z-index: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
.SumoSelect {
	width: 100%;
	cursor: pointer;
	height: 52px;
	max-width: 100%;
	.select-all {
		display: none;
	}
	.CaptionCont {
		cursor: pointer;
		width: 100%;
		max-width: 100%;
		transition: all 0.25s;
		padding-left: 23px;
		padding-top: 5px;
		padding-bottom: 9px;
		padding-right: 31px;
		border-radius: 20px;
		font-size: 16px;
		color: #b4b4b4;
		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		font-family:  $SansProRegular;
		&.SlectBox.clicked {
			border-color: #bababa;
			z-index: 101;
			border-bottom: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			label {
				i:after {
					top: 5px;
					color: #d10910;
					transform: rotate(180deg);
				}
			}
		}
		.placeholder {
			color: #b4b4b4;
		}
		span {
			cursor: pointer;
			color: #3b3b3b;
			padding-right: 0;
		}
		label {
			right: 0;
			cursor: pointer;
			transition: 0.24s all;
			i {
				border: 0;
				cursor: pointer;
				position: relative;
				width: 100%;
				height: 100%;
				&:after {
					transition: all 0.24s;
					position: absolute;
					left: 0;
					color: #008b3b;
					top: 8px;
					content: "\6f";
					font-size: 9px;
					font-family: $Icon1;
					font-style: normal;
				}
			}
		}
	}
	.optWrapper {
		transition: opacity 0.25s;
		&.multiple  {
			.options {
				li {
					padding-left: 0;
					&.selected  {
						span {
							&:after {
								transform: scale(1);
							}
						}
					}
					span {
						width: 16px;
						height: 16px;
						margin-left: 0;
						left: 23px;
						border: 1px solid #e8e8e8;
						border-radius: 3px;
						bottom: auto;
						top: 3px;
						i {
							display: none;
						}
						&:after {
							content: '';
							position: absolute;
							right: 0;
							margin: auto;
							font-family: $Icon1;
							content: "\6e";
							color: #d10910;
							transition: 0.24s all;
							transform: scale(0);
							font-size: 8px;
							top: -5px;
							left: 3px;
						}
					}
					label {
						padding-left: 49px;
						padding-top: 2px;
						padding-bottom: 3px;
						line-height: 18px;
					}
				}
			}
		}
		&.open {
			max-height: 120px;
			top: 39px;
			z-index: 100;
			border-radius: 20px;
			border: 1px solid #bababa;
			background-color: #ffffff;
			border-top: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
		.options {
			padding: 0;
			margin: 0;
			margin-top: 0;
			margin-bottom: 20px;
			li {
				border: 0;
				padding: 0;
				border-radius: 0;
				list-style: none;
				margin: 0;
				&.selected {
					label {
						font-family: $SansProSemiBold;
						color: #232323;
					}
				}
				&:before,
				&:after {
					content: none;
				}
				&:hover {
					background: none;
				}
				label {
					padding-left: 23px;
					font-size: 14px;
					display: block;
					color: #3b3b3b;
					padding-right: 15px;
					padding-top: 3px;
					padding-bottom: 2px;
					line-height: 18px;
					cursor: pointer;
					transition: color 0.24s;
					&:hover {
						font-family: $SansProSemiBold;
						color: #232323;
					}
					&:first-child {
						border-radius: 0;
					}
				}
			}
		}
		.jspDrag {
			width: 5px;
			border-radius: 10px;
			border: 0;
			left: -1px;
			border-left: 5px solid #d10910;
			transition: all 0.3s;
			&:hover {
				border-color: #008b3b;
			}
			&:active {
				border-color: #008b3b;
			}
		}
		.jspHover {
			background-color: #ff3050;
		}
		.jspActive {
			background-color: #ce0020;
		}
		.jspTrack {
			background-color: #f3f3f3;
			left: 0;
			width: 3px;
		}
		.jspVerticalBar {
			right: 0;
			width: 24px;
			.jspCap {
				height: 5px;
				&.jspCapBottom {
					height: 20px;
				}
			}
		}
	}
	ul {
		li {
			&.disabled {
				display: none;
			}
		}
	}
	&:hover,
	&:focus {
		.CaptionCont {
			border-color: #bababa;
		}
	}
}
/* summoselect  end */
button {
	cursor: pointer;
}
.uploadFile {
	position: relative;
	transition: all 0.25s;
	appearance: none;
	cursor: pointer;
	width: 100%;
	text-align: left;
	padding-left: 33px;
	display: block;
	&:hover {
		span {
			border-color: #008b3b;
			color: #008b3b;
		}
		&:after {
			animation-name: hvr-pulse;
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
	}
	&:after {
		transition: 0.24s all;
		position: absolute;
		left: -2px;
		top: 3px;
		font-size: 29px;
		color: #008b3b;
		content: "\7a";
		font-family: $Icon2;
	}
	&__title {
		color: #3b3b3b;
		margin-bottom: 11px;
		display: block;
		font-family: $SansProSemiBold;
	}
	&__document {
		margin-top: 29px;
	}
	&__item {
		width: 209px;
		position: relative;
		margin-bottom: 6px;
		&-text {
			color: #3b3b3b;
			display: block;
			padding-right: 30px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		&-close {
			position: absolute;
			right: -2px;
			top: 4px;
			width: 20px;
			height: 20px;
			display: block;
			background-color: #f3f3f3;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: 0.24s all;
			&:after {
				color: #706f6f;
				font-size: 8px;
				font-family: $Icon1;
				content: "\71";
				transition: 0.24s all;
			}
			&:hover {
				background-color: #d10910;
				text-decoration: none;
				&:after {
					color: #fff;
				}
			}
		}
	}
	&:after {

	}
	span {
		color: #707070;
		font-size: 18px;
		border-bottom: 1px solid #706f6f;
	}
	input {
		position: absolute;
		left: -99999px;
	}
}
.checkbox,
.radio {
	display: inline-block;
	position: relative;
	&__button {
		display: block;
		position: absolute;
		width: 24px;
		height: 24px;
		border-radius: 5px;
		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		cursor: pointer;
		top: 0px;
		left: 0;
		transition: all 0.24s;
		background-color: #fff;
		&:after {
			content: '';
		}
	}
	&__text {
		transition: all 0.24s;
		text-decoration: none;
		cursor: pointer;
		color: #3b3b3b;
		font-size: 13px;
		vertical-align: top;
		padding-left: 35px;
		line-height: 17px;
		font-size: 13px;
		min-height: 24px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		&:hover {
			color: #2a2b37;
		}
	}
	input[disabled] {
		cursor: none;
		pointer-events: none;
	}
	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}
	input[disabled] + .checkbox__button {
		border-color: #e8e8e8;
		background-color: #e8e8e8;
		cursor: not-allowed;
		pointer-events: none;
	}
	input[disabled] + .checkbox__button + ins {
		color: #c9c9c9;
		cursor: not-allowed;
		pointer-events: none;
	}
	input[disabled] + .checkbox__button,
	input[disabled] + .checkbox__button + ins {
		cursor: not-allowed;
		pointer-events: none;
	}
	input[disabled] + .radio__button {
		border-color: #f3f3f3;
		background-color: #f3f3f3;
		cursor: not-allowed;
		pointer-events: none;
	}
	input[disabled] + .radio__button + ins {
		color: #c9c9c9;
		cursor: not-allowed;
		pointer-events: none;
	}
	input[disabled] + .radio__button,
	input[disabled] + .radio__button + ins {
		cursor: not-allowed;
		pointer-events: none;
	}
}
.checkbox {
	&__text {
		a {
			color: #d10910;
			text-decoration: none;
		}
		@include fiftyBorderHover(#d10910,#d10910);
	}
	&:hover {
		.checkbox__button {
			border-color: #bababa;
		}
	}
	&__button {
		overflow: hidden;
		&:after {
			content: "\6d";
			font-family: $Icon1;
			top: -20px;
			margin-left: auto;
			margin-right: auto;
			position: absolute;
			font-size: 14px;
			background-repeat: no-repeat;
			background-size: 100%;
			text-align: center;
			transition: 0.24s all;
			color: #d10910;
			left: 0;
			right: 0;
		}
	}
	input:checked + .checkbox__button + .checkbox__text {
		color: #757575;
	}
	input:checked + .checkbox__button {
		border-color: #e8e8e8;
		&:after {
			top: -1px;
		}
	}
}
.radio {
	&.bold {
		.radio__text  {
			font-family: $SansProSemiBold;
			font-size: 18px;
		}
	}
	&__text {
		a {
			text-decoration: none;
		}
	}
	&:hover {
		.radio__button {
			background-color: transparent;
			border: 1px solid #bababa;
		}
	}
	&__text {
		font-size: 14px;
		min-height: 24px;
	}
	&__button {
		width: 20px;
		height: 20px;
		background-color: #f3f3f3;
		border: 1px solid #f3f3f3;
		border-radius: 50%;
		overflow: hidden;
		left: -5px;
		top: 3px;
		&:after {
			content: '';
			width: 10px;
			height: 10px;
			top: 30px;
			position: absolute;
			margin-right: auto;
			margin-left: auto;
			background-color: #d10910;
			border-radius: 50%;
			transition: 0.24s all;
			left: 0;
			right: 0;
		}
	}
	input:checked + .radio__button + .radio__text {
		color: #2a2b37;
	}
	input:checked + .radio__button {
		background-color: #f3f3f3;
		border: 1px solid #f3f3f3;
		&:after {
			top: 4px;
		}
	}

}
/*CHECKBOX AND RADIO END*/
/* INPUT START */
textarea:focus::-webkit-input-placeholder,
input:focus::-webkit-input-placeholder {
	color:transparent;
}
textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder {
	color: transparent;
}
textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
	color:transparent;
}
textarea:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
	color:transparent;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #b4b4b4;
	font-family:  $SansProRegular;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
	color: #b4b4b4;
	font-family:  $SansProRegular;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
	color: #b4b4b4;
	font-family:  $SansProRegular;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #b4b4b4;
	font-family:  $SansProRegular;
}
.error::-webkit-input-placeholder {
	color: #d10910;
}
.error::-moz-placeholder {
	color: #d10910;
}
.error:-ms-input-placeholder {
	color: #d10910;
}
.error:-moz-placeholder {
	color: #d10910;
}
input,textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.formField {
	margin-bottom: 15px;
	position: relative;
	input,
	textarea {
		width: 100%;
		border-radius: 20px;
		border: 1px solid #e8e8e8;
		color: #3b3b3b;
		padding-top: 10px;
		padding-left: 23px;
		padding-right: 13px;
		padding-bottom: 12px;
		font-size: 16px;
		transition: all 0.25s;
		line-height: 21px;
		font-family:  $SansProRegular;
		&:hover {
			border-color: #bababa;
		}
		&:active {
			border-color: #bababa;
		}
		&:focus {
			border-color: #bababa;
		}
	}
	.form-error {
		position: absolute;
		left: 0;
		display: block;
		color: #d10910;
		bottom: -18px;
		font-size: 12px;
	}
	textarea {
		resize: none;
		height: 100px;
	}

}

.button {
	display: block;
	width: 100%;
	margin: 0;
	background: none;
	border-radius: 3px;
	border: 0;
	text-decoration: none;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: $SansProRegular;
	line-height: 24px;
	font-size: 18px;
	transition: 0.24s all;
	&:hover {
		text-decoration: none;
	}
	&.redButton {
		color: #ffffff;
		border-radius: 25px;
		background-color: #d10910;
		&:hover {
			background-color: #ff3a41;
		}
	}
	&.searchButton {
		border-radius: 20px;
		color: #ffffff;
		background-color: #706f6f;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 35px;
		font-size: 16px;
		height: 41px;
		overflow: hidden;
		position: relative;
		span {
			position: relative;
			display: inline-block;
			vertical-align: top;
			transition: 0.34s all;
			&:before {
				position: absolute;
				left: -23px;
				top: -1px;
				font-size: 16px;
				font-family: $Icon1;
				content: "\63";
				transition: 0.34s all;
			}
		}
		&:before {
			font-family: $Icon1;
			content: "\63";
			transition: 0.24s all;
			position: absolute;
			left: 50%;
			top: -100%;
			font-size: 22px;
			transform: translateX(-50%);
			transition: 0.34s all;
		}
		&:hover {
			span {
				transform: translateY(300%);
			}
			&:before {
				top: 7px;
			}
		}
		&:active {
			span {
				transform: translateY(300%);
			}
			&:before {
				top: 7px;
			}
		}
	}
	&.greyButton {
		max-width: 271px;
		height: 50px;
		border-radius: 25px;
		background-color: #706f6f;
		color: #ffffff;
		margin: 0 auto;
		&:hover {
			background-color: #2d2c2c;
		}
	}
	&.greenButton {
		height: 50px;
		border-radius: 25px;
		background-color: #008b3b;
		color: #ffffff;
		position: relative;
		padding-top: 12px;
		overflow: hidden;
		padding-left: 42px;
		text-align: center;
		&:before {
			content: "\69";
			position: absolute;
			left: 28px;
			top: 11px;
			font-size: 22px;
			color: #ffffff;
			font-family: $Icon1;
			transition: 0.24s all;
		}
		&:hover {
			background-color: #11b858;
			padding-left: 0;
			padding-right: 0;
			&:before {
				top: 50px;
			}
		}
	}
	&.lineButton {
		border-radius: 25px;
		border: 1px solid #008b3b;
		color: #008b3b;
		transition: all 1s ease;
		position: relative;
		overflow: hidden;
		&:after {
			content: "";
			position: absolute;
			height: 0%;
			left: 50%;
			top: 50%;
			width: 150%;
			z-index: -1;
			transition: all 0.75s ease 0s;
			opacity: 0;
			background-image: -webkit-linear-gradient( transparent 50%, rgba(0, 139, 59, 0.05) 50%);
			background-image: -moz-linear-gradient(transparent 50%, rgba(0, 139, 59, 0.05) 50%);
			background-size: 35px 35px;
			transform: translateX(-50%) translateY(-50%) rotate(-25deg);
		}
		&:hover {
			&:after {
				height: 600% !important;
				opacity: 1;
				color: #FFF;
			}
		}
	}
	&.resetButton {
		max-width: 116px;
		border-radius: 20px;
		background-color: #f3f3f3;
		font-size: 16px;
		color: #3b3b3b;
		padding-top: 7px;
		padding-bottom: 9px;
		&:hover {
			background-color: #dddddd;
		}
		&:active {
			background-color: #d1d1d1;
		}
	}
	&.showItems {
		max-width: 296px;
		border-radius: 20px;
		background-color: #706f6f;
		color: #ffffff;
		font-size: 16px;
		position: relative;
		padding-top: 7px;
		padding-bottom: 9px;
		&:after,
		&:before {
			content: '';
			position: absolute;
			right: 26px;
			top: 9px;
			font-family: $Icon2;
			transition: 0.24s all;
			opacity: 0;
			font-size: 6px;
		}
		&:after {
			right: 23px;
		}
		&:hover {
			background-color: #383838;
			&:after,
			&:before {
				content: "\6e";
				opacity: 1;
			}
		}
	}
}
.redLink {
	color: #d10910;
	font-size: 18px;
	position: relative;
	font-family: $SansProSemiBold;
	line-height: 24px;
	&:after {
		content: '';
		position: absolute;
		bottom: -4px;
		right: 0;
		width: 0;
		height: 2px;
		transition: 0.24s all;
	}
	&:hover {
		text-decoration: none;
		&:after {
			background-color: #d10910;
			width: 100%;
			left: 0;
		}
	}
}
.addApplication {
	display: inline-block;
	vertical-align: top;
	padding-left: 54px;
	color: #707070;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	padding-top: 3px;
	&:hover {
		color: #008b3b;
		text-decoration: none;
		&:after {
			background-color: #008b3b;
		}
		&:before {
			transform: rotate(360deg);
		}
	}
	&:after {
		position: absolute;
		bottom: -4px;
		right: 0;
		content: '';
		width: 163px;
		height: 1px;
		background-color: #706f6f;
		transition: 0.3s all;
	}
	&:before {
		content: '+';
		padding-top: 7px;
		font-size: 40px;
		transition: 0.3s all;
		color: #fff;
		display: inline-block;
		vertical-align: top;
		position: absolute;
		left: 0;
		top: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		text-align: center;
		background-color: #008b3b;
	}
}
.tooltip {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;

	&__icon {
		cursor: pointer;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #e9e6f2;
		text-align: center;
		font-size: 21px;
		font-weight: 700;
		line-height: 30px;
		color: #c6c1d5;

		&:hover {
			+ .tooltip__container {
				display: block;
				opacity: 1;
				z-index: 1;
				transition: opacity 0.4s;
			}
		}
	}

	&__container {
		position: absolute;
		bottom: 43px;
		left: -195px;
		opacity: 0;
		z-index: -1;
		padding: 33px 37px;
		width: 264px;
		box-shadow: 0 10px 30px rgba(29, 30, 41, 0.30);
		background-color: #ffffff;
		color: #2a2b37;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		transition: opacity 0.4s;
		p {
			line-height: 18px;
		}
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			bottom: -11px;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12px 12px 0 12px;
			border-color: #ffffff transparent transparent transparent;
		}


		&:hover {
			display: block;
			opacity: 1;
			z-index: 1;
			transition: opacity 0.4s;
		}
	}
}
.arrowLink {
	width: 28px;
	height: 28px;
	background-color: #008b3b;
	display: flex;
	align-items: center;
	color: #fff;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	&:after,
	&:before {
		content: '';
		color: #fff;
		font-family: $Icon2;
		font-size: 31px;
		z-index: -1;
		transition: 0.3s all;
		position: absolute;
	}
	&.prev {
		&:after,
		&:before {
			content: "\6d";
			right: -2px;
		}
		&:before {
			right: -25px;
		}
	}
	&.next {
		&:after,
		&:before {
			content: "\6e";
			left: -2px;
		}
		&:before {
			left: -25px;
		}
	}
	&.disabled {
		background-color: #f3f3f3;
		pointer-events: none;
	}
	&:hover {
		background-color: #11b858;
		text-decoration: none;
			&.prev {
				&:after{
					right: 2px;
				}
				&:before {
					right: -8px;
				}
			}
			&.next {
				&:after{
					left: 2px;
				}
				&:before {
					left: -8px;
				}
			}
	}
}
.greenArrow .slick-arrow {
	top: 43%;
	width: 28px;
	height: 28px;
	background-color: #008b3b;
	display: flex;
	align-items: center;
	color: #fff;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	border: 0;
	font-size: 0;
	line-height: 0;
	&:after,
	&:before {
		content: '';
		color: #fff;
		font-family: $Icon2;
		font-size: 31px;
		z-index: -1;
		transition: 0.3s all;
		position: absolute;
	}
	&.slick-prev {
		left: 10px;
		&:after,
		&:before {
			content: "\6d";
			right: -2px;
		}
		&:before {
			right: -25px;
		}
	}
	&.slick-next {
		right: 10px;
		&:after,
		&:before {
			content: "\6e";
			left: -2px;
		}
		&:before {
			left: -25px;
		}
	}
	&.slick-disabled {
		background-color: #f3f3f3;
		pointer-events: none;
	}
	&:hover {
		background-color: #11b858;
		text-decoration: none;
			&.slick-prev {
				&:after{
					right: 2px;
				}
				&:before {
					right: -8px;
				}
			}
			&.slick-next {
				&:after{
					left: 2px;
				}
				&:before {
					left: -8px;
				}
			}
	}
}
.content-container .paggination,
.paggination {
	&__list {
		width: 100%;
		max-width: 395px;
		border-radius: 25px 25px 5px 5px;
		background-color: #f3f3f3;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 26px;
		padding-bottom: 24px;
		padding-left: 31px;
		padding-right: 31px;
	}
	&__item {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
		font-family: $SansProSemiBold;
		justify-content: center;
		&:before {
			content: none;
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 40px;
		border-radius: 50%;
		height: 40px;
		border: 1px solid #e8e8e8;
		background-color: #ffffff;
		color: #3b3b3b;
		&:hover {
			text-decoration: none;
			border-color: #008b3b;
		}
		&.current {
			border-color: #008b3b;
			background-color: #008b3b;
			color: #ffffff;
		}
		&.dots {
			width: auto;
			border: 0;
			background-color: transparent;
			border-radius: 0;
			align-items: normal;
			padding-top: 3px;
		}
		&.arrow {
			width: 20px;
			height: 20px;
			border: 0;
			overflow: hidden;
			background-color: #d2d2d2;
			transition: 0.24s all;
			&:hover {
				background-color: #008b3b;
			}
			&:after {
				content: '';
				color: #fff;
				font-family: $Icon2;
				font-size: 20px;
			}
			&.prev {
				&:after {
					content: "\6d";
				}
			}
			&.next {
				&:after {
					content: "\6e";
				}
			}
		}
	}
	&--inner-page {
		width: 100%;
		max-width: 395px;
		margin: 0 auto;

		.paggination__list {
			padding-left: 0;
			padding-right: 0;
			background-color: transparent;
		}
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@import "_footer";
.content-social {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 24px;
	@extend .main-footer__social;

	ul li {
		padding: 0;
		margin-bottom: 0;

		&::before {
			display: none;
		}
	}

	&__title {
		font-family: $SansProSemiBold;
		font-size: 18px;
		font-weight: 400;
		color: #3b3b3b;
	}

	&__list {
		@extend .main-footer__social-list;
	}

	&__link {
		@extend .main-footer__social-link;
	}
}
@keyframes hvr-pulse {
	25% {
		transform: scale(1.1);
	}
	75% {
		transform: scale(0.9);
	}
}
@import "_datepicker";
@import "_media";
