@charset "UTF-8";

@import "global/_variables";
@import "global/_mixin";

.thanksBlock {
	&__title {
		text-align: center;
		h2 {
			font-family: $SansProSemiBold;
			font-size: 30px;
			margin-top: 33px;
			margin-bottom: 25px;
		}
	}
	&__all {
		margin-top: 10px;
		.button.redButton {
			max-width: 204px;
			margin: 0 auto;
			display: block;
			font-size: 16px;
		}
	}
}
.thanksSlider {
	opacity: 0;
	transform: scale(0);
	transition: 0.3s all;
	&.visible {
		opacity: 1;
		transform: scale(1);
	}
	&__item {
		width: 160px;
		padding-left: 10px;
		padding-right: 10px;
	}
	&__link {
		width: 140px;
		border-radius: 20px;
		overflow: hidden;
		height: 210px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #e8e8e8;
		margin-bottom: 15px;
		transition: 0.24s all;
		&:hover {
			text-decoration: none;
			border-color: #ff3a41;
		}
		img {
			max-width: 100%;
		}
	}
	&__title {
		display: block;
		color: #3b3b3b;
		font-family: $SansProSemiBold;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		height: 38px;
		overflow: hidden;
		margin-bottom: 15px;
	}
	&.greenArrow {
		.slick-arrow {
			top: auto;
			bottom: -50px;
		}
	}
}
@media screen and (min-width: 768px) {
	.thanksBlock {
		padding-left: 25px;
		padding-right: 25px;
		&__title {
			h2 {
				margin-top: 57px;
				margin-bottom: 35px;
			}
		} 
		&__all {
			.button.redButton {
				max-width: 239px;
				font-size: 18px;
			}
		}
	}
	.thanksSlider {
		&__item {
			width: 180px;
		}
		&__link {
			width: 160px;
			height: 239px;
			margin-bottom: 19px;
		}
		&__title {
			font-size: 18px;
			line-height: 22px;
			height: 44px;
		}
		&.greenArrow {
			.slick-arrow {
				top: 33%;
				bottom: auto;
				&.slick-next {
					right: -1px;
				}
				&.slick-prev {
					left: -1px;
				}
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	.thanksBlock {
		padding-left: 51px;
		padding-right: 51px;
		&__title {
			h2 {
				margin-top: 38px;
				margin-bottom: 32px;
			}
		}
	}
	.thanksSlider {
		&__item {
			width: 196px;
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}
@media screen and (min-width: 1920px) {
	.thanksBlock {
		padding-left: 40px;
		padding-right: 40px;
		&__title {
			h2 {
				margin-top: 49px;
			}
		}
		&__all {
			margin-top: 55px;
		}
	}
	.thanksSlider {
		&__item {
			width: 227px;
			padding-left: 9px;
			padding-right: 9px;
		}
		&__link {
			width: 212px;
			height: 292px;
			margin-bottom: 30px;
		}
	}
}