@import "global/_variables";
@import "global/_mixin";

.vacancies {
	.sideBar__right {
		padding-top: 25px;

		ul {
			margin-top: 6px;
			margin-bottom: 0;

			li {
				margin-bottom: 5px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	&__title {
		font-family: $SansProSemiBold;
		font-size: 24px;
		font-weight: 400;
		line-height: 30px;
		color: #3b3b3b;
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 20px;
		padding-top: 2px;
		width: calc(100% - 40px);

		&--small {
			padding-left: 0;
			font-size: 18px;
			line-height: 24px;
			margin-top: 20px;
		}
	}

	&__item {
		padding-top: 10px;
		margin-bottom: 14px;
		
		&:first-of-type {
			margin-top: 12px;
		}
		
		&:last-of-type {
			margin-bottom: 20px;
		}

		&.show {
			background-color: #e8e8e8;
			border-radius: 25px;
			margin-right: -20px;
			margin-left: -20px;
			padding-left: 16px;
			padding-right: 16px;
			padding-bottom: 40px;
			transition: background-color 0.5s;

			.vacancies__item-ic {
				position: relative;
				font-style: normal;
				width: 40px;
				height: 40px;
				display: inline-block;

				&::before {
					content: '-';
					font-size: 25px;
					transition: 0.3s all;
					color: #fff;
					position: absolute;
					left: 0;
					top: 0;
					width: 40px;
					height: 40px;
					line-height: 37px;
					border-radius: 50%;
					text-align: center;
					background-color: $primary-color;
					transform: rotate(360deg);
					transition: transform 0.5s;
				}
			}
		}

		&-header {
			cursor: pointer;
			display: flex;
			padding-top: 5px;
		}

		&-ic {
			position: relative;
			font-style: normal;
			width: 40px;
			height: 40px;
			display: inline-block;

			&::before {
				content: '+';
				font-size: 25px;
				transition: 0.3s all;
				color: #fff;
				position: absolute;
				left: 0;
				top: 0;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
				text-align: center;
				background-color: #008b3b;
			}
		}

		&-content {
			font-size: 0;
			height: 0;
			transition: height 0.5s padding 0.5s;

			ul {
				display: none;
			}

			.button {
				display: none;
			}

			.vacancies__title--small {
				font-size: 0;
			}

			&.show {
				font-size: 16px;
				height: auto;
				padding-top: 18px;
				transition: height 0.5s padding 0.5s;

				ul {
					display: block;
					margin-bottom: 8px;
				}

				.button {
					display: block;
					margin: 0 auto;
				}

				.vacancies__title--small {
					font-size: 18px;
					margin-top: 35px;
				}
			}
		}

		&-contacts {
			padding-bottom: 24px;
		}

		&-footer {
			padding-top: 10px;
			padding-left: 20px;

			span {
				display: block;
				font-family: $SansProSemiBold;
				color: #3b3b3b;
			}
		}

		.button {
			max-width: 252px;
			height: 50px;
		}
	}
}
@media screen and (min-width: 768px) {
	.vacancies {
		&__item {
			padding-top: 0;
			padding-left: 48px;
			padding-right: 50px;
			margin-bottom: 27px;
			
			&:first-of-type {
				margin-top: 12px;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			&.show {
				background-color: #e8e8e8;
				border-radius: 25px;
				margin-right: 0;
				margin-left: 0;
				padding-top: 25px;				
				padding-left: 48px;
				padding-right: 50px;
				padding-bottom: 40px;
				transition: background-color 0.5s;

				.vacancies__item-ic {
					position: relative;
					font-style: normal;
					width: 40px;
					height: 40px;
					display: inline-block;

					&::before {
						content: '-';
						font-size: 25px;
						transition: 0.3s all;
						color: #fff;
						position: absolute;
						left: 0;
						top: 0;
						width: 40px;
						height: 40px;
						line-height: 37px;
						border-radius: 50%;
						text-align: center;
						background-color: $primary-color;
						transform: rotate(360deg);
						transition: transform 0.5s;
					}
				}
			}

			&-header {
				cursor: pointer;
				display: flex;
				padding-top: 5px;
				width: 100%;
			}

			&-ic {
				position: relative;
				font-style: normal;
				width: 40px;
				height: 40px;
				display: inline-block;

				&::before {
					content: '+';
					font-size: 25px;
					transition: 0.3s all;
					color: #fff;
					position: absolute;
					left: 0;
					top: 0;
					width: 40px;
					height: 40px;
					line-height: 40px;
					border-radius: 50%;
					text-align: center;
					background-color: #008b3b;
				}
			}

			&-col {
				width: 50%;

				&:last-of-type {
					padding-left: 10px;
				}
			}

			&-content {
				font-size: 0;
				height: 0;
				transition: height 0.5s padding 0.5s;
				display: flex;
				flex-wrap: wrap;

				ul {
					display: none;
				}

				.button {
					display: none;
				}

				.vacancies__title--small {
					font-size: 0;
					width: 50%;
				}

				&.show {
					font-size: 16px;
					height: auto;
					padding-top: 18px;
					transition: height 0.5s padding 0.5s;

					ul {
						display: block;
						margin-bottom: 8px;
					}

					.button {
						display: block;
						margin-left: 97px;
					}

					.vacancies__title--small {
						font-size: 18px;
						margin-top: 35px;
					}
				}
			}

			&-contacts {
				width: 50%;
			}

			&-footer {
				padding-top: 10px;
				padding-left: 0;
				padding-bottom: 0;
				width: 100%;
				display: flex;
				align-items: center;

				span {
					display: block;
					font-family: $SansProSemiBold;
					color: #3b3b3b;
				}
			}

			.button {
				max-width: 252px;
			}
		}
	}
}
@media screen and (min-width: 1280px) {
	
.vacancies {
	.sideBar__right {
		padding-top: 0;

		ul {
			margin-top: 6px;
			margin-bottom: 0;

			li {
				margin-bottom: 5px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	&__item {
		padding-top: 10px;
		padding-right: 0;
		margin-bottom: 18px;
		
		
		&:first-of-type {
			padding-left: 45px;
			padding-top: 25px;
		}

		&-contacts {
			width: 62%;
		}

		&-col {
			width: 48%;
			padding-left: 50px;

			&:last-of-type {
				width: 52%;
				padding-left: 5px;
			}
		}

		&-footer {
			padding-top: 20px;
			padding-left: 54px;
		}

		&.show {
			.button {
				display: block;
				margin-left: 10px;
			}
		}
	}
}
}
@media screen and (min-width: 1920px) {
	
}